<body>
    <p>Hello, <strong>{{user.local.email}}</strong>!</p>
    <br />
    <p>Welcome to DiscZump{{#if user.local.passcode}} Beta{{/if}}! Please go to 
    <a href="{{serverURL}}/confirm/{{confirm.authorizationId}}">Confirm Account</a>
    to start using your new account.</p>
    <br />
    <p>Happy Zumping!</p>
    <strong>DiscZump Staff</strong>
</body>
