<body>
    <p>Hello, <strong>{{user.local.username}}</strong>!</p>
    <br />
    <p>Welcome to disc|zump{{#if user.local.passcode}} Beta{{/if}}! Please go to 
    <a href="{{serverURL}}/confirm/{{confirm._id}}">Confirm Account</a>
    to start using your new account.</p>
    <br />
    <p>Upon confirmation, your dashboard will be populated with 7 demo discs to 
    help visualize the many functions of disc|zump.  These can be deleted and replaced 
    with your own collection whenever you're ready!</p>
    <br />
    <p>If you are accessing disc|zump from a mobile device, you will notice limited functionality in comparison 
    to the desktop version.  We are working hard to update the mobile version of the website, but for now take 
    advantage of the complete set of features from a desktop computer.</p>
    <br />
    <p>Happy Zumping!</p>
    <strong>disc|zump Staff</strong>
</body>
