<body>
    <p>Hello, <strong>{{email}}</strong>!</p>
    <br />
    <p>We are happy to inform you that DiscZump is now live! Click on the following 
    link to create a new (and completely free) account. Once you sign up, you will  be
    asked to confirm your email address. To get you started, your new account will 
    come with sime demo discs to examplify the features of the DiscZump user interface.
    </p>
    <p><a href="{{serverURL}}/signup">DiscZump Sign Up</a></a>
    <br />
    <p>Happy Zumping!</p>
    <strong>DiscZump Staff</strong>
</body>