<body>
    <p>Hello, <strong>{{email}}</strong>!</p>
    <br />
    <p>We are happy to inform you that disc|zump is now live! Click on the following 
    link to create a new (and completely free) account. To complete the account creation 
    process, you will receive an email containing a confirmation link. Once your email is 
    confirmed, your new account will be populated with a small collection of demo discs 
    to exemplify the features of the disc|zump user interface. Please feel free to directly
    email <strong>ben@disczump.com</strong> or <strong>mike@disczump.com</strong> with 
    any questions or concerns.</p>
    <br />
    <p><a href="{{serverURL}}/signup">disc|zump Sign Up</a></p>
    <br />
    <p>Happy Zumping!</p>
    <strong>disc|zump Staff</strong>
</body>