<body>
    <p>Hello, <strong>{{email}}</strong>!</p>
    <p>We are happy to inform you that DiscZump is now live! Click on the following 
    link to create a new (and completely free) account. To complete the account creation 
    process, you will receive an email containing a confirmation link. Once your email is 
    confirmed, your new account will be populated with a small collection of demo discs 
    to examplify the features of the DiscZump user interface. Please feel free to directly
    email ben@disczump.com or mike@disczump.com with any questions or concerns.</p>
    <p><a href="{{serverURL}}/signup">DiscZump Sign Up</a></a>
    <br />
    <p>Happy Zumping!</p>
    <strong>DiscZump Staff</strong>
</body>