<body>
    <p>Hello, <strong>{{user.local.email}}</strong>!</p>
    <br />
    <p>You have recently initiated a request to reset your password. Please go 
    to <a href="http://disczumpserver-mgagliardo.c9.io/recover/{{recover.authorizationId}}">Password Recovery</a>
    to reset your password.</p>
    <br />
    <p>This link will expire in 1 hour.</p>
    <br />
    <p>Happy Zumping!</p>
    <strong>DiscZump Staff</strong>
    <br />
    <hr>
</body>
