<body>
    <p>Hello, <strong>{{user.local.username}}</strong>!</p>
    <br />
    <p>You have recently initiated a request to reset your password. Please go 
    to <a href="{{serverURL}}/recover/{{recover._id}}">Password Recovery</a>
    to reset your password.</p>
    <br />
    <p>This link will expire in 1 hour.</p>
    <br />
    <p>Happy Zumping!</p>
    <strong>disc|zump Staff</strong>
    <br />
    <hr>
</body>
