<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml">

<head>
    <meta charset="utf-8" />
    <meta name="description" content="disc|zump is a social disc golf inventory network enabling users to organize, maintain and share collections across any internet-enabled device." />
    <link rel="shortcut icon" href="/static/logo/favicon.ico">
    <meta name="google-site-verification" content="NnxTn6Aky5tbZ029ca1tbLozYyYkl0xMeTcP_IWu3hI" />
    <title>disc|zump</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    {{{_sections.head}}}
</head>
{{{body}}}
</html>
