<!DOCTYPE html>
<html>
    <head>
	    <meta name="description" content="disc|zump is a social disc golf inventory network enabling users to organize, maintain and share collections across any internet-enabled device." />
        <link rel="shortcut icon" href="/static/logo/favicon.ico">
        <meta name="google-site-verification" content="NnxTn6Aky5tbZ029ca1tbLozYyYkl0xMeTcP_IWu3hI" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" media="screen">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/internal/admin.css">
        <style type="text/css">
            body { padding-top: 70px; }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.rawgit.com/jashkenas/underscore/master/underscore.js"></script>
        {{{_sections.head}}}
    </head>
    <body>
        <nav class="zump-navbar navbar-inverse zump-navbar-fixed-top" role="navigation">
            <div class="container-fluid full-height">
                <div class="zump-navbar-header float-left">
                    <a href="/"><img src="/static/logo/logo_text.svg" class="nav-logo"></a>
                </div>
                <div class="navbar-btn-container full-height float-right">
                    <div class="navbar-btn-list">
                        <ul class="zump-nav">
                            <li class="zump-navbar-dropdown">
                                {{#if image}}
                                    <a href="#" class="dropdown-toggle image-link" data-toggle="dropdown" role="button" aria-expanded="false" id="nav-account"><img src="{{userString.image}}"/><span><i class="fa fa-angle-double-down fa-lg"></i></span></span></a>
                                {{else}}
                                    
                                    <a href="#" class="dropdown-toggle image-link" data-toggle="dropdown" role="button" aria-expanded="false" id="nav-account"><img src="/static/logo/logo_high_nobg.svg"/><span><i class="fa fa-angle-double-down fa-lg"></i></span></span></a>
                                {{/if}}
                                <ul class="zump-navbar-dropdown-menu dropdown-menu" role="menu">
                                    <li><a href="/dashboard"><span><i class="fa fa-tachometer fa-tools"></i></span>Dashboard</a></li>
                                    <li><a href="/logout" data-ajax="false"><span><i class="fa fa-sign-out fa-tools"></i></span>Logout</a></li>
                                </ul>
                            </li>
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <script src="/static/js/main.js"></script>
        <script src="/static/js/internal/admin.js"></script>
        {{{body}}}
    </body>
</html>
