/*-----------------------------------*/
/*----------- Public Classes --------*/
/*-----------------------------------*/
* { padding: 0; margin: 0; }

html {
    min-height: 100% !important;
    height: 100%;
}

body {
    min-height: 100% !important;
}

.scroll-lock {
	overflow: hidden;
}

.wrapper {
    position: relative;
    padding-bottom:60px;
}

a, a:hover, a:visited, a:link, a:active  {
    color: inherit;
    text-decoration: none;ac
}

.no-focus:focus {
	outline: none;
}

.min-window-width {
    min-width: 800px;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none;
}

input.validation.ng-invalid:not(.ng-pristine), select.validation.ng-invalid:not(.ng-pristine) {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
input.validation.ng-valid:not(.ng-pristine), select.validation.ng-valid:not(.ng-pristine) {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.alert {
    padding: 5px 15px;
    margin: 0px 20px 20px 20px;
}

.handle-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.no-animate.ng-hide-add, .no-animate.ng-hide-remove {
    display: none;
}

.dz-italic {
    color: #666 !important;
	font-style: italic !important;
    font-weight: normal !important;
}

.dz-blue {
    color: #008EDD !important;
}

.dz-blue-hover:hover {
    color: #008EDD !important;
}

.dz-blue-background {
    background-color: #008EDD;
}

.hover-message-color:hover {
    color: #c3c3c3;
}

.hover-icon-color:hover {
    color: #c3c3c3;
}

.hover-edit-color:hover {
    color: #ffbe49;
}

.hover-delete-color:hover {
    color: #e85947;
}

.hover-link-color:hover {
    color: #00a926;
}

.hover-fb-color:hover {
    color: #3b5999;
}

.header-color-1 {
    background-color: #DADADA;
}

.header-color-2 {
    background-color: #F3F3F3;
}

.full-height {
    height: 100%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.absolute-top-right {
    position: absolute;
    top: 0px;
    right: 0px;
}

.draggable {
    cursor: move !important;
}

.fa-tools {
    margin-right: 10px;
}

.backdrop {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 990;
}

.backdrop-dark {
    background-color: rgba(0, 0, 0, 0.9);
}

.page-content {
    padding: 10px 20px;
}

.loader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.5);
    min-height: 420px;
}

.loader > div {
    text-align: center;
    margin-top: 200px;
    font-size: 5em;
}

.loader > div > i {
    display: inline-block;
}

.left-container {
    float: left;
    width: 250px;
    padding: 10px;
    padding-top: 0px;
}

.right-container {
    margin-left: 260px;
}

.right-container.fullscreen {
    margin-left: 0px;
}

.hover-underline:hover {
    cursor: pointer;
    text-decoration: underline;
}

.hover-strikethrough:hover {
    cursor: pointer;
    text-decoration: line-through;
}

.hover-pointer:hover {
    cursor: pointer;
}

.title-row {
    margin: 0px auto 20px auto;
}

.title-btn {
    font-size: 2em;
    cursor: pointer;
    padding-right: 10px;
}

.title-btn:last-of-type {
    padding-right: 0px;
}

.page-title {
    font-size: 1.8em;
    font-weight: bold;
}

.page-title + hr {
    margin-top: 5px;
    margin-bottom: 0;
    border-top: 1px solid #d2d2d2;
    z-index: 10;
}

img.fit-parent {
    max-width: 100%;
    max-height: 100%;
}

.fancy-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
 
.fancy-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
.fancy-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.fancy-scroll.lite::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px #EEEEEE; 
}

.page-content.full-width {
    margin: 0px auto;
    max-width: 1300px;
    width: 80%;
}

.dz-label {
    font-weight: bold;
    padding: 2px 10px;
    background-color: #eee;
    color: #000;
    border: 1px solid #a3a3a3;
    border-radius: 3px;
    margin-bottom: 20px;
}

.dz-label-icon {
    float: right;
}

.required-field {
    color: #f00;
}

.sticky-footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.redirect-loader {
    margin-bottom: 20px;
}

.redirect-container {
    text-align: center;
    font-size: 4em;
    margin-bottom: 20px;
}

.form-small {
    max-width: 600px;
    margin: auto;
}

.message-alert {
	
}

.message-alert.dock {
	position: absolute;
	z-index: 500;
	left: 0;
	right: 0;
}

.message-alert.dock.dock-top {
	top: 0;
}

.message-alert.dock.dock-bottom {
	bottom: 0;
}

.message-alert.dock .alert-success,
.message-alert.dock .alert-info,
.message-alert.dock .alert-error {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
		-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
		-moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

/*-----------------------------------*/
/*--------- Header Bar CSS ----------*/
/*-----------------------------------*/

.dz-navbar {
    height: 50px;
    z-index: 2000;
    background-color: #4A4A4A;
    padding: 0px 15px;
}

.dz-navbar.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

.dz-navbar-btn-container {
    display: table;
    height: 100%;
}

.dz-navbar-btn-list {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.dz-navbar-btn-list .dz-navbar-item {
    display: inline-block;
    color: #BEBEBE;
    cursor: pointer;
    z-index: 1000;
    position: relative;
}

.dz-navbar-links {
    height: 50px;
    float: left;
    line-height: 45px;
}

.dz-navbar-btn-list .dz-navbar-btn {
    padding: 0px 10px;
    margin: 0px 5px;
}

.dz-navbar-btn-list .dz-navbar-item.active {
    border-bottom: 5px solid #008edd;
    cursor: default;
}

.dz-navbar-btn-list .dz-navbar-item.active:hover {
    cursor: default;
}


.dz-navbar-btn-list .dz-navbar-item:not(.active):hover {
    color: #008edd;
}

.dz-navbar-btn-list .dz-navbar-btn.dz-navbar-dropdown:hover {
    color: #EEEEEE;
    text-decoration: none;
}

.dz-navbar-logo {
    height: 30px;
}

.dz-navbar-dropdown {
    padding-top: 5px;
    margin-left: 20px;
}

.dz-navbar-dropdown > img {
    max-width: 40px;
    max-height: 40px;
    margin-right: 5px;
}

.dz-dropdown-menu {
    position: absolute;
    top: 100%;
    left: auto;
    right: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0px;
    margin: 0px;
    list-style: none;
    font-size: 14px;
    background-color: #FFFFFF;
    border: 1px solid #BEBEBE;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
}

.dz-dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    color: #4A4A4A;
    white-space: nowrap;
}

.dz-dropdown-menu > li > a:hover {
    text-decoration: none;
    background-color: #EEEEEE;
}

.nav-arrow {
    position: absolute;
    bottom: 5%;
    text-align: center;
    width: 100%;
    z-index: 10;
}

.nav-arrow i {
    font-size: 4em;
    cursor: pointer;
    color: #4A4A4A;
}

.nav-arrow i:hover {
    color: #008EDD;
}

/*-----------------------------------*/
/*------------- Profile Bar ---------*/
/*-----------------------------------*/

.profile-preview.bar {
    padding: 5px 30px;
    text-align: center;
}

.profile-preview.bar span {
    margin: 5px;
    padding: 7px 20px;
}

.profile-preview-image {
    max-width: 75px;
    max-height: 75px;
}

.profile-preview-image.bar {
    max-width: 35px;
    max-height: 35px;
}

.profile-preview-info {
    margin-left: 85px;
}

.profile-preview-info.bar {
    margin-left: 60px;
}

.profile-preview-text-lg {
    line-height: 27px;
    font-size: 14px;
    font-weight: bold;
}

.profile-preview-text-sm {
    line-height: 16px;
    font-size: 11px;
}

.profile-preview-btn-container {
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    border: 1px solid #EEEEEE;
}

.profile-preview-btn-container {
    padding: 10px;
    text-align: center;
}

.profile-preview-btn {
    width: 125px;
    background-color: #EEEEEE;
    border-radius: 5px;
    line-height: 30px;
    font-size: 12px;
}

.profile-preview-btn i {
    padding-right: 5px;
}

.profile-preview-btn:hover {
    background-color: #008EDD;
    color: #EEEEEE;
    cursor: pointer;
}

.page-info {
    width: 90%;
    margin: 0px auto 20px auto;
    color: #828282;
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    text-align: left;
    padding: 3px 15px;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.page-info.small {
    max-width: 500px;
}

.page-info-title {
    font-weight: bold;
    margin-bottom: 5px;
}

/*-----------------------------------*/
/*--------- Profile Cards -----------*/
/*-----------------------------------*/
.card-container {
    display: table;
    margin: auto;
}

.card-list {
    max-width: 660px;
    display: inline-block;
    position: relative;
    max-height: 125px;
}

.profile-card {
	height: 120px;
	max-height: 120px;
    display: inline-block;
    border-radius: 5px;
    border: 2px solid #585858;
    overflow: hidden;
    margin: 0px 5px;
	position: relative;
    z-index: 1;
}

.profile-card.init {
	visibility: hidden !important;
}

.p-container {
	display: table;
	height: 100%;
	min-width: 200px;
}

.p-info {
	
}

.p-info-content {
	background-color: rgba(255,255,255,.25);
	min-width: 150px;
}

.p-info-text{
	width: 100%;
	text-align: left;
	height: 50px;
	padding: 0px 10px;
}

.p-username {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 30px;
}

.p-name {
	line-height: 20px;
    font-size: 0.9em;
}

.p-info-img {
	float: left;
	height: 100%;
	min-width: 96px;
	padding: 10px;
	border-right: 2px solid #585858;
    overflow: hidden;
	background-color: rgba(0, 142, 221, 0.24);
}

.p-info-img > img {
    height: 100%;
	border: 1px solid #666;
}

.p-info-bio {
	height: 70px;
    max-height: 60px;
    overflow: auto;
    padding: 3px 10px;
    font-size: 0.8em;
    max-width: 300px;    
	margin-right: 5px;
}

.p-info-bio.has-ph {
    display: table;
}

.p-info-bio > .placeholder {
    color: #7b7b7b;
    font-style: italic;
    display: table-cell;
    vertical-align: middle;
}

.p-count {
	background-color: rgba(255,186,0,.34);
}

.p-count > .p-container {
}

.p-count-text {
	text-align: center;
}

.p-count-data {
	color: #805e00;
    font-weight: bold;
    font-size: 4.4em;
    line-height: 80px;
}

.p-count-label {
	color: #805e00;
    font-weight: bold;
}

.align-vmid {
	display: table-cell;
	vertical-align: middle;
}


#map {
	height: 120px;
}

.p-icon-button  .p-container {
	min-width: 100px;
	width: 100px;
}

.p-icon-button .p-container:hover {
	-webkit-box-shadow: inset 0px 0px 10px 2px rgba(0,144,221,0.7);
	-moz-box-shadow: inset 0px 0px 10px 2px rgba(0,144,221,0.7);
	box-shadow: inset 0px 0px 10px 2px rgba(0,144,221,0.7);
}

.p-icon-button  .p-icon-text:hover {
	color: #008edd;
	cursor: pointer;
}

.p-icon-button  .p-icon-style {
	font-size: 2.2em;
    line-height: 40px;
}

.p-icon-split {
    width: 50%;
}

.p-icon-split:first-child {
	border-right: 2px solid #585858;
}

.p-icon-text {
	text-align: center;
}

.p-icon-style {
    font-weight: bold;
    font-size: 4.4em;
    line-height: 80px;
}

.p-icon-label {
	font-weight: bold;
}

.p-cal {
	background-color: rgba(255, 97, 51, 0.38);
}

.p-cal .p-icon-style, .p-cal .p-icon-label {
    color: #992400;
}

.p-pdga {
	background-color: rgba(77, 222, 0, 0.28);
}

.p-pdga .p-icon-style, .p-pdga .p-icon-label {
    color: #3e6f25;
}

.p-loc-label {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	font-size: 0.8em;
	padding: 2px 0px;
	text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    color: white;
}
/*-----------------------------------*/
/*------------- Portal --------------*/
/*-----------------------------------*/

.cont-sm {
    max-width: 450px;
    margin: auto;
}

.portal-intro {
    margin-bottom: 50px
}

.portal-title {
    padding-top: 50px;
    padding-bottom: 50px;
}

.portal-title > img {
    width: 100%;
    max-width: 100%;
}

.intro-sep {
    text-align: center;
    padding: 20px 0px;
    font-size: 2em;
    font-family: cursive;
    color: #FFa840;
}

#explore-search {
    z-index: -99;
    background-color: #fff;
    position: relative;
    position: fixed;
    top: 0;
}

#explore-btn {
    color: #4A4A4A;
    border-color: #4A4A4A;
	background-color: #EEEEEE;
    padding: 10px 40px;
    font-size: 1.3em;
}

#explore-btn:hover {
    color: #EEE;
    background-color: #008EDD;
}

#explore-start {
    background-color: #fff;
    padding: 20px 0px 20px 0px;
    -webkit-box-shadow: 0px -5px 13px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px -5px 13px 0px rgba(0,0,0,0.5);
    box-shadow: 0px -5px 13px 0px rgba(0, 0, 0, 0.5);
}

.explore-category {
    margin: 0px 40px 10px 40px;
}

.explore-cat-label {
    margin-bottom: 5px;
}

.explore-cat-list {
    margin: auto;
    display: table;
}

.explore-item {
    float: left;
    width: 150px;
    display: block;
    text-align: center;
    margin-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
	position: relative;
}

.explore-item:hover {
    border: 1px solid #008EDD;
}

.explore-item:first-child {
    margin-left: 0px;
}

.explore-item img {
    width: 120px;
    height: 120px;
    text-align: center;
}

.explore-item-title {
    font-weight: bold;
    font-size: 0.8em;
    margin-top: 10px;
}

.explore-item-icon {
	height: 20px;
	min-width: 20px;
    background-color: #4A4A4A;
    position: absolute;
    line-height: 20px;
    padding: 0px 5px;
	font-size: 10px;
}

.explore-item-icon.top-left {
	top: 10px;
    left: 14px;
	border-bottom-right-radius: 5px;
}

.explore-item-icon.top-right {
	top: 10px;
    right: 14px;
	border-bottom-left-radius: 5px;
}

.explore-nav {
    margin: auto;
    display: table;
    font-size: 0.8em;
    color: #000;
}

.explore-nav .nav-list-arrow {
    font-size: 1.3em;
}

.explore-nav .nav-list-arrow.inactive {
    color: #D6D6D6;
    cursor: default;
}

.explore-nav i {
    margin-left: 10px;
    line-height: 14px;
    cursor: pointer;
}

.explore-nav i:first-child {
    margin-left: 0px;
}

.explore-nav i.active {
    color: #008edd;
    cursor: default;
}

.explore-nav i:hover {
    color: #008edd;
}

.footer-bar {
    background-color: #4A4A4A;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.footer-bar > div {
    max-width: 1000px;
    margin: auto;
    color: #828282;
    padding-top: 10px;
    padding-bottom: 10px;
    display: table;
    width: 100%;
}

.footer-links {
    float: right;
}

.footer-links > a {
    color: #828282;
    margin-left: 10px;
    text-decoration: none;
    cursor: pointer;
}

.footer-links > a:hover {
    color: #fff;
}

.footer-links > a:hover .fa-inverse {
    color: #828282;
}

.footer-copyright {
    display: table-cell;
    vertical-align: middle;
}

.footer-copyright a {
    margin-left: 20px;
}

.footer-copyright a:hover {
    color: #428bca;
}

.cr-links {
    color: #428bca;
    text-decoration: none;
}

@media (max-width: 1400px) {
    
    .footer-bar > div {
        max-width: 700px;
    }
    
    .footer-copyright span {
        display: block;
        text-align: center;
    }
    
    .footer-copyright span.cr-links a:first-child {
        margin-left: 0px;
    }
    
}

/*-----------------------------------*/
/*---------- Page Nav CSS -----------*/
/*-----------------------------------*/

.dz-portal-nav-container {
    height: 40px;
    background-color: #BEBEBE;
    text-align: center;
    cursor: default;
}

.dz-portal-nav-container.dz-nav-simple {
    background-color: transparent;
}

.dz-portal-nav-container.dz-nav-simple > div {
    float: right;
}

.dz-portal-nav-item {
    display: inline-block;
    line-height: 40px;
    margin-left: 10px;
    width: 100px;
    text-align: center;
}

.dz-portal-nav-container.dz-nav-simple .dz-portal-nav-item {
    width: 70px;
}

.dz-portal-nav-container.dz-nav-simple .dz-portal-nav-item:last-child {
    margin-right: 10px;
}

.dz-portal-nav-item.active {
    -webkit-box-shadow: inset 0px -5px 0px 0px #008EDD;
    -moz-box-shadow: inset 0px -5px 0px 0px #008EDD;
    box-shadow: inset 0px -5px 0px 0px #008EDD;
    font-weight: bold;
}

.dz-portal-nav-item:hover:not(.active) {
    cursor: pointer;
    background-color: #EEEEEE;
}

.dz-portal-nav-container.dz-nav-simple .dz-portal-nav-item:hover:not(.active) {
    background-color: transparent;
    color: #008edd;
}

input.hide-spinner[type='number'] {
    -moz-appearance:textfield;
}
input.hide-spinner::-webkit-outer-spin-button,
input.hide-spinner::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; 
}

input.has-error {
    background-color: rgba(255, 192, 203, 0.38);
}

/*-----------------------------------*/
/*---------- Breadcrumb CSS ---------*/
/*-----------------------------------*/

.breadcrumb-container {
    padding: 0px 30px;
    font-size: 0.9em;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
}

.breadcrumb-container .breadcrumb-trail span {
    margin-right: 5px;
}

.breadcrumb-container .breadcrumb-item-container span:last-child {
    margin-right: 0px;
}

.breadcrumb-container i {
    font-size: 0.8em;
}

.pagination-container { 
    float: right;
}

/*-----------------------------------*/
/*---------- dz Modal CSS -----------*/
/*-----------------------------------*/

.dz-modal-container {
	min-height: 250px;
	width: 30%;
	min-width: 400px;
	max-width: 600px;
	background-color: #EEEEEE;
	position: absolute;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	text-align: center;
    font-family: 'calibri', sans-serif;
}

i.dz-modal-close {
	position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px 15px;
    font-size: 20px;
	color: #DADADA;
	cursor: pointer;
}

i.dz-modal-close:hover {
	color: #777777;
}

.dz-modal-title {
	font-size: 35px;
    font-weight: bold;
	margin-bottom: 20px;
}

.dz-modal-message {
	font-size: 16px;
}

.dz-modal-btn-container {
    height: 100px;
    line-height: 110px;
	position: relative;
}

.dz-modal-triangle {
	width: 0;
	height: 0;
    position: absolute;
	top: -1px;
    left: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
	border-style: solid;
	border-width: 15px 15px 0 15px;
	border-color: #EEEEEE transparent transparent transparent;
	line-height: 0px;
	_border-color: #EEEEEE #000000 #000000 #000000;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

.dz-modal-btn {
	height: 50px;
    width: 125px;
    color: #EEEEEE;
    font-size: 18px;
    line-height: 50px;
    display: inline-block;
	cursor: pointer;
	margin: 0px 10px;
}

.dz-modal-btn.cancel {
	background-color: #777777;
}

/*-----------------------------------*/
/*---------- Explore Page CSS -------*/
/*-----------------------------------*/

.result-header {
    padding-bottom: 20px;
    border-bottom: 1px solid #BEBEBE;
}

.menu-btn {
    float: right;
    width: 25px;
    height: 35px;
    margin-left: 20px;
    border-radius: 5px;
    text-align: center;
}

.menu-btn > span {
    line-height: 36px;
}

.menu-btn i {
    font-size: 20px;
    color: #BEBEBE;
}

.menu-btn i.active {
    color: #ffa840;
}

.menu-btn i:hover {
    color: #ffa840;
    cursor: pointer;
}

.ms-toolbox {
    position: fixed;
    bottom: 50px;
    right: 10px;
    background-color: #EEEEEE;
    -webkit-box-shadow: 3px 3px 8px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 8px 2px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 8px 2px rgba(0,0,0,0.5);
    width: 250px;
    border-radius: 5px;
}

.ms-tb-close {
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 2px 10px;
	color: #BEBEBE;
	border-bottom: 1px solid #BEBEBE;
	border-left: 1px solid #BEBEBE;
	cursor: pointer;
}

.ms-tb-close:hover {
	background-color: #DADADA;
	color: #e85947
}

.ms-tb-title {
    height: 20px;
    font-weight: bold;
    color: #4A4A4A;
    text-align: center;
}

.ms-count {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    line-height: 50px;
}

.ms-btn-container {
    height: 50px;
    text-align: center;
}

.ms-tb-btn {
    display: inline-block;
    background-color: #EEEEEE;
    height: 40px;
    width: 40px;
    border: 2px solid #4A4A4A;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    margin: 5px;
}

.ms-tb-btn i {
    line-height: 36px;
    color: #4A4A4A;
}

.ms-tb-btn:hover i {
    color: #008EDD;
}

.ms-tb-btn:hover {
    border-color: #008EDD;
}

.ms-tb-btn.delete:hover i {
    color: #e85947;
}

.ms-tb-btn.delete:hover {
    border-color: #e85947;
}

.ms-tb-btn.edit:hover i {
    color: #ffbe49;
}

.ms-tb-btn.edit:hover {
    border-color: #ffbe49;
}

#result-sort {
    float: right;
    width: 250px;
    line-height: 35px;
    height: 35px;
}

.search-container {
    height: 35px;
}

.search-container.pad {
    padding-right: 365px;
}

.search-btn {
    width: 35px;
    height: 35px;
    background-color: #EEEEEE;
    border: 1px solid #4A4A4A;
    line-height: 33px;
    text-align: center;
}

.search-btn.active {
    background-color: #008EDD;
    color: #EEEEEE;
}

.search-btn.active.reverse {
    background-color: #ffa840;
    color: #EEEEEE;
}

.search-btn:not(.active):hover {
    cursor: pointer;
    background-color: #BEBEBE;
}

.round-left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.round-right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.no-left {
    border-left: none;
}

.no-right {
    border-right: none;
}

.search-bar-wrapper {
    margin: 0px 35px;
    position: relative;
}

.search-bar {
    height: 35px;
    width: 100%;
    padding: 0px 10px;
    border: 1px solid #4A4A4A;
}

input.search-bar {
    outline: none;
    box-shadow: none !important;
}

.explore-container {
    margin: 20px auto;
    display: table;
}

.grid-item {
    float: left;
    position: relative;
    width: 196px;
    margin: 0px 5px 20px 5px;
    border-radius: 5px;
    border: 1px solid #BEBEBE;
    background-color: #EEEEEE;
}

.grid-item.load-item {
    height: 194px;
    display: table;
    border: none;
    background-color: #FFF;
}

.grid-item.load-item > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 5em;
}

.grid-item:hover {
    border: 1px solid #008EDD;
}

.grid-item .overlay-container {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background-color: transparent;
	cursor: pointer;
	z-index: 15;
}

.grid-item .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    text-align: center;
    display: none;
}

.grid-item .overlay.selected {
    display: block;
}

.grid-item .overlay > i {
    font-size: 56px;
    line-height: 194px;
    color: #EEEEEE;
}

.grid-item .overlay > i.selected {
    color: #ffa840;
}

.grid-item .overlay-container:hover .overlay {
    display: block;
}

.grid-img-container {
    position: relative;
    height: 194px;
    width: 194px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    line-height: 183px;
    background-color: #FFFFFF;
    padding: 5px;
    cursor: pointer;
}

.grid-item .grid-hover-icon {
    position: absolute;
    z-index: 100;
    bottom: 10px;
    display: none;
    line-height: normal;
    color: #969696; 
    opacity: .6;
}

.grid-item .grid-edit-icon {
    left: 5px;
    bottom: 10px;
}

.grid-item .grid-info-icon {
    right: 5px;
    bottom: 10px;
}

.grid-item .grid-hover-icon.show {
    display: table;
}

.grid-item .grid-hover-icon.remain {
    opacity: 1;
    color: #008edd;
    right: 15px;
    display: table !important;
}

.grid-item .grid-hover-icon:hover {
    opacity: 1;
    color: #008edd;
}

.grid-img-container a.grid-item-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.grid-img-container .grid-img-inner {
    max-height: 184px;
    max-width: 184px;
    border-radius: 2px;
    position: absolute;
    left: 5px;
    top: 5px;
    height: 100%;
    width: 100%;
}

.grid-img-container .grid-img-content {
    height: 100%;
    width: 100%;
}

.grid-img-container .grid-img-content img {
    max-height: 100%;
    max-width: 100%;
}


.grid-img-container .grid-quick-info {
    background-color: #fff;
    line-height: normal;
    padding: 5px;
    cursor: default;
}

.grid-img-container .grid-quick-info .qi-content {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
}

.grid-img-container .grid-quick-info .qi-title {
    height: 25px;
    font-weight: bold;
    color: #008edd;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.grid-img-container .grid-quick-info .qi-item {
    text-align: left;
    font-size: 0.8em;
    margin-bottom: 2px;
}

.grid-img-container .grid-quick-info .qi-item > div:first-child {
    font-weight: bold;
    width: 60px;
    text-align: right;
    margin-right: 5px;
    float: left;
}

.grid-item-icon {
    min-width: 30px;
    height: 30px;
    position: absolute;
    background-color: #4A4A4A;
    text-align: center;
    line-height: 20px;
    z-index: 10;
    padding: 5px;
}

.grid-item-icon.location {
	background-color: rgba(74,74,74,0.70);
    color: #ccc;
    font-weight: bold;
    font-size: 0.8em;
    border-right: 1px solid #868686;
    border-bottom: 1px solid #868686;
	max-width: 196px;
}

.grid-item-icon.for-sale span {
	font-size: 16px;
    padding-left: 2px;
    font-family: Calibri, sans-serif;
}

.grid-item-icon.top-left {
    top: -1px;
    left: -1px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}

.grid-item-icon.top-right {
    top: -1px;
    right: -1px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}

.grid-item-icon.top-left i {
    padding-right: 2px;
}

.grid-item-icon.location i {
    padding-right: 5px;
	color: #ffba00;
}

.for-sale {
    color: #4FC74F;
}

.for-trade {
    color: #ffba00;
}

.grid-item-info {
    padding: 5px;
    text-align: center;
    border-top: 1px solid #BEBEBE;
}

.grid-item-label {
    font-weight: bold;
    color: #4A4A4A;
    font-size: 12px;
    padding-bottom: 5px;
}

.grid-item-text {
    color: #777777;
    font-size: 12px;
}

.flip {
    -webkit-perspective: 800;
}

.flip .flip-card.flipped {
    -webkit-transform: rotatey(-180deg);
}

.flip .flip-card {
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}

.flip .flip-face {
    -webkit-backface-visibility: hidden ;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.flip .flip-face.flip-front {
    position: absolute;
    z-index: 1;
}

.flip .flip-face.flip-back {
     -webkit-transform: rotatey(-180deg);
}

.grid-item.template {
    width: auto;
    display: table;
    overflow: hidden;
}

.grid-item-template-outer {
    width: 196px;
    z-index: 10;
    position: relative;
    float:left;
}

.grid-item-template-inner {
    width: 196px;
    height: 100%;
    background-color: #FBFBFB;
    margin-left: -196px;
    opacity: 0;
    display: inline-block;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    position: relative;
}

.grid-item.template .grid-item-label {
    padding: 0px;
    font-size: 1.2em;
    position: absolute;
    left: 0px;
    right: 0;
}

.grid-item.template .grid-item-info {
    background-color: #EEEEEE;
    padding: 0px;
    height: 35px;
    line-height: 35px;
}


.grid-item.template.open {
}

.grid-item.template.open .grid-item-template-outer {
    -webkit-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.39);
    -moz-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.39);
    box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.39);
}

.grid-item.template.open .grid-item-template-inner {
    opacity: 1;
    margin-left: 0px;
}

.grid-item-list-label {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    padding: 5px 0px;
    background-color: #008edd;
    color: #fff;
}

ul.grid-item-list {
    list-style: none;
    padding: 0px 15px;
    overflow: auto;
    position: absolute;
    top: 33px;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0px;
}

ul.grid-item-list li {
    padding: 3px 0px;
    font-weight: bold;
    font-size: 0.9em;
}

/*-----------------------------------*/
/*---------- Sidebar CSS ------------*/
/*-----------------------------------*/

.filter-container {
    padding: 0px 10px 10px 10px;
}

.filter-item-count {
    width: 50px;
    max-width: 50px;
    text-align: left;
    float: left;
    padding-left: 5px;
}

.filter-item-val {
    float: left;
    max-width: 130px;
}


.filter-clear {
    font-size: 0.8em;
    font-weight: normal;
    color: darkgrey;
}

.filter-show-more {
    font-size: 0.8em;
    padding-top: 5px;
}

.divider {
    border-bottom: 1px solid #BEBEBE;
}

.sidebar-section {
    margin: 10px 0px;
}

.sidebar-section:first-of-type {
    margin-top: 0px;
}

.sidebar-title-container {
    cursor: pointer;
    margin-bottom: 5px
}

.sidebar-title {    
    font-weight: bold;
    color: #000;
    text-align: left;
    padding: 1px 0px 1px 10px;
    font-size: 1.1em;
    line-height: 20px;
}

.sidebar-title-icon {
    float: left;
    width: 20px;
    color: #008edd;
}

.sidebar-title-icon.reverse {
    color: #ffa840;
}

.sidebar-title-icon > i {
    line-height: 20px;
    font-size: 0.9em;
}

.sidebar-item-container {
    font-size: 1em;
    padding-left: 10px;
    border-left: 10px solid #008edd;
}

.sidebar-item-container.reverse {
    border-left: 10px solid #ffa840;
}

.sidebar-item {
    padding-left: 20px;
    position: relative;
    display: table;
}

.sidebar-item.inactive {
    color: #BEBEBE;
}
.sidebar-item.read-only, .sidebar-item.inactive {
    cursor: default !important;
}

.sidebar-item:not(.inactive):hover > .filter-item-val, .sidebar-item:not(.read-only):hover > .filter-item-val {
    text-decoration: underline !important;
}

.sidebar-item.active {
    font-weight: bold;
}

.sidebar-item-icon {
    position: absolute;
    left: 3px;
}

.sidebar-item.custom-range {
    line-height: 25px;
    height: 25px;
}

.sidebar-item.custom-range .sidebar-item-icon {
    cursor: pointer;
}

.sidebar-item.custom-range .sidebar-item-icon:hover {
    color: #008edd;
}

.sidebar-item.custom-range input {
    width: 25px;
    line-height: 16px;
    height: 20px;
    outline: none;
    box-shadow: none !important;
    padding: 2px;
    border: 1px solid #4A4A4A;
    font-size: 0.8em;
}

.sidebar-item.custom-range .custom-range-label {
    padding-left: 5px;
    padding-right: 5px;
}

.sidebar-item.custom-range button {
    margin-left: 10px;
    height: 25px;
    line-height: 20px;
    padding: 0px 10px;
    font-size: 0.9em;
}

/*-----------------------------------*/
/*---------- Profile CSS ------------*/
/*-----------------------------------*/

.profile-container {
    /*height: 140px;*/
    padding: 10px 0px;
    background-color: #ababab;
    background-image: url("http://www.transparenttextures.com/patterns/diagmonds-light.png");
    border-bottom: 1px solid #8a8989;
}

.profile-inner {
    display: table;
    margin: 0 auto;
    border-radius: 5px;
    border: 2px solid #585858;
    overflow: hidden;
    background-color: rgba(238, 140, 37, 0.18);
}

.profile-container .profile-image {
    border-right: 2px solid #585858;
    padding: 10px;
    overflow: hidden;
    background: #ee8c25 linear-gradient(140deg, #ee8c25 0%, #ee8c25 10%, #e28523 10%, #e28523 20%, #d17b21 19%, #d67e21 21%, #d67e21 20%, #d67e21 30%, #c6741f 29%, #ca7720 31%, #ca7720 30%, #ca7720 40%, #ba6d1d 39%, #be701e 41%, #be701e 40%, #be701e 50%, #ae661b 49%, #b2691c 51%, #b2691c 50%, #b2691c 60%, #a25f19 59%, #a7621a 61%, #a7621a 60%, #a7621a 70%, #965817 69%, #9b5b18 71%, #9b5b18 70%, #9b5b18 80%, #8a5116 79%, #8f5416 81%, #8f5416 80%, #8f5416 90%, #7e4a14 89%, #834d14 91%, #834d14 90%, #834d14 100%);
}

.profile-container .profile-image > img {
    max-width: 100px;
    max-height: 100px;
    border: 1px solid #565656;
}

.profile-info-left {
    padding-left: 10px;
    width: 250px;
}

.profile-info-center {
    width: 400px;
}

.profile-info-right {
    width: 230px;
    text-align: right;
    margin-right: 10px;
}

.profile-container .slogan-container {
    height: 60px;
    padding: 10px;
    text-align: center;
}

.profile-container .btn-container {
    height: 40px;
    padding: 5px 10px;
    text-align: center;
}

.profile-text-lg {
    line-height: 40px;
    font-size: 1.4em;
    font-weight: bold;
}

.profile-text-sm {
    line-height: 30px;
    font-size: 1em;
}

.slogan-text {
    font-size: 1.2em;
    font-style: italic;
    line-height: 40px;
}

.profile-container .btn-container > .profile-btn {
    display: inline-block;
    height: 30px;
    width: 40px;
    margin: 0px 5px;
    border-radius: 3px;
    border: 1px solid #777777;
    color: #008edd;
    cursor: pointer;
    line-height: 26px;
}

.profile-container .btn-container > .profile-btn:hover {
    border: 1px solid #4A4A4A;
    color: #4A4A4A;
}

.no-results {
    text-align: center;
    color: #666;
}

.no-results-title {
    font-size: 2em; 
    margin: 20px 0px;
}

.no-results-msg {
    
}

.close-icon {
    border:1px solid transparent;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
    float: right;
}

.close-icon:after {
    content: "\f057";
    font: normal normal normal 14px/1 FontAwesome;
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
        z-index: 1;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    text-align: center;
    color: #666;
    font-weight: normal;
        cursor: pointer;
    font-size: 16px;
    line-height: 16px;
}

/*-----------------------------------*/
/*---------- Disc Page CSS ----------*/
/*-----------------------------------*/

.private-warning {
    height: 25px;
    text-align: center;
    color: #EEEEEE;
}

.private-warning > span {
    line-height: 25px;
}

.private-warning > span i {
    padding: 0px 10px;
}

#dv-content {
    max-width: 1000px;
    margin: 0px auto;
}

.dv-image-container {
    text-align: center;
    float: left;
}

.dv-image-block {
	position: relative;
    width: 450px;
    height: 450px;
    vertical-align: middle;
    display: table-cell;
}

.dv-image-border {
	border: 2px solid #848484;
    padding: 10px;
    -webkit-box-shadow: inset 0 0 5px 1px rgba(92,92,92,1);
    -moz-box-shadow: inset 0 0 5px 1px rgba(92,92,92,1);
    box-shadow: inset 0 0 5px 1px rgba(92,92,92,1);
}

.dv-zoom {
	position: absolute;
    bottom: 0px;
    right: 0px;
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.dv-zoom > i {
	font-size: 25px;
    line-height: 50px;
}

#dv-content .image-list-container.simple {
    padding: 5px 0px;
}

#dv-content .info-table {
    width: 80%;
    max-width: 450px;
    min-width: 360px;
    margin: auto;
    border: 1px solid #BEBEBE;
    color: #4A4A4A;
}

#dv-content .row-data-50 {
    width: 50%;
}

#dv-content .row-data-25 {
    width: 25%;
}

#dv-content .info-table tr {
    border-bottom: 1px solid #BEBEBE;
}

#dv-content .info-table tr:last-child {
    border-bottom: none;
}

#dv-content .info-table .dv-profile-tr {
    background-color: #EEEEEE;
}

#dv-content .info-table td:not(.dv-table-cell) {
    padding: 5px;
}

#dv-content .info-table td:first-child:not(.dv-profile-td):not(.dv-table-cell) {
    text-align: right;
    background-color: #008EDD;
    font-weight: bold;
    color: #EEEEEE;
}

.dv-profile-preview {
    padding: 10px;
    background-color: #EEEEEE;
}

.dv-profile-preview-image {
    max-width: 75px;
    max-height: 75px;
}

.dv-profile-preview-btn {
    width: 125px;
    background-color: #777777;
    border-radius: 5px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    margin: 4px 0px;
    color: #EEEEEE;
}

.dv-profile-preview-btn i {
    padding-right: 5px;
}

.dv-profile-preview-btn:hover {
    background-color: #008EDD;
    color: #EEEEEE;
    cursor: pointer;
}

.dv-profile-preview-info {
    margin-left: 85px;
    margin-right: 135px;
}

.dv-profile-preview-text-lg {
    line-height: 27px;
    font-size: 14px;
    font-weight: bold;
}

.dv-profile-preview-text-sm {
    line-height: 16px;
    font-size: 11px;
}

.dv-table-cell {
    border-right: 1px solid #BEBEBE;
    height: 50px;
    text-align: center;
}

.width-33 {
    width: 33.333%;
}

.width-16 {
    width: 16.666%;
}

.dv-table-cell:last-child {
    border-right: none;
}

.dv-table-cell-title {
    margin: 0;
    font-size: .6em;
}

.dv-table-cell-title.inactive, .dv-table-cell-value.inactive {
    color: #BEBEBE;
}

.dv-table-cell-value {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
}

/*-----------------------------------*/
/*------- Disc Edit Page CSS --------*/
/*-----------------------------------*/

.modify-form-section {
    padding-bottom: 10px;
    max-width: 800px;
    margin: auto;
}

.modify-button-container {
    padding: 20px 0px;
    text-align: right;
}

.modify-button-container > button {
    margin-left: 10px;
}

.modify-button-container > button:first-child {
    margin-left: 0px;
}


.modify-button-container > a {
    padding: 0px 10px;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
    color: #999;
}

.modify-button-container > a:hover {
    text-decoration: none;
    color: #000;
}

.tag-list-container {
    border: 1px solid #ccc;
    height: 57px;
    border-width: thin;
    border-radius: 4px;
    margin-top: 5px;
    overflow: auto;
    max-height: 70px;
    padding-left: 0px;
}

.tag-item {
    float: left;
    padding: 2px 5px;
    background-color: #bebebe;
    border-radius: 2px;
    margin: 3px;
    font-size: .8em;
    font-weight: bold;
    letter-spacing: .1em;
    font-family: "Lucida Console","Lucida Sans Typewriter",Monaco,"Bitstream Vera Sans Mono",monospace;
}

.tag-item-remove {
    margin-left: 10px;
    cursor: pointer;
}

.tag-list-container.as-sortable-drag {
    border: 0;
    overflow: inherit;
}

.tag-list-container.as-sortable-drag > .tag-item {
    margin: 0px;
}

.tag-list-container > .as-sortable-placeholder {
    display: table;
    float: left;
    padding: 2px 5px;
    background-color: rgb(192, 214, 255);
    border-radius: 2px;
    margin: 3px;
}

.as-sortable-drag {
    opacity: 0.7;
}

/*-----------------------------------*/
/*---------- Image List CSS ---------*/
/*-----------------------------------*/

.image-list {
    position: relative;
    padding: 0px;
}

.image-list-container {
    overflow: auto;
    border: 1px solid #a6a6a6;
    padding: 10px;
    width: 100%;
    -webkit-box-shadow: inset 2px 2px 10px 1px rgba(92,92,92,1);
    -moz-box-shadow: inset 2px 2px 10px 1px rgba(92,92,92,1);
    box-shadow: inset 2px 2px 10px 1px rgba(92,92,92,1);
}

.image-list-container.simple {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0px;
}

.image-list-table {
    display: table;
    table-layout: fixed;
    padding-bottom: 3px;
}

.image-item-container {
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;
    padding-bottom: 5px;
}

.image-item {
    border: 1px solid #a6a6a6;
    -webkit-box-shadow: 3px 3px 10px 1px rgba(140,140,140,0.67);
    -moz-box-shadow: 3px 3px 10px 1px rgba(140,140,140,0.67);
    box-shadow: 3px 3px 10px 1px rgba(140,140,140,0.67);
    position: relative;
    background-color: white;
}

.image-item {
	display: table-cell;
  vertical-align: middle;
}

.dv-image-container .image-item {
	min-width: 50px;
	width: 50px;
	height: 50px;
}

.image-preview {
    opacity: .5;
    filter: alpha(opacity=50);
    cursor: pointer;
    text-align: center;
}

.image-preview:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.image-preview.active {
    cursor: default !important;
    opacity: 1;
    filter: alpha(opacity=100);
}

.image-entity {
    min-width: 100px;
    min-height: 100px;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.image-entity > img {
    max-width: 100px;
    max-height: 100px;
}

.image-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.75);
}

.image-overlay-static {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    color: #fff;
}

.image-progress {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99;
    height: 100%;
    background-color: rgba(150, 51, 0, 0.71);
}

.image-remove {
    position: absolute;
    right: 0px;
    padding-right: 5px;
    padding-top: 2px;
    z-index: 101;
    cursor: pointer;
}

.image-size {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    overflow:hidden;
    text-overflow:ellipsis;
}

.image-title { 
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 100%;
    overflow:hidden;
    text-overflow:ellipsis;
}

.image-add .image-entity {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
}

.image-make-primary {
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    padding: 2px 5px;
}

.primary-image-banner-static {
    position: absolute;
    overflow: hidden;
    padding: 2px 5px;
    background-color: rgba(0, 0, 0, 0.72);
    color: rgb(255, 232, 0) !important;
    cursor: default;
    -webkit-box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 2px;
}

.crop-container {
    position: absolute;
}

.crop-area {
    width: 500px;
    height: 500px;
}

.crop-area > img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
}

.crop-control-area {
    width: 500px;
    display: table;
    padding-top: 20px;
}

.crop-control {
    float: right;
}

.crop-control .btn {
    margin-right: 20px;
}

.crop-control .btn:last-child {
    margin-right: 0px;
}

/*-----------------------------------*/
/*---------- Lightbox CSS -----------*/
/*-----------------------------------*/

.full-screen-backdrop {
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 3000;
	overflow: auto;
}

.lb-x {
	height: 70px;
	width: 70px;
}

.lb-close {
	font-family: Garamond,'Apple Garamond','Lucida Sans Unicode';
	font-size: 350%;
	color: #BEBEBE;
	margin: 0px;
	cursor: pointer;
	text-align: center;
}

.lb-close:hover {
	color: #EEEEEE;
}

.lb-container {
	display: table;
	height: 100%;
	margin: auto;
	min-height: 350px;
}

.lb-image-block {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	max-height: 800px;
	max-width: 885px;
	min-height: 250px;
	min-width: 335px;
}

.lb-image {
	display: table;
    max-width: 800px;
    max-height: 800px;
	background-color: #4A4A4A;
}

.lb-image-list {
	width: 75px;
 	margin-right: 10px;
	overflow-y: auto;
	overflow-x: hidden;
	min-height: 250px;
}

.lb-image-list > img {
	width: 75px;
	height: 75px;
	margin-bottom: 10px;
}

.lb-image-list > img:last-child {
	margin-bottom: 0px;
}

/*-----------------------------------*/
/*---------- Template Search---------*/
/*-----------------------------------*/

.ts-container {
    margin-top: 200px;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    margin-bottom: 50px;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

.ts-container.search-active {
    margin-top: 50px;
}

.ts-label {
    display: inline-block;
    margin-right: 10px;
    font-size: 3em;
}

.ts-input {
    border: 0px;
    border-bottom: 1px solid #666;
    color: #666;
    outline: none;
    text-align: center;
    font-size: 3em;
    margin-bottom: 20px;
}

.ts-results {
   max-width: 1400px;
   margin: auto;
   width: 75%;
}

.ts-results > div {
   margin: auto;
}

/*-----------------------------------*/
/*------------ Inbox CSS ------------*/
/*-----------------------------------*/
.inbox-container {
	width: 100%;
	position: relative;
	height: 300px;
	min-height: 300px;
	overflow: hidden;
}

.thread-list-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	bottom: 120px;
}

.message-container {
	position: absolute;
	top: 0;
	left: 310px;
	right: 0;
	bottom: 120px;
}

.message-action-container {
	position: absolute;
	left: 310px;
	height: 120px;
	right: 0;
	bottom: 0;
	border-top: 1px solid #D2D2D2;
	padding: 10px;
}

.thread-list {
	list-style: none;
	max-height: 100%;
	overflow: auto;
	padding: 0;
	margin: 0;
	padding-right: 2px;
}

.thread-item-header {
	background-color: #eee;
	font-size: 0.9em;
	font-weight: bold;
	padding: 1px 10px;
	border: 1px dashed #666;
	color: #666;
	margin-bottom: 5px;	
	margin-top: 5px;
}

.thread-item-header:first-child {
	margin-top: 0px;
}

.thread-item-header.inactive {
	border-color: #bbb;
	color: #bbb;
}

.thread-item-header .refresh-icon {
	color: #666;
	cursor: pointer;
}

.thread-item {
	width: 100%;
	height: 75px;
	border: 1px solid #ddd;
	border: 1px solid #ddd;
	border-bottom: none;
	cursor: pointer;
}

.thread-item:hover {
	background-color: #AFDCF5;
}

.thread-item.active {
	background-color: #AFDCF5;
	cursor: default;
}

.thread-item:last-child {
	border-bottom: 1px solid #ddd;
}

.thread-item-image {
	height: 100%;
	width: 75px;
	float: left;
	border-right: 1px solid #ddd;
}

.thread-item-image > img {
	height: 100%;
	width: 100%;
}

.thread-item-icon {
	float: right;
	height: 100%;
	display: table;
	width: 40px;
	text-align: center;
}

.thread-item-text-container {
	width: 100%;
	height: 100%;
	padding-left: 85px;
	padding-right: 40px;
}

.thread-item-text {
	display: table;
	width: 100%;
	height: 100%;
	table-layout: fixed;
}

.thread-item-title {
	font-size: 1.1em;
	margin-bottom: 3px;
}

.thread-item.unread .thread-item-title {
	font-weight: bold;
}

.thread-item.unread .thread-item-icon {
    color: #008edd
}

.thread-item-date {
	font-size: 0.8em;
	color: #666;
	font-weight: bold;
	font-style: italic;
}

.message-list {
	width: 100%;
	overflow: auto;
	max-height: 100%;
	padding: 0px 10px;
}

.message-item {
	display: block;
	width: 100%;
	margin-bottom: 20px;
}

.message-area {
	min-width: 200px;
	max-width: 80%;
	display: inline-block;
	position: relative;
}

.message-item.message-outgoing .message-area {
    float: right;
}

.message-user {
		height: 50px;
    width: 50px;
    border-radius: 25px;
    margin: auto;
    border: 1px solid #989898;
    overflow: hidden;
}

.message-user > img {
	width: 100%;
	height: 100%;
}

.message-item.message-incoming .message-user {
    float: left;
}

.message-item.message-outgoing .message-user {
    float: right;
}

.message-content {
	position: relative;
	padding-bottom: 15px;
}

.message-item.message-incoming .message-content {
    margin-left: 60px;
}

.message-item.message-outgoing .message-content {
    margin-right: 60px;
}

.message-date {
		font-size: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.message-item.message-incoming .message-date {
    right: 0;
}

.message-item.message-outgoing .message-date {
    left: 0;
}

.message-bubble {
    background-color: #C2DBE8;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ADADAD;
    padding: 5px 10px;
    font-size: 0.9em;
    line-height: 130%;
    word-break: break-word;
    overflow: hidden;
}

.message-item.message-outgoing .message-bubble {
    background-color: #ECECEC;
}

.send-container {
	height: 70px;
	width: 100px;
	display: table;
	float: right;
}

.send-container-inner {
	display: table-cell;
	vertical-align: middle;
}

.send-message-btn {
	color: #D2D2D2;
	border: 1px solid #D2D2D2;
	border-radius: 20px;
	padding: 10px;
	width: 80%;
	margin: auto;
	text-align: center;
}

.send-message-btn:hover {
	border: 1px solid #008edd;
	cursor: pointer;
}

.send-message-btn.disabled:hover {
	cursor: default !important;
	color: #D2D2D2 !important;
	border: 1px solid #D2D2D2;
}

.add-message-text {
	height: 70px;
	width: 100%;
	padding-right: 100px;
}

.add-message-text > textarea {
	height: 100%;
	width: 100%;
	padding: 0px 10px;
	resize: none;
	border: none;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.add-message-text > textarea.disabled {
	background-color: #eee !important;
}

.create-message-option {
	margin-top: 5px;
	width: 100%;
	font-size: 0.9em;
}

.create-message-option > span {
	float: right;
	color: #B1B1B1;
}

.create-message-option.not(.disabled) > span:hover {
	cursor: pointer;
	color: #000;
}

.load-messages {
	display: block;    
	text-align: center;
	color: #008edd;
	margin-bottom: 10px;
	cursor: pointer;
}

#load-messages:hover {
    color: black;
    background-color: #EAEAEA;
}

.no-thread-selected {
    text-align: center;
    color: #afafaf;
    font-style: italic;
    font-size: 1.1em;
    padding: 20px 0px;
}

div.no-thread-selected {
	  position: absolute;
    top: 50px;
    left: 0;
    right: 0;
		padding: 0px;
}

/*-----------------------------------*/
/*-----------------------------------*/
/*--------------- Geo ---------------*/
/*-----------------------------------*/
/*-----------------------------------*/
.location-container {
	background-color: #fccb71;
    border-radius: 5px;
    border: 1px solid #ffa840;
	background: #fccb71;
    height: 25px;
    line-height: 25px;
	position: relative;
}

.location-container > div {
    overflow: hidden;
    max-height: 100%;
}

.location-container.inactive {
    background: -webkit-linear-gradient(#fccb71 0%, #ffa840 58%, #ffa840 100%);
    background: -moz-linear-gradient(#fccb71 0%, #ffa840 58%, #ffa840 100%);
    background: -o-linear-gradient(#fccb71 0%, #ffa840 58%, #ffa840 100%);
    background: linear-gradient(#fccb71 0%, #ffa840 58%, #ffa840 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fccb71', endColorstr='#ffa840',GradientType=0 );
}

.location-icon {
	width: 30px;
    float: left;
    font-size: 1.3em;
    text-align: center;
    color: black;
}

.location-icon.active {
	cursor: pointer;
}

.location-icon.active:hover {
	color: #fff;
}

.location-input {
	padding-left: 30px;
    padding-right: 10px;
}

.location-input.loading {
    padding-right: 30px;
}

.location-input input {
    font-size: 0.85em;
	background-color: transparent;
    border: none;
    font-weight: bold;
    max-width: 100%;
}

.location-input input::-webkit-input-placeholder {  
    font-style: italic;
    font-weight: normal;
	color: #757575;
}

.location-input input::-moz-placeholder {  
    font-style: italic;
    font-weight: normal;
	color: #757575;
}

.location-input input:-moz-placeholder {  
    font-style: italic;
    font-weight: normal;
	color: #757575;
}

.location-input input:-ms-input-placeholder {  
    font-style: italic;
    font-weight: normal;
	color: #757575;
}

.location-label {
    font-size: 0.85em;
    cursor: text;
	font-weight: bold;
}

.location-loading {
    width: 30px;
    float: right;
    text-align: center;
}

.location-result-container {
	background-color: #fff;
	position: absolute;
    width: 100%;
    top: 25px;
    z-index: 10;
	list-style: none;
	padding: 0;
    border: 1px solid #bebebe;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
	max-height: 200px;
	overflow-y: auto;
}

.location-result:first-child {
    border-top: none;
}

.location-result {
	max-width: 100%;
	width: 100%;
	padding: 0px 10px;
    border-top: 1px solid #bebebe;
	font-size: 0.9em;
    line-height: 20px;
}

.location-result:hover {
	cursor: pointer;
	background-color: #fccb71;
}
/*-----------------------------------*/
/*-----------------------------------*/
/*------------ Components -----------*/
/*-----------------------------------*/
/*-----------------------------------*/
.confirm-button {
		border: 2px solid transparent;
    border-radius: 5px;
    display: block;
		position: relative;
}

.confirm-button.open {
		border: 2px solid orange;
}

.confirm-icon {
	  width: 30px;
		height: 30px;
    line-height: 30px;
    float: left;
    text-align: center;
    font-size: 1.7em;
		cursor: pointer;
}

.confirm-button:not(.open):hover {
    background-color: rgba(255, 165, 0, 0.5);
}

.confirm-button.open .confirm-icon {
    background-color: orange;
    text-shadow: 1px 1px 2px #ffda95;
}


.confirm-button-inner {
    display: block;
    margin-left: 30px;
    line-height: 30px;
    padding: 0px 10px;
    font-weight: bold;
    font-size: 0.9em;
		cursor: pointer;
}

a.inline-disc {
    border: 1px solid #c7c7c7;
    padding: 0px 5px 0px 0px;
    background-color: #fff;
    margin: 5px 0px;
    font-weight: bold;
    font-size: 0.9em;
    display: table;
}

a.inline-disc img {
    max-height: 30px;
    max-width: 30px;
    border-right: 1px solid #c7c7c7;
		margin-right: 5px;
}

.ac-container {
	position: absolute;
	top: 0;
	z-index: 100;
	list-style: none;
	border: 1px solid #949494;
	border-radius: 0px 0px 5px 5px;
	-webkit-box-shadow: 4px 3px 5px 0px rgba(31, 31, 31, 0.29);
	-moz-box-shadow: 4px 3px 5px 0px rgba(31, 31, 31, 0.29);
	box-shadow: 4px 3px 5px 0px rgba(31, 31, 31, 0.29);
	overflow: auto;
	max-height: 100px;
	background-color: #fff;
}

.ac-container > li {
	padding: 1px 10px;
	font-size: 0.8em;
	cursor: pointer;
}

.ac-container > li.active {
	background-color: #ccc;
}

.ac-container > li:last-child {
	border-bottom: none;
}

.ac-container > li:hover {
    background-color: #ccc;
}
/*-----------------------------------*/
/*-----------------------------------*/
/*---------- Responsive CSS ---------*/
/*-----------------------------------*/
/*-----------------------------------*/

@media (max-width: 1250px) {
	/*--------- Disc View CSS ---------*/
	.dv-image-container {
        width: 500px;
        margin: auto;
        float: none;
        margin-bottom: 20px;
    }
    
	#dv-content .info-table {
	    float: none;
	    margin-bottom: 20px;
	}
}