<!doctype html>
<html>
<head>
    <title>DiscZump - Dashboard</title>
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/static/css/bootstrap-switch.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-slider.css">
</head>
<body>
    {{#if info.text}}
    <div class="alert alert-info page-alert" role="alert">
    	<button type="button" class="close" data-dismiss="alert">×</button>
    	{{#if info.title}}<strong>{{info.title}}:</strong> {{/if}}{{info.text}}
    </div>
    {{/if}}
    <div id="search-results" class="hide-on-close">
        <div class="result-section" id="results-name">
            <div class="result-section-title">Name</div>
            <div class="result-section-output">
                <div class="result-item result-item-empty">No Results.</div>
            </div>
        </div>
        <div class="result-section" id="results-brand">
            <div class="result-section-title">Brand</div>
            <div class="result-section-output">
                <div class="result-item result-item-empty">No Results.</div>
            </div>
        </div>
        <div class="result-section" id="results-type">
            <div class="result-section-title">Type</div>
            <div class="result-section-output">
                <div class="result-item result-item-empty">No Results.</div>
            </div>
        </div>
        <div class="result-section" id="results-tagList">
            <div class="result-section-title">Tags</div>
            <div class="result-section-output">
                <div class="result-item result-item-empty">No Results.</div>
            </div>
        </div>
    </div>
    <div class="container-fluid no-select" id="filter-container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-lg-3 hidden-xs">
                <div id="filter-main" class="well">
                    <div class="filter-title current-filter-hidden text-center">Zump Filter</div>
                    <div id="current-filter-container">
                    </div>
                    <div id="filter-content">
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-9 col-sm-9 col-lg-9">
                <div class="row">
                    <div class="disc-inventory-header" id="inventory-header">
                        <div class="header-static header-row">
                            <div class="div-inline float-left" style="width: 30%">
                                <form class="form-inline" role="form">
                                    <div class="form-group">
                                        <p class="form-control-static header-text">Display:</p>
                                        <select class="form-control input-sm" id="paginate-display-count">
                                            <option value="20">20</option>
                                            <option value="40">40</option>
                                            <option value="60">60</option>
                                            <option value="80">80</option>
                                            <option value="100">100</option>
                                            <option value="All">All</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <div class="div-inline float-left text-center" style="width: 40%">
                                <ul class="list-inline form-control-static" id="paginate-nav">
                                    <li class="page-static" id="page-back"><span class="glyphicon glyphicon-chevron-left"></span></li>
                                    <li class="page-static" id="page-forward"><span class="glyphicon glyphicon-chevron-right"></span></li>
                                </ul>
                            </div>
                            <div class="div-inline float-left" style="width: 30%">
                                <div class="div-inline float-left header-text text-left" style="width: 40%" id="results-header-sort">
                                    <i class="fa fa-sort"></i> Sort
                                </div>
                                <div class="div-inline float-left header-text text-right" style="width: 60%" id="results-header-count">
                                    Results: 0
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="header-dynamic header-row" id="disc-inventory-header-dynamic">
                            <div class="header-sort-container">
                                <div class="current-sort-container">
                                </div>
                                <div class="add-sort-container no-select">
                                    <div class="text-center"><span><i class="fa fa-plus-circle"></i></span> Add Field</div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="disc-inventory-container">
                        <div class="disc-inventory-body" id="filter-results">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
    <script src="/static/js/bootstrap-switch.min.js"></script>
    <script src="/static/js/bootstrap-slider.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/dashboard.js"></script>
</body>
</html>