{{#section 'head'}}
<head>
    <title>disc|zump - FAQ</title>
    {{#if isRelease}}
    <link rel="stylesheet" href="/static/css-dist/faq.min.css">
    {{else}}
    <link rel="stylesheet" href="/static/css/faq.css">
    {{/if}}
</head>
{{/section}}
<div class="page-scroll">
    <div class="page-container container">
        <div class="page-header">
            <img src="/static/logo/logo_small_round.svg">
            <h1>Frequently Asked Questions</h1>
            <script></script>
        </div>
        <div class="page-body">
            <ul class="toc-container">
                <li><a href="#faq-about" class="internal">What is disc|zump?</a></li>
                <li><a href="#faq-signup" class="internal">Is it free to sign up?</a></li>
                <li><a href="#faq-terms" class="internal">What are your Terms and Conditions?</a></li>
                <li><a href="#faq-browsers" class="internal">What browsers are currently supported by disc|zump?</a></li>
                <li><a href="#faq-mobile" class="internal">Will there be a mobile-friendly platform?</a></li>
                <li><a href="#faq-features" class="internal">Can I expect more features in the future?</a></li>
                <li><a href="#faq-link" class="internal">How do I link my account to Facebook?</a></li>
                <li><a href="#faq-add" class="internal">How do I add a disc to my inventory?</a></li>
                <li><a href="#faq-visibility" class="internal">What is the difference between a public and private disc?</a></li>
                <li><a href="#faq-sharing" class="internal">How do I share a disc?</a></li>
                <li><a href="#faq-tagging" class="internal">Why should I add tags to my disc collection?</a></li>
                <li><a href="#faq-issue" class="internal">I've found an issue with the site, what should I do?</a></li>
                <li><a href="#faq-feedback" class="internal">How can we submit feedback about the site?</a></li>
                <li><a href="#faq-recover" class="internal">Help! I can't access my account!</a></li>
            </ul>
            <div class="faq-container" id="faq-about">
                <div class="faq-title">
                    <span><i class="fa fa-lg fa-question-circle"></i></span> What is disc|zump?
                </div>
                <div class="faq-body">
                    disc|zump is a social disc golf inventory network enabling users 
                    to organize, maintain and share collections across any 
                    internet-enabled device. Disc golfers can use our site to build 
                    and store their collections online for seamless sharing with 
                    others, whether it be to show off a recently obtained disc or to 
                    provide more detail for a potential trade/sale. Outside of 
                    sharing, take advantage of viewing other user's public inventories 
                    and don't be scared to shoot them a message when you want to connect.
                </div>
            </div>
            <div class="faq-container" id="faq-signup">
                <div class="faq-title">
                    <span><i class="fa fa-lg fa-question-circle"></i></span> Is it free to sign up?
                </div>
                <div class="faq-body">
                    Making an account is completely free. The only required information 
                    is your email address, postal code, and a unique 
                    username. We require a valid email address to ensure that you never 
                    lose access to your account as well as for system-level 
                    notifications (configured in your preferences). Your email address will 
                    never be shared publicly. To see more information on the data we collect, take a look at our 
                    <a href="/privacy">Privacy Policy</a>.
                </div>
            </div>
            <div class="faq-container" id="faq-terms">
                <div class="faq-title">
                    <span><i class="fa fa-lg fa-question-circle"></i></span> What are your Terms and Conditions?
                </div>
                <div class="faq-body">
                    Both our <a href="/terms">Terms and Conditions</a> and our 
                    <a href="/privacy">Privacy Policy</a> are publicly available 
                    from our home page as well as the main dashboard (located 
                    in the bottom-left corner).
                </div>
            </div>
            <div class="faq-container" id="faq-browsers">
                <div class="faq-title">
                    <span><i class="fa fa-lg fa-question-circle"></i></span> What browsers are currently supported by disc|zump?
                </div>
                <div class="faq-body">
                    disc|zump implements many newer technologies to create an interface 
                    that is user-friendly and feature-rich. Because of this, certain 
                    browsers as well as browser versions will work better than others. 
                    As of November 23, 2015, we currently support most versions of 
                    Chrome, Safari, and Firefox as well as newer versions of Opera and Internet Explorer. 
                    Please note that Internet Explorer versions prior to v10 may have limited functionality. 
                    We suggest using one of the other major browsers for the best results. Further 
                    support will come in the near future, but other areas of 
                    development may take priority. See our section on 
                    <a href="#faq-issue" class="internal">issue reporting</a> for more information.
                </div>
            </div>
            <div class="faq-container" id="faq-mobile">
                <div class="faq-title">
                    <span><i class="fa fa-lg fa-question-circle"></i></span> Will there be a mobile-friendly platform?
                </div>
                <div class="faq-body">
                    Yes! We are working hard to bring disc|zump to multiple mobile 
                    platforms as a fully-functional mobile app. As a new company, 
                    we vow to work quickly yet thoroughly to bring our users the 
                    best service. Stay tuned for more updates on mobile development 
                    progress and release dates.
                </div>
            </div>
            <div class="faq-container" id="faq-features">
                <div class="faq-title">
                    <span><i class="fa fa-lg fa-question-circle"></i></span> Can I expect more features in the future?
                </div>
                <div class="faq-body">
                    Yes! We have, what seems to be, an endless pile of ideas to sort 
                    out and introduce to the disc|zump community. As these ideas gain 
                    momentum on our side, we will share our excitement with you and 
                    keep you up-to-date on what is in the works. In the meantime, we 
                    would love to hear from you, so if you have any suggestions, 
                    feel free to shoot us a <a href="#faq-feedback" class="internal">message</a>.
                </div>
            </div>
            <div class="faq-container" id="faq-link">
                <div class="faq-title">
                    <span><i class="fa fa-lg fa-question-circle"></i></span> How do I link my account to Facebook?
                </div>
                <div class="faq-body">
                    You can link/unlink your disc|zump account a to valid Facebook account at 
                    any time by visiting the account page on your dashboard. Why 
                    should you link your account? Linking to Facebook 
                    provides you with the ability to log in with a click of a button 
                    and never have to worry about that pesky password field. We will 
                    never post/share on your behalf, so I guess the real answer is...
                    why not?
                </div>
            </div>
            <div class="faq-container" id="faq-add">
                <div class="faq-title">
                    <span><i class="fa fa-lg fa-question-circle"></i></span> How do I add a disc to my inventory?
                </div>
                <div class="faq-body">
                    There are two ways to add a new disc to your inventory - from scratch or 
                    through cloning.<br /><br />The <b>Add Disc</b> button on the home tab of your 
                    dashboard opens a blank disc form. The quickest way to populate the form 
                    is by selecting a global disc template from the dropdown in the <b>Name</b> field. If the 
                    disc you are looking for is not found in the global template list, continue 
                    to enter it manually and it will be there next time. Global templates are 
                    marked with the <span class="inline"><i class="fa fa-globe"></i></span> icon, while local 
                    templates are not.<br /><br />Add similar discs on the fly using the <b>Clone</b> 
                    feature. Click the <span class="inline"><i class="fa fa-pencil"></i></span> icon to 
                    begin editing the disc you want to clone, then click the <span class="inline"><i class="fa fa-files-o"></i></span> 
                    icon in the header bar to automatically populate the add disc form with 
                    identical information (excluding pictures). Add pictures for the new disc and 
                    you're done!
                </div>
            </div>
            <div class="faq-container" id="faq-visibility">
                <div class="faq-title">
                    <span><i class="fa fa-lg fa-question-circle"></i></span> What is the difference between a public and private disc?
                </div>
                <div class="faq-body">
                    We want to make it easy for you to decide when a disc is visible 
                    to the public eye. Mark your disc as public and it can be shared 
                    with the world, whether you do so with a link or by sharing 
                    directly to Facebook. Mark your disc as private and no one but 
                    you can see it. Flexibility is a remarkable thing.
                    <div>
                        <span><i class="fa fa-eye fa-lg"></i></span> 
                        Disc is public
                    </div>
                    <div>
                        <span><i class="fa fa-eye-slash fa-lg"></i></span> 
                        Disc is private
                    </div>
                </div>
            </div>
            <div class="faq-container" id="faq-sharing">
                <div class="faq-title">
                    <span><i class="fa fa-lg fa-question-circle"></i></span> How do I share a disc?
                </div>
                <div class="faq-body">
                    You can share any public disc by clicking one of the following 
                    icons in the dashboard/public view:
                    <div>
                        <span><i class="fa fa-link fa-lg"></i></span> 
                        Copy the shareable link and send it to others.
                    </div>
                    <div>
                        <span><i class="fa fa-facebook-square fa-lg"></i></span> 
                        Share the disc directly to Facebook on your wall, a friends wall, 
                        or even directly into a group.
                    </div>
                </div>
            </div>
            <div class="faq-container" id="faq-tagging">
                <div class="faq-title">
                    <span><i class="fa fa-lg fa-question-circle"></i></span> Why should I add tags to my disc collection?
                </div>
                <div class="faq-body">
                    As avid disc golf collectors, we wanted a way to maniuplate and 
                    navigate our inventories in the most efficient way possible. Use tags to 
                    make filtering your collection even easier. Mark a group of discs as "favorites"
                    or "tournament-specific" collectables so that you can quickly view them 
                    in the future. Create as many tags as you want, and reuse the same tag 
                    to group similar discs together. A single disc can be included in unlimited tag 
                    groups. Be creative!<br /><br />
                    Tag examples include <b>First Run</b>, <b>In The Bag</b>, <b>Halloween Collection</b>, 
                    <b>Zone Collection</b>, <b>Tournament Stamp</b>, <b>Glow Bag</b>, and many more...
                </div>
            </div>
            <div class="faq-container" id="faq-issue">
                <div class="faq-title">
                <span><i class="fa fa-lg fa-question-circle"></i></span> I've found an issue with the site, what should I do?
            </div>
            <div class="faq-body">
                As a newly released web application, it is possible that you may 
                come across an issue ("bug") that we failed to discover during our testing 
                period. We welcome your input - please shoot us feedback by 
                navigating to the feedback dialog found in the dropdown 
                menu in the upper-right corner of the dashboard. You can also email 
                <a href="mailto:support@disczump.com">disc|zump Support</a> directly 
                at support@disczump.com. We will do our best to respond as soon as possible.
            </div>
        </div>
        <div class="faq-container" id="faq-feedback">
            <div class="faq-title">
                <span><i class="fa fa-lg fa-question-circle"></i></span> How can we submit feedback about the site?
            </div>
            <div class="faq-body">
                We would love to hear from you - questions, concerns, comments 
                and even suggestions. Send your feedback by 
                navigating to the feedback dialog found in the dropdown 
                menu in the upper-right corner of the dashboard. You can also email 
                <a href="mailto:support@disczump.com">disc|zump Support</a> directly 
                at support@disczump.com. We will do our best to respond as soon as possible.
            </div>
        </div>
        <div class="faq-container" id="faq-recover">
            <div class="faq-title">
                <span><i class="fa fa-lg fa-question-circle"></i></span> Help! I can't access my account!
            </div>
            <div class="faq-body">
                You can reset your password by accessing the 
                <a href="/recover">Recover Password</a> page. Enter in the email address 
                associated with your account and we will shoot you an email with 
                instructions. Still unable to access your account? Shoot an email 
                to <a href="mailto:support@disczump.com">disc|zump Support</a> and 
                we will see what we can do.
            </div>
        </div>
    </div>
    <div style="text-align: right; margin-bottom: 20px;">
        <a class="btn btn-wide btn-primary" href="/">
            <i class="fa fa-home pull-left"></i> Home
        </a>
    </div>
</div>
</div>