{{#section 'head'}}
<head>
    <title>disc|zump - Home</title>
    <link href="https://fonts.googleapis.com/css?family=Orbitron:400,900" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
    {{#if isRelease}}
    <link rel="stylesheet" href="/static/css-dist/home.min.css">
    {{else}}
    <link rel="stylesheet" href="/static/css/home.css">
    {{/if}}
    <meta property="og:site_name"           content="disc|zump Social Inventory">
    <meta property="og:title"               content="disc|zump" />
    <meta property="og:url"                 content="{{serverURL}}/" />
    <meta property="og:type"                content="product" />
    <meta property="og:description"         content="A social disc golf inventory network enabling users to organize, maintain and share collections across any internet-enabled device." />
    <meta property="fb:app_id"              content="1433417853616595" />
    <meta property="og:image"               content="{{serverURL}}/static/logo/logo_banner_caption_v1.png" />
</head>
{{/section}}
<div class="dz-nav">
  <a href="/" id="dz-nav-logo"><img src="/static/logo/logo_text.svg" class="nav-logo"></a>
  <div class="navbar-btn-container full-height float-right">
      <div class="navbar-btn-list">
          <a href="/login"><span class="nav-btn">Sign In</span></a>
          <a href="/signup"><span class="nav-btn">Sign Up</span></a>
      </div>
  </div>
</div>
<div id="main-background" {{#if reqScroll}}style="background-attachment: scroll !important;"{{/if}}>
  <div class="link-container" id="main-links">
    <span class="scroll-icon"><i class="fa fa-arrow-circle-down"></i></span>
    </div>
  </div>
</div>
<div class="section-about" id="section-disczump">
  <div class="section-container">
  <div class="icon-container">
    
  </div>
  <div class="section-content">
    <div class="define-word">
        disc • zump <span class="word-small">[disk zump'], n.</span>
    </div>
    <div class="define-description">
        A social disc golf inventory network enabling users to organize, 
        maintain and share collections across any internet-enabled device.
    </div>
  </div>
    
  </div>
</div>
<div class="section-info fscreen shadow-btm">
  <div class="section-container wide fitp">
    <ul id="preview-list" class="horiz">
      <li class="dtab">
          <div>
              <div class="preview-icon">
                  <img src="/static/icon/organized_icon.png" />
                </div>
                <div class="preview-title">ORGANIZED</div>
                <div class="preview-desc">
                  Everyone hates losing discs. Keep your inventory structured and 
                  organized so you’ll never lose track of what you own, even if you 
                  just lost one in the local pond.
                </div>
          </div>
      </li>
      <li class="dtab">
          <div>
              <div class="preview-icon">
                  <img src="/static/icon/social_icon.png" />
                </div>
                <div class="preview-title">SOCIAL</div>
                <div class="preview-desc">
                  Seeing is believing, even when it comes to your collection. 
                  Connect with other disc golfers to prove that your collection is 
                  as good as it sounds.
                </div>
          </div>
      </li>
      <li class="dtab">
          <div>
              <div class="preview-icon">
                  <img src="/static/icon/access_icon.png" />
                </div>
                <div class="preview-title">ACCESSIBLE</div>
                <div class="preview-desc">
                  It's the 21st century and time for you to get your inventory off 
                  the shelf and into the cloud. Build an inventory that can be 
                  accessed at home and on the course.
                </div>
          </div>
      </li>
      <div class="clearfix"></div>
    </ul>
  </div>
</div>
<div class="section-info">
 <div class="full-image" id="disc-image-1" data-stellar-background-ratio="0.5">
 </div>
 <div class="image-overlay">
   <div class="attention-container">
     <div class="text-attention">Give your 
     <span class="dz-color">collection</span> 
     the attention it deserves.</div>
   </div>
 </div>
</div>
<div class="section-info shadow-top">
 <div class="section-container wide" id="feature-background">
   <div class="feature-container">
     <div class="feature-title">
       <div class="feature-title-main">
         Features for days
       </div>
       <div class="feature-title-desc">
         <b>disc|zump</b> is feature-rich, providing the user with an array 
         of functionality from a customizable dashboard to seamless 
         discovery of other collectors.
       </div>
     </div>
     <ul id="feature-area" class="horiz">
       <li>
         <div class="feature-item">
           <div class="feature-icon"><img src="/static/icon/view_icon.png"/></div>
           <div class="feature-label">Views</div>
           <div class="feature-hover">
             <div>
               <div>Choose your favorite view: a detailed list, a simplistic
               gallery or an informative graph.</div>
             </div>
           </div>
           <div class="clearfix"></div>
         </div>
       </li>
       <li>
         <div class="feature-item">
           <div class="feature-icon"><img src="/static/icon/gear_icon.png"/></div>
           <div class="feature-label">Customization</div>
           <div class="feature-hover">
             <div>
               <div>Design your dashboard to fit you, whether its default 
               views or color schemes.</div>
             </div>
           </div>
           <div class="clearfix"></div>
         </div>
       </li>
       <li>
         <div class="feature-item">
           <div class="feature-icon"><img src="/static/icon/visibility_icon.png"/></div>
           <div class="feature-label">Visibility</div>
           <div class="feature-hover">
             <div>
               <div>Decide which discs you want to show to the world while 
               keeping others for your eyes only.</div>
             </div>
           </div>
           <div class="clearfix"></div>
         </div>
       </li>
       <li>
         <div class="feature-item">
           <div class="feature-icon"><img src="/static/icon/sharing_icon.png"/></div>
           <div class="feature-label">Sharing</div>
           <div class="feature-hover">
             <div>
               <div>Share a disc with friends and even directly to your 
               favorite Facebook groups.</div>
             </div>
           </div>
           <div class="clearfix"></div>
         </div>
       </li>
       <li>
         <div class="feature-item">
           <div class="feature-icon"><img src="/static/icon/profiles_icon.png"/></div>
           <div class="feature-label">Profiles</div>
           <div class="feature-hover">
             <div>
               <div>Search for other disc golfers to connect and view
               their public disc inventories.</div>
             </div>
           </div>
           <div class="clearfix"></div>
         </div>
       </li>
       <li>
         <div class="feature-item">
           <div class="feature-icon"><img src="/static/icon/messaging_icon.png"/></div>
           <div class="feature-label">Messaging</div>
           <div class="feature-hover">
             <div>
               <div>Compliment and ask questions to other disc golfers at 
               the click of a button.</div>
             </div>
           </div>
           <div class="clearfix"></div>
         </div>
       </li>
      <div class="clearfix"></div>
     </ul>
   </div>
 </div>
</div>
<div class="section-info wpad dtab" id="section-beta">
    <div>
        <div class="section-title">
        We're In Beta!
      </div>
      <div class="section-inner">
        <div class="section-graphic">
          <img class="logo-block" src="/static/logo/logo_small_beta.svg">
        </div>
        <div class="section-details">
          We have been working hard to build a <b>highly-functional</b> and <b>feature-rich</b> disc 
          golf inventory network. At this time, disc|zump is only accessible through a web browser; 
          however, we have a mobile app in the works to make accessing your inventory on-the-go that much easier. 
          Now, we need people like yourself to dive in 
          and become one of the first to use disc|zump. Create an account and begin 
          to build your collection. We thrive on user feedback, so don't hesitate 
          to leave us your comments and/or concerns.
        </div>
        <a class="btn btn-default" id="get-started" href="/signup">Get Started!</a>
      </div>
    </div>
</div>
<div class="section-info" id="section-footer">
  <div class="footer-bar">
    <span class="footer-copyright">
        Copyright <i class="fa fa-copyright"></i> disc|zump, LLC
        <a href="/faq">FAQ</a>
        <a href="/privacy">Privacy Policy</a>
        <a href="/terms">Terms and Conditions</a>
    </span>
    <span class="footer-links">
      <a href="https://www.facebook.com/disczump-1633222526938614/" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <a href="https://twitter.com/disczump" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <a href="https://instagram.com/disczump/" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </span>
    <div class="clearfix"></div>
  </div>
</div>
{{#if isRelease}}
<script src="/static/js-dist/validation.min.js"></script>
<script src="/static/js-dist/home.min.js"></script>
{{else}}
<script src="/static/js/validation.js"></script>
<script src="/static/js/home.js"></script>
{{/if}}
<script src="https://cdn.rawgit.com/markdalgleish/stellar.js/master/jquery.stellar.min.js"></script>