<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>DiscZump - Link Account</title>
</head>
<body>
    <div class="page-container container">
        <div class="page-header">
            {{#if unlink}}
            <h1><i class="fa fa-facebook-square fb-color"></i> Unlink Facebook</h1>
            {{else}}
            <h1><i class="fa fa-facebook-square fb-color"></i> Connect with Facebook</h1>
            {{/if}}
        </div>
        <div class="page-body">
            {{#if unlink}}
            <strong>We are sorry to see you go!</strong>
            {{else}}
            <strong>Join the DiscZump Community!</strong>
            {{/if}}
            <br />
            <br />
            Linking to your DiscZump account to Facebook allows you to access many 
            features including sharing with friends, posting to groups and more! Once your 
            account has been linked, you can then login with a single click in addition to 
            the standard method of using your email and password.
            <br />
            <br />
            You can always link/unlink your facebook account in the future by accessing 
            the appropriate option from the settings menu.
        </div>
        <div style="text-align: center">
            {{#if unlink}}
            <a class="btn btn-wide btn-primary btn-facebook" href="/account/unlink/facebook">
                <i class="fa fa-frown-o pull-left"></i> Unlink!</a>
            <a class="btn btn-wide btn-default" href="/dashboard">
                <i class="fa fa-smile-o pull-left"></i> Nevermind!</a>
            {{else}}
            <a class="btn btn-wide btn-primary btn-facebook" href="/account/link/facebook">
                <i class="fa fa-facebook-square pull-left"></i> Link!</a>
            <a class="btn btn-wide btn-default" href="/dashboard">
                <i class="fa fa-home pull-left"></i> Take Me Home!</a>
            {{/if}}
        </div>
    </div>
</body>
</html>
