<!doctype html>
<html>
<head>
    <title>DiscZump - {{notify.pageHeader}}</title>
    <style type="text/css">
        .jumbotron h1 {
            font-size: 50px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-6 col-md-offset-3">
                <div class="jumbotron">
                    <div class="page-header">
                      <h1>DiscZump <small>{{notify.header}}</small></h1>
                    </div>
                    <p>{{notify.text}}</p>
                    <br />
                    <p><a class="btn btn-primary btn-lg pull-right" href="/" role="button">Return Home</a></p>
                    <div class="clearfix" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>
