<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>DiscZump - Sign Up</title>
    <link rel="stylesheet" href="/static/css/signup.css">
</head>
<body>
    <div class="signup-form-container">
        <div class="signup-form-cell">
            <div class="signup-form-center">
                <form action="/signup" method="post" autocomplete="off">
                    <img src="/static/logo/logo_small.svg" class="main-logo" />
                    {{#if message.error}}
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <strong>Error: </strong>{{message.error}}
                    </div>
                    {{/if}}
                    {{#if message.info}}
                    <div class="alert alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <strong>Note: </strong>{{message.info}}
                    </div>
                    {{/if}}
                    <div class="signup-form-stacked">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                            {{#if username}}
                            <input class="form-control" id="username" type="email" name="username" placeholder="Email" value="{{username}}">
                            {{else}}
                            <input class="form-control" id="username" type="email" name="username" placeholder="Email">
                            {{/if}}
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            <input class="form-control" id="password" type="password" name="password" placeholder="Password">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            <input class="form-control" id="verify-password" type="password" placeholder="Verify Password">
                        </div>
                        {{#if beta}}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-info fa-fw"></i></span>
                            <input class="form-control" id="passcode" type="text" name="passcode" placeholder="Passcode">
                        </div>
                        {{/if}}
                        <button id="submit" class="btn btn-submit btn-block" type="submit">Sign up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/static/js/validation.js"></script>
</body>
</html>
