<!doctype html>
<html>
<head>
    <title>DiscZump - Sign In</title>
    <link rel="stylesheet" href="/static/css/test.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
</head>
<body>
    
    <div class="backdrop">
        <div class="image-view-container">
            <div class="image-view-large">
                <img src="https://placehold.it/700x700" />
            </div>
            <div class="image-view-list-container">
                <div class="image-view-list">
                    <div class="image-view-list-item">
                        <img class="image-view-selected" src="https://placehold.it/98x98" />
                    </div>
                    <div class="image-view-list-item">
                        <img src="https://placehold.it/98x98" />
                    </div>
                    <div class="image-view-list-item">
                        <img src="https://placehold.it/98x98" />
                    </div>
                    <div class="image-view-list-item">
                        <img src="https://placehold.it/98x98" />
                    </div>
                    <div class="image-view-list-item">
                        <img src="https://placehold.it/98x98" />
                    </div>
                    <div class="image-view-list-item">
                        <img src="https://placehold.it/98x98" />
                    </div>
                    <div class="image-view-list-item">
                        <img src="https://placehold.it/98x98" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/test.js"></script>
</body>
</html>