<!doctype html>
<html>
<head>
    <title>disc|zump - Home</title>
    <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Orbitron:400,900" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/dropzone.css">
    <link  href="https://cdn.rawgit.com/fengyuanchen/cropper/v0.11.1/dist/cropper.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/test.css">
</head>
<body>
    <div class="dz-tri-switch" id="dashboard-view-switch">
      <div class="dz-switch-opt" value="inventory">
        <span><i class="fa fa-tachometer fa-sidebar-icon"></i></span>
      </div>
      <div class="dz-switch-opt active" value="gallery">
        <div class="dz-switch-selector"></div>
        <span><i class="fa fa-film fa-sidebar-icon"></i></span>
      </div>
      <div class="dz-switch-opt" value="statistics">
        <span><i class="fa fa-pie-chart fa-sidebar-icon"></i></span>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="link-container">
      <button class="link-btn" type="button"><span><i class="fa fa-files-o"></i></span></button>
      <input class="link-input" type="text" value="http://www.disczump.com/disc/Dt3Dzu83d"/>
    </div>
    <br>
    <br>
    <br>
    <span class="clicker"><i class="fa fa-link fa-lg fa-dim fa-copy-link" title="Copy Public URL"></i></span>
    <span class="clicker" style="position: absolute; right: 0"><i class="fa fa-link fa-lg fa-dim fa-copy-link" title="Copy Public URL"></i></span>
    <br>
    <br>
    <br>
    <div id="dropit" style="width:400px;height:400px;background-color:blue;margin:auto"></div>
    <button id="clickme">Click Me</button>
    <div style="width:400px;height:400px;background-color:gray;margin:auto" id="image-container">
    </div>
    <script src="https://cdn.rawgit.com/exif-js/exif-js/master/exif.js"></script>
    <script src="https://cdn.rawgit.com/fengyuanchen/cropper/v0.11.1/dist/cropper.min.js"></script>
    <script src="/static/js/dropzone.js"></script>
    <script src="/static/js/test.js"></script>
</body>
</html>