<!doctype html>
<html>
<head>
    <title>DiscZump - Sign In</title>
    <link rel="stylesheet" href="/static/css/test.css">
    <link rel="stylesheet" href="/static/css/bootstrap-slider.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
</head>
<body>
    <div class="gallery-container"></div>
    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/bootstrap-slider.js"></script>
    <script src="/static/js/test.js"></script>
</body>
</html>