/*===================================================================*/
/*                                                                   */
/*                      Page setup Area                              */
/*                                                                   */
/*===================================================================*/

.sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 150;
    display: block;
    padding: 0px;
    background-color: rgb(238, 238, 238);
    border-right: 1px solid #000;
    width: 350px;
}

.sidebar-nav-toolbar {
    background-color: rgb(190, 190, 190);
    position: relative;
}

.toolbar-border {
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgb(137, 135, 135);
}

.sidebar-nav-select {
    border-right: 1px solid rgb(137, 135, 135);
    position: relative;
    cursor: pointer;
}

.sidebar-nav-select.active {
    color: rgb(0, 142, 221);
    cursor: default;  
    background-color: rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
    z-index: 1000;
}

.sidebar-nav-select.active:hover {
    cursor: default;
    background-color: rgb(238, 238, 238);
}

.sidebar-nav-select:hover {
    background-color: rgb(150, 150, 150);
    cursor: pointer;
}

.fa-toolbar-icon {
    padding: 10px;
    font-size: 1.3em;
}

.nav-sidebar {
    list-style: none;
    padding-left: 0px;
    font-weight: bold;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.nav-sidebar li {
    padding: 10px 20px;
    margin-bottom: 5px;
    color: #000;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.sidebar-icon {
    width: 40px;
    text-align: center;
}

.nav-sidebar li.sidebar-select:hover {
    cursor: pointer;
    background-color: rgba(0, 142, 221, 0.25);
}

.nav-sidebar li.sidebar-select.active {
    background-color: rgb(0, 142, 221);
    cursor: default;
    color: #fff;
}

.sidebar-section-header {
    font-size: 12px;
    color: rgb(130, 130, 130);
    padding-top: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sidebar-section-header span {
    float: left;
    padding: 0px 10px;
}

.sidebar-section-header hr {
    border: 1px solid rgb(150, 150, 150);
    border-width: 1px 0 0 0;
    margin: 6px 10px;
}

.page-view {
    margin-left: 350px;
}

.page {
    display: none;
    padding: 0px 50px;
    width: 100%;
    margin: auto;
    overflow-x: auto;
    min-width: 785px;
    max-width: 1500px;
}

.page > .row {
    margin: 0px;
    margin-bottom: 30px;
}

.page-title > a {
    float: right;
    font-size: 0.5em;
    font-family: sans-serif;
    text-decoration: none;
    color: #999;
}

.page-title > a:hover {
    text-decoration: none;
    color: #000;
}

.profile-image {
    width: 170px;
    height: 170px;
    float: left;
    text-align: center;
    border: 1px solid rgb(163, 163, 163);
    background-color: rgb(238, 238, 238);
    padding: 9px 8px 8px 9px;
    border-radius: 3px;
}

.profile-image > img {
    max-width: 150px;
    max-height: 150px;
    border: 1px solid rgb(163, 163, 163);
}

.profile-image > .user-default-image > i {
    width: 150px;
    height: 150px;
    background-color: #fff;
    border: 1px solid rgb(163, 163, 163);
    font-size: 100px;
    display: table-cell;
    vertical-align: middle;
}

.profile-status {
    width: auto;
    height: 170px;
    margin-left: 170px;
    padding-left: 20px;
    display: table;
}

.row-label {
    font-weight: bold;
    padding: 2px 10px;
    background-color: rgb(238, 238, 238);
    color: #000;
    margin-bottom: 20px;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 3px;
}

.profile-actions {
    padding-left: 25px;
    list-style: none;
    color: rgb(0, 142, 221);
}

.profile-actions > li {
    padding: 2px 0px;
}

.data-table {
    display: table-cell;
    vertical-align: middle;
}

.data-row {
    font-size: 1.1em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.data-label {
    float: left;
    width: 100px;
    text-align: right;
    font-weight: bold;
}

.data-value {
    margin-left: 110px;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}

.form-small {
    max-width: 600px;
    margin: auto;
}

.form-center {
    text-align: center;
}

#password-accordion-label {
    text-align: center;
}

#password-accordion-label:hover {
    cursor: pointer;
    text-decoration: underline;
}

.lh-input {
    line-height: 34px;
}

#accountCityState {
    font-weight: bold;
}

.colorize-label {
    padding-top: 0px !important;
    line-height: 25px;
}

.colorize-container {
    height: 25px;
    width: 25px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
    position: relative;
}

.colorize-item {
    height: 19px;
    width: 19px;
    margin: auto;
    border-radius: 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*===================================================================*/
/*                                                                   */
/*                           Statistics                              */
/*                                                                   */
/*===================================================================*/

.statistics-container {
    height: 400px;
}

/*===================================================================*/
/*                                                                   */
/*                         Add/Edit Disc Page                        */
/*                                                                   */
/*===================================================================*/

#disc-action-container {
    max-width: 60%;
    margin: 10px auto;
    width: 60%;
}

.modify-button-container {
    padding: 20px 0px;
    text-align: right;
}

.fa-pad-left {
    padding: 0px 0px 0px 5px;
}

.fa-hover-black:hover {
    cursor: pointer;
    color: #000;
}

.required-field {
    color: #FF0000;
}

.upload-img {
    width: 15em;
    height: 15em;
    display: table;
    border: 1px solid #000;
    padding-top: 2.5em;
    position: relative;
}

.upload-img > div, .upload-img > span {
    display: table-cell;
    text-align: center;
}

.upload-img i {
    font-size: 10em;
}

.upload-img-click {
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 2.5em;
}

/*===================================================================*/
/*                                                                   */
/*                             Modal CSS                             */
/*                                                                   */
/*===================================================================*/

.modal-dialog {
    z-index: 2000;
}

.custom-modal {
    z-index: 3000;
    overflow: hidden;
}

.custom-modal p {
    margin: 0px;
}

.modal-body {
    overflow-y: auto;
}

.modal-footer {
    padding: 15px;
    margin: 0px;
}

.modal-title-disc-type {
    color: #ADADAD;
}

.create-disc-textarea {
    resize: vertical;
}

.allow-icon {
    padding-left: 0px;
    padding-right: 0px;
}

#feedback-textarea {
    width: 100%;
    height: 200px;
    resize: none;
}

/*===================================================================*/
/*                                                                   */
/*                          Filter Area                              */
/*                                                                   */
/*===================================================================*/

#filter-count {
    color: red;
    font-weight: bold;
}

.current-filter-item {
    padding: 5px 20px !important;
    font-size: 0.9em;
    background-color: #ffba00;
    margin-bottom: 5px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.remove-filter-item {
    font-size: 1.3em;
    cursor: pointer;
}

.remove-filter-item:hover {
    color: #a62500;
}

.filter-item i {
    font-size: 1.5em;
}

.filter-item-container {
    padding: 0px !important;
    margin-bottom: 5px;
}

.filter-item {
    padding: 5px 20px;
    background-color: rgb(190, 190, 190);
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.filter-item.active {
    background-color: rgb(0, 142, 221);
    border-bottom: 1px solid rgb(128, 128, 128);
    color: #fff;
}

.filter-option-container {
    list-style: none;
    padding: 0px;
}

.filter-option-container > li.filter-option,
.filter-option-container > li.filter-option-static {
    padding: 5px 20px 5px 40px;
    background-color: white;
    border-bottom: 1px solid rgb(182, 180, 180);
    margin-bottom: 0px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.filter-option-container > li.filter-option {
    
    cursor: pointer;
}

.filter-option-container > li.filter-option.active {
    color: rgb(0, 142, 221);
}

.filter-option-container > li.filter-option:hover {
    background-color: rgb(221, 221, 221);
}

.clear-all-filters {
    font-size: 0.9em;
    cursor: pointer;
    margin-bottom: 5px;
}

.clear-all-filters:hover {
    color: rgb(0, 142, 221);
}

/*===================================================================*/
/*                                                                   */
/*                           Messaging                               */
/*                                                                   */
/*===================================================================*/
.thread-container-list {
    padding-left: 0px;
}

.thread-container {
    height: 100px;
    display: block;
    margin-bottom: 0px !important;
    border-top: 1px solid black;
    padding: 0px !important;
    background-color: white;
}

.thread-container.active {
    cursor: pointer;
    background-color: rgba(0, 142, 221, 0.25);
}

.thread-container:last-child {
    border-bottom: 1px solid black;
}

.thread-image {
    float: left;
    height: 100%;
    width: 100px;
    text-align: center;
    background-color: #ffffff;
    border-right: 1px solid #D4D4D4;
    background-position: center center;
    background-size: cover;
    display: table;
}

.thread-image > span {
    display: table-cell;
    vertical-align: middle;
}

.thread-image > span > i {
    font-size: 5em;
}

.thread-details-container {
    height: 100%;
    padding-left: 105px;
    padding-right: 40px;
}

.thread-details {
    display: table;
    width: 100%;
    height: 100%;
}

.thread-details-inner {
    display: table-cell;
    vertical-align: middle;
}

.thread-icon {
    float: right;
    width: 40px;
    text-align: center;
    display: table;
    height: 100%;
}

.thread-container.thread-new .thread-icon {
    color: rgb(0, 142, 221);
}

.thread-container.thread-new .thread-tag-label {
    font-weight: bold;
}

.thread-container.thread-open { 
    background-color: rgba(0, 142, 221, 0.25);
    cursor: default;
}

.thread-icon > span {
    display: table-cell;
    vertical-align: middle;
}

.thread-date {
    color: #828282;
    font-style: italic;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.thread-tag {
    width: 100%;
    font-size: 1.2em;
    font-weight: normal;
}

.thread-tag-label {
    width: 100%;
    font-size: 1.2em;
    font-weight: normal;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}

.thread-tag-count {
    width: 20px;
}

#message-count {
    position: absolute;
    z-index: 100;
    right: 3px;
    bottom: 1px;
    color: red;
    font-weight: bold;
}

@media (max-width: 1500px) and (min-width: 1151px) {
    .thread-tag-label {
        max-width: 135px;
        font-size: 1em;
    }
    
    .thread-date {
        max-width: 135px;
        font-size: 0.8em;
    }
    
    .thread-container {
        height: 75px;
    }
    
    .thread-image {
        width: 75px;
    }
    
    .thread-details-container {
        padding-left: 80px;
    }
    
    .thread-image > span > i {
        font-size: 3em;
    }
}

@media (max-width: 1150px) {
    .thread-tag-label {
        max-width: 70px;
        font-size: 0.8em;
    }
    
    .thread-date {
        max-width: 70px;
        font-size: 0.6em;
    }
    
    .thread-container {
        height: 50px;
    }
    
    .thread-image {
        width: 50px;
    }
    
    .thread-details-container {
        padding-left: 55px;
    }
    
    .thread-image > span > i {
        font-size: 2em;
    }
}

#add-message-container {
    max-width: 70%;
    margin: auto auto;
    width: 70%;
    height: 100px;
    border-top: 1px solid #D2D2D2;
    padding: 10px;
}

#load-messages {
    text-align: center;
    color: blue;
    margin-bottom: 10px;
}

#load-messages:hover {
    color: black;
    cursor: pointer;
    background-color: #EAEAEA;
}

.add-message-text {
    height: 70px;
    width: 100%;
    padding-right: 100px;
}

.add-message-text > textarea {
    height: 100%;
    width: 100%;
    padding: 0px 10px;
    resize: none;
    border: none;
}

.send-container {
    height: 70px;
    width: 100px;
    display: table;
    float: right;
}

.send-container-inner {
    display: table-cell;
    vertical-align: middle;
}

.send-container-inner > div {
    color: #D2D2D2;
    border: 1px solid #D2D2D2;
    border-radius: 20px;
    padding: 10px;
    width: 80%;
    margin: auto;
    text-align: center;
}

.send-container-inner > div.active {
    cursor: pointer;
    border: 2px solid rgb(0, 142, 221);
    font-weight: bold;
    color: rgb(0, 142, 221);
}

.create-message-option {
    height: 10px;
    width: 100%;
    font-size: 0.9em;
}

.create-message-option > span {
    float: right;
    cursor: pointer;
    color: #B1B1B1;
}

.create-message-option > span:hover {
    color: #000;
}

#message-container {
    max-width: 70%;
    margin: 10px auto;
    width: 70%;
    overflow: auto;
    padding: 0px 10px;
    position: relative;
}

#message-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
 
#message-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
#message-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.thread-message {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.thread-message-area {
    min-width: 200px;
    max-width: 80%;
    display: inline-block;
}

.thread-message.message-outgoing .thread-message-area {
    float: right;
}

.message-user {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin: auto;
    background-position: center center;
    background-size: cover;
}

.thread-message.message-incoming .message-user {
    float: left;
}

.thread-message.message-outgoing .message-user {
    float: right;
}

.thread-message.message-incoming .message-content {
    padding-left: 60px;
}

.thread-message.message-outgoing .message-content {
    padding-right: 60px;
}

.message-content {
    position: relative;
    padding-bottom: 15px;
}

.message-bubble {
    background-color: #C7D2D8;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ADADAD;
    padding: 5px 10px;
    font-size: 0.9em;
    line-height: 130%;
    word-break: break-word;
    overflow: hidden;
}

.message-date {
    font-size: 10px;
    position: absolute;
    bottom: 0;
}

.thread-message.message-incoming .message-date {
    right: 0;
}

.thread-message.message-outgoing .message-date {
    left: 0;
}

/*===================================================================*/
/*                                                                   */
/*                          Profile Page                             */
/*                                                                   */
/*===================================================================*/

#profile-list {
    padding: 0px;
}

.profile-item {
    height: 100px;
    display: block;
    margin-bottom: 0px !important;
    border-top: 1px solid black;
    padding: 0px !important;
    background-color: white;
}

.profile-item:last-child {
    border-bottom: 1px solid black;
}

.profile-item.active {
    cursor: pointer;
    background-color: rgba(0, 142, 221, 0.25);
}

.profile-item-image {
    float: left;
    height: 100%;
    width: 100px;
    text-align: center;
    background-color: #ffffff;
    border-right: 1px solid #D4D4D4;
    background-position: center center;
    background-size: cover;
    display: table;
}

.profile-item-image > span {
    display: table-cell;
    vertical-align: middle;
}

.profile-item-image > span > i {
    font-size: 5em;
}

.profile-item-details {
    height: 100%;
    display: table;
}

.profile-item-details-inner {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}

.profile-item-label {
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
    max-width: 229px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 5px;
}

.profile-item-text {
    width: 100%;
    color: #828282;
    font-style: italic;
    max-width: 229px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.nav-sidebar > .row {
    margin: 15px 0px;
}

.profile-title-container {
    display: table;
    text-align: center;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

#profile-alias {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5em;
}

#profile-pdga {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.1em;
}

.profile-title-container > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 350px;
}

.profile-picture-container {
    display: table;
    text-align: center;
    width: 100%;
}

.profile-picture-container > img, .profile-picture-container > span {
    max-width: 250px;
    max-height: 250px;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 100px;
    margin: auto;
}

.profile-data-container {
    width: auto;
}

.profile-action-container > button {
    width: 175px;
    display: table;
    margin: auto;
}

.profile-data-row {
    font-size: 1.1em;
    margin: 10px 0px;
    text-align: center;
    font-weight: bold;
}

@media (max-width: 1500px) and (min-width: 1151px) {
    .profile-item-label {
        max-width: 154px;
        font-size: 1em;
    }
    
    .profile-item-text {
        max-width: 154px;
        font-size: 0.8em;
    }
    
    .profile-item {
        height: 75px;
    }
    
    .profile-item-image {
        width: 75px;
    }
    
    .profile-item-image > span > i {
        font-size: 3em;
    }
    
    .profile-title-container > div {
        width: 250px;
    }
    
    .profile-picture-container > img, .profile-picture-container > span {
        max-width: 200px;
        max-height: 200px;
    }
}

@media (max-width: 1150px) {
    .profile-item-label {
        max-width: 104px;
        font-size: 0.8em;
    }
    
    .profile-item-text {
        max-width: 104px;
        font-size: 0.6em;
    }
    
    .profile-item {
        height: 50px;
    }
    
    .profile-item-image {
        width: 50px;
    }
    
    .profile-item-image > span > i {
        font-size: 2em;
    }
    
    .profile-item-details-inner {
        padding: 3px;
    }
}

/*===================================================================*/
/*                                                                   */
/*                          Search Area                              */
/*                                                                   */
/*===================================================================*/

.search-format {
    display: block;
    width: 100%;
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 14px;
    color: rgb(190, 190, 190);
    background-color: #FFF;
    border: none;
}

.fa-search-results {
    line-height: inherit;
    float: right;
    font-size: 1em;
    display: none;
}

#search-results-container li {
    padding: 0px 25px;
    margin: 0px;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    font-weight: normal;
    font-style: italic;
}

#search-results-container li:hover:not(.result-item-empty) {
    cursor: pointer;
    font-weight: bold;
    background-color: rgba(0, 142, 221, 0.25);
}

.result-item-empty {
    cursor: default;
}

/*===================================================================*/
/*                                                                   */
/*                      Sort Field Area                              */
/*                                                                   */
/*===================================================================*/

#results-header-sort, #results-header-filter {
    cursor: pointer;
    padding: 6px 12px;
    border: 1px solid rgb(134, 134, 134);
    border-radius: 5px;
    margin: 0px 5px;
}

#results-header-filter:hover, #results-header-sort:hover, .page-dynamic:hover, .page-static:hover {
    color: rgb(0, 142, 221);
    border-color: rgb(0, 142, 221);
}

.sort-text {
    padding-left: 1em;
    margin-bottom: 0px;
}

.sort-text li {
    text-transform: capitalize;
    font-size: 10px;
}

#paginate-display-count {
    padding: 0px;
}

#paginate-nav li {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    padding: 0px 10px;
}

#paginate-nav li.active {
    font-weight: bold;
    color: rgb(0, 142, 221);
    cursor: default;
    font-size: 1.2em;
}

select, option {
    text-align: center;
}

.header-sort-container {
    margin-right: auto;
    margin-left: auto;
    border: 1px solid black;
}

.add-sort-container {
    padding: 3px 0px;
    cursor: pointer;
    background: rgba(222,222,222,1);
    border-top: 1px solid rgb(134, 134, 134);
    background: -moz-linear-gradient(top, rgba(222,222,222,1) 0%, rgba(209,209,209,1) 51%, rgba(148,148,148,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(222,222,222,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(100%, rgba(148,148,148,1)));
    background: -webkit-linear-gradient(top, rgba(222,222,222,1) 0%, rgba(209,209,209,1) 51%, rgba(148,148,148,1) 100%);
    background: -o-linear-gradient(top, rgba(222,222,222,1) 0%, rgba(209,209,209,1) 51%, rgba(148,148,148,1) 100%);
    background: -ms-linear-gradient(top, rgba(222,222,222,1) 0%, rgba(209,209,209,1) 51%, rgba(148,148,148,1) 100%);
    background: linear-gradient(to bottom, rgba(222,222,222,1) 0%, rgba(209,209,209,1) 51%, rgba(148,148,148,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#949494', GradientType=0 );
}

.add-sort-container.mdown {
    background: rgba(148,148,148,1);
    background: -moz-linear-gradient(top, rgba(148,148,148,1) 0%, rgba(209,209,209,1) 49%, rgba(222,222,222,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(148,148,148,1)), color-stop(49%, rgba(209,209,209,1)), color-stop(100%, rgba(222,222,222,1)));
    background: -webkit-linear-gradient(top, rgba(148,148,148,1) 0%, rgba(209,209,209,1) 49%, rgba(222,222,222,1) 100%);
    background: -o-linear-gradient(top, rgba(148,148,148,1) 0%, rgba(209,209,209,1) 49%, rgba(222,222,222,1) 100%);
    background: -ms-linear-gradient(top, rgba(148,148,148,1) 0%, rgba(209,209,209,1) 49%, rgba(222,222,222,1) 100%);
    background: linear-gradient(to bottom, rgba(148,148,148,1) 0%, rgba(209,209,209,1) 49%, rgba(222,222,222,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#949494', endColorstr='#dedede', GradientType=0 );
}

.add-sort-container:hover {
    background-color:#F2F2F2;
}

.add-sort-container > div {
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 0.9em;
}

.current-sort-container {
}

.sort-field-container {
    height: 40px;
    background-color: white;
    border-bottom: 1px solid #ccc;
}

.sort-field-placeholder {
    background-color: rgb(192, 214, 255);
    height: 40px;
}

.sort-field-container > div {
    height: 100%;
}

.sort-field-container > .div-inline {
    display: table;
}

.sort-field-container > div > span{
    display: table-cell;
    vertical-align: middle;
}

.sort-field-arrange {
    width: 40px;
    border-right: 1px solid #ccc;
    cursor: move;
    cursor: -webkit-grab;
    display: table;
}

.sort-field-arrange.mdown {
    cursor: move;
    cursor: -webkit-grabbing;
}

.sort-field-arrange:hover {
    background-color:#F2F2F2;
}

.sort-field-remove {
    width: 40px;
    color: rgba(200, 0, 0, 0.3);
    border-left: 1px solid #ccc;
    cursor: pointer;
    display: table;
}

.sort-field-remove:hover {
    color: rgba(200, 0, 0, 0.7);
    background-color: #F2F2F2;
}

.sort-field-form {
    overflow: hidden;
}

.sort-field-form > div {
    display: table;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}

.sort-field-form > div > div {
    display: table-cell;
    vertical-align: middle;
}

.sort-field-form .header-text {
    margin-right: 5px;
}

.sort-field-form .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.sort-field-form .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}


/*===================================================================*/
/*                                                                   */
/*                      Filtered View                                */
/*                                                                   */
/*===================================================================*/

.disc-inventory-container {
    border: 1px solid black;
}

.disc-inventory-body {
    padding: 10px;
    -webkit-box-shadow: inset 0px 0px 5px 1px rgba(92,92,92,1);
    -moz-box-shadow: inset 0px 0px 5px 1px rgba(92,92,92,1);
    box-shadow: inset 0px 0px 5px 1px rgba(92,92,92,1);
}

.disc-inventory-header {
    background-color: rgb(190, 190, 190);
    margin-bottom: 10px;
    border: 1px solid black;
    position: static;
    z-index: 900;
}

.header-fixed {
    position: fixed !important;
    border-top: none !important;
    -webkit-box-shadow: 0px 1px 10px 1px rgba(92,92,92,0.7);
    -moz-box-shadow: 0px 1px 10px 1px rgba(92,92,92,0.7);
    box-shadow: 0px 1px 10px 1px rgba(92,92,92,0.7);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.header-static {
    line-height: 30px;
    padding: 5px 5px;
}

.header-dynamic {
    border-top: 1px dashed black;
    padding: 5px;
    display: none;
}

.header-row {
    position: relative;
    width: 100%;
}

.header-static > .div-inline {
    max-height: 30px;
    overflow: hidden;
}

.header-text {
    font-size: 12px;
    font-weight: bold;
    padding: 0px;
}

.header-select {
    height: 30px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.disc-item-container {
    width: 100%;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.disc-item-container:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}

.disc-item-container:first-child {
    padding-top: 0px;
}

.disc-item {
    display: block;
    height: 85px;
    padding: 5px;
}

.disc-colorize {
    float: left;
    height: 75px;
    background-color: #fff;
    width: 10px;
    margin-right: 10px;
}

.disc-content-image-container {
    float: left;
    display: table;
}

.disc-content-image {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 75px;
    height: 75px;
}

.disc-content-image > img {
    max-height: 75px;
    max-width: 75px;
}

.disc-content-image:hover {
    cursor: pointer;
}

.disc-content-info-container {
    width: auto;
    height: 75px;
    margin-left: 105px;
    margin-right: 55px;
    padding: 0px 10px;
}
.disc-content-info-container.no-results {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin: 0px;
}

.disc-content-info-container .no-results {
    vertical-align: middle;
    color: rgb(190, 190, 190);
}

.disc-content-action-container {
    width: 55px;
    height: 75px;
    float: right;
    display: table;
}

.disc-content-action-container table {
    height: 100%;
    table-layout: fixed;
    width: 100%;
}

.disc-content-action-container > table > tbody > tr > td {
    width: 50%;
}

.disc-content-action-container > table > tbody > tr > td:first-child {
    padding-right: 5px;
}


.disc-item-actions-top {
    height: 33.33%;
    vertical-align: top;
}

.disc-item-actions-middle {
    height: 33.33%;
    vertical-align: middle;
}

.disc-item-actions-bottom {
    height: 33.33%;
    vertical-align: bottom;
}

.fa-dim {
    color: #ccc;
}

.fa-share-disc-item:hover {
	color: #3b5999;
    cursor: pointer;
}

.fa-delete-disc-item:hover {
    color: #E85947;
    cursor: pointer;
}

.fa-edit-disc-item:hover {
    color: rgb(255, 190, 73);
    cursor: pointer;
}

.fa-disc-notes:hover {
    color: rgb(255, 190, 73);
    cursor: pointer;
}

.fa-visible-disc-item {
    cursor: pointer;
}

.fa-visible-disc-item:hover {
    color: #989595 !important;
}

.fa-visible-disc-item.fa-eye {
    color: rgb(0, 142, 221);
}

.disc-info-name {
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
	text-shadow: 1px 2px 1px rgba(161, 161, 161, 0.81);
    font-size: 1.6em;
    line-height: 1.1em;
	font-variant: small-caps;
	text-overflow: ellipsis;
}

.disc-info-brand {
    font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
	color: #666666;
	font-style: italic;
	font-variant: small-caps;
	text-overflow: ellipsis;
}

.disc-info-numbers {
    height: 18px;
    font-size: 0.9em;
    color: #666666;
    word-spacing: 0.5em;
	text-overflow: ellipsis;
}

.disc-info-main-pane {
    height: 50px;
}

.disc-info-left-pane {
    width: 33.333%;
    height: 100%;
}

.disc-info-right-pane {
    width: 66.666%;
    height: 100%;
}

.disc-info-right-pane.disc-specs {
    background-color: rgba(120, 120, 134, 0.18);
    border: 1px solid #000;
    border-radius: 5px;
}

.div-split-horiz {
    width: 50%;
    height: 100%;
}

.disc-info-item {
    width: 100%;
    height: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.disc-info-name-container {
    height: inherit;
}

.disc-info-condition {
    height: 40px;
    width: 40px;
    margin: 5px 0px;
    background-color: rgb(0, 142, 221);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    font-style: italic;
    color: #FFF;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
}

.disc-info-label {
    text-align: right;
    padding: 3px 10px;
    font-weight: bold;
	width: 90px;
	font-size: 1em;
	vertical-align: middle;
	display: inline-block;
}

.disc-info-value {
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    color: #666666;
    font-size: 1em;
    vertical-align: middle;
}

.disc-info-bottom {
    display: table-cell;
    vertical-align: bottom;
    width: 100%;
}

.tag-dropdown-menu {
    z-index: 995;
}

.disc-info-tags-container {
    font-size: 1em;
    height: 20px;
    width: 100%;
}

.disc-info-tags-list {
    height: inherit;
    white-space: nowrap;
    display: inline-block;
}

.disc-info-tag {
    color: rgb(0, 142, 221);
    cursor: pointer;
    padding: 0px 5px;
}

.disc-info-tag:hover {
    text-decoration: underline;
}

.disc-info-tag-label {
    font-weight: bold;
    padding-right: 5px;
}

.tag-dropdown {
    height: inherit;
    display: inline-block;
}

.btn-tag-dropdown {
    height: inherit;
    padding: 0px 10px;
    border: none;
}

.form-control-static {
    display: inline-block;
}

.text-collapse {
    text-overflow: ellipsis;
}

/*===================================================================*/
/*                                                                   */
/*                      Image List/Blocks                            */
/*                                                                   */
/*===================================================================*/
.image-block-display {
    padding: 10px;
}

.image-block {
    display: inline-block;
    margin-bottom: 10px;
}

.image-block-frame {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 250px;
    height: 250px;
    border: 2px solid rgb(132, 132, 132);
    padding: 10px;
    -webkit-box-shadow: inset 0px 0px 5px 1px rgba(92,92,92,1);
    -moz-box-shadow: inset 0px 0px 5px 1px rgba(92,92,92,1);
    box-shadow: inset 0px 0px 5px 1px rgba(92,92,92,1);
}

.image-block-frame > img {
    cursor: pointer;
}

.image-list {
    position: relative;
    padding: 0px;
}

.dz-drag-hover {
    background-color: rgba(0, 0, 255, 0.3)
}

.image-list-container {
    overflow: auto;
    border: 1px solid rgb(166, 166, 166);
    padding: 10px;
    width: 100%;
    -webkit-box-shadow: inset 2px 2px 10px 1px rgba(92,92,92,1);
    -moz-box-shadow: inset 2px 2px 10px 1px rgba(92,92,92,1);
    box-shadow: inset 2px 2px 10px 1px rgba(92,92,92,1);
}

.image-list-container-simple {
    border: 0px;
     -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0px;
}

.image-list-container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
 
.image-list-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
.image-list-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.image-list-table {
    display: table;
    table-layout: fixed;
    padding-bottom: 3px;
}

.image-item-container {
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;
    padding-bottom: 5px;
}

.image-item-container.dz-error img {
    content:url("https://placehold.it/250x250");
    max-width: 150px;
    max-height: 150px;
}

.image-item {
    border: 1px solid rgb(166, 166, 166);
    -webkit-box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.67);
    -moz-box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.67);
    box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.67);
    position: relative;
}

.image-entity {
    min-width: 100px;
    min-height: 100px;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.image-preview { 
    display: table-cell;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    cursor: pointer;
    text-align: center;
}

.image-preview.active {
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.image-preview:hover {
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

img.fit-parent {
    max-width: 100%;
    max-height: 100%;
}

.image-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.75);
    display: none;
}

.image-overlay-static {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    color: #fff;
}

.image-progress {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99;
    height: 100%;
    background-color: rgba(150, 51, 0, 0.71);
}

.image-remove {
    position: absolute;
    right: 0px;
    padding-right: 5px;
    padding-top: 2px;
    z-index: 101;
    cursor: pointer;
}

.image-size {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    overflow:hidden;
    text-overflow:ellipsis;
}

.image-title { 
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 100%;
    overflow:hidden;
    text-overflow:ellipsis;
}

.image-add .image-entity {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
}

.accordion-container {
    margin-top: 10px;
}

.accordion-header label:hover {
    cursor: pointer;
    text-decoration: underline;
}

.advanced-area {
    width: 80%;
    margin: auto;
}

.image-make-primary {
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    padding: 2px 5px;
}

.primary-image-banner-static {
    position: absolute;
    overflow: hidden;
    padding: 2px 5px;
    background-color: rgba(0, 0, 0, 0.72);
    color: rgb(255, 232, 0) !important;
    cursor: default;
    -webkit-box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 2px;
}

/*===================================================================*/
/*                                                                   */
/*                            Tag List                               */

/*                                                                   */
/*===================================================================*/

#tag-list-container {
    border: 1px solid #ccc;
    height: 57px;
    border-width: thin;
    border-radius: 4px;
    margin-top: 5px;
    overflow: auto;
    max-height: 70px;
}

.tag-item {
    margin: 3px;
    border: 1px dashed #266264;
    border-radius: 2px;
    border-width: thin;
    display: inline-block;
    background-color: #ccc;
    padding-left: 5px;
    padding-right: 5px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.tag-item-text {
    margin: 2px;
    cursor: default;
    font-size: .8em;
    font-weight: bold;
    letter-spacing: .1em;
    font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
}

.tag-item-text i {
    cursor: pointer;
}

.tag-list-display {
    max-height: 100px;
    z-index: 1000;
    background-color: #ffffff;
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    border: 1px solid #949494;
    -webkit-box-shadow: 4px 3px 5px 0px rgba(31, 31, 31, 0.29);
    -moz-box-shadow: 4px 3px 5px 0px rgba(31, 31, 31, 0.29);
    box-shadow: 4px 3px 5px 0px rgba(31, 31, 31, 0.29);
    overflow: auto;
    display: none;
}

.tag-search-list {
    margin-bottom: 0px;
}

.tag-list-item {
    padding: 3px 5px;
    cursor: pointer;
    font-size: .8em;
}

.tag-list-item span {
    margin-right: 5px;
}

.tag-list-item:hover {
    background-color: #ccc;
}

.tag-list-item:focus {
    background-color: #ccc;
}

/*===================================================================*/
/*                                                                   */
/*                   Autocomplete List                               */
/*                                                                   */
/*===================================================================*/

*:focus {
    outline: none;
}

.dropdown-list-display {
    max-height: 100px;
    z-index: 1000;
    background-color: #ffffff;
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    border: 1px solid #949494;
    -webkit-box-shadow: 4px 3px 5px 0px rgba(31, 31, 31, 0.29);
    -moz-box-shadow: 4px 3px 5px 0px rgba(31, 31, 31, 0.29);
    box-shadow: 4px 3px 5px 0px rgba(31, 31, 31, 0.29);
    overflow: auto;
    display: none;
}

.dropdown-search-list {
    margin-bottom: 0px;
}

.dropdown-list-item {
    padding: 3px 5px;
    cursor: pointer;
    font-size: .8em;
}

.dropdown-list-item span {
    margin-right: 5px;
}

.dropdown-list-item:hover {
    background-color: #ccc;
}

.dropdown-list-item.active {
    background-color: #ccc;
}

/*===================================================================*/
/*                                                                   */
/*                            Lightbox                               */
/*                                                                   */
/*===================================================================*/

.backdrop {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 3000;
}

.x-container {
    height: 70px;
    width: 70px;
}

.lightbox-close  {
    font-family:Garamond,'Apple Garamond','Lucida Sans Unicode';
    font-size: 350%;
    color: rgba(220, 220, 220, 0.8);
    margin: 0px;
    cursor: pointer;
    text-align: center;
}

.lightbox-close:hover {
    color: #FFF;
}

.image-view-container {
    margin: 60px auto;
    display: block;
}

.image-view-large {
    display: table-cell;
    vertical-align: middle;
    background-color: rgb(220, 220, 220);
}

.image-view-main {
    display: block;
    margin: auto;
}

.image-view-list-container {
    margin-top: 5px;
    max-height: 100px;
    height: 100px;
    position: relative;
}

.image-view-list-scroll {
    height: 100px;
    width: 40px;
    cursor: pointer;
    background-color: rgba(138, 138, 138, 0.7);
    z-index: 2500;
    position: relative;
}

.image-view-list-scroll:hover {
    background-color: rgba(70, 70, 70, 0.7);
}

.image-view-list-scroll > i {
    line-height: 100px;
    width: 100%;
    text-align: center;
}

.absolute-left {
    position: absolute;
    left: 0px;
    top: 0px;
}

.absolute-right {
    position: absolute;
    right: 0px;
    top: 0px;
}

.image-view-list-item-container {
    height: 100px;
    overflow: hidden;
    z-index: 2000;
    position: absolute;
}

.image-view-list {
    height: 100px;
    display: table;
    border-spacing: 3px 0px;
    border-collapse: separate;
    position: absolute;
}

.image-view-list-item {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    height: 100px;
    max-height: 100px;
    min-width: 100px;
    max-width: 100px;
    background-color: rgba(220, 220, 220, 0.6);
}

.image-view-thumbnail-selected {
      width: 100%;
      height: 100%;
      border: 4px solid rgb(242, 159, 8);
      position: absolute;
      left: 0;
      top: 0;
}

.image-view-thumbnail {
    max-height: 100px;
    max-width: 100px;
    cursor: pointer;
    display: block;
    margin: auto;
}


/*===================================================================*/
/*                                                                   */
/*                            Gallery                                */
/*                                                                   */
/*===================================================================*/

#gallery-container {
    text-align: center;
    display: none;
}

.gallery-menu { 
    margin-bottom: 10px;
}

.gallery-table {
    margin-bottom: 10px;
    border-collapse: collapse;
    margin: 0 auto;
}


.disc-gallery-row {
    text-align: center;
}

.disc-gallery-item {
    border: 2px solid #000;
    position: relative;
    overflow: hidden;
}

.disc-gallery-item.no-results {
    border: none;
    color: rgb(190, 190, 190);
}

.disc-gallery-overlay {
    float: left;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    background-color: rgba(119, 119, 119, 0.71);
    display: none;
    cursor: pointer;
}

.disc-gallery-text-container {
    width: 100%;
    height: 100%;
    display: table;
}

.disc-gallery-text-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.disc-gallery-overlay-text {
    font-weight: bold;
    color: #fff;
}

.disc-gallery-image-container {
    width: 100%;
    height: 100%;
    display: table;
    z-index: 100;
    position: relative;
}

.disc-gallery-image {
    max-width: 100%;
    max-height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.disc-gallery-image > img {
    max-width: 100%;
    max-height: 100%;
}

.gallery-zoom-icon {
    margin-right: 20px;
}

.gallery-zoom-text {
    margin-left: 20px;
    font-weight: bold;
}

/*===================================================================*/
/*                                                                   */
/*                          Color Picker                             */
/*                                                                   */
/*===================================================================*/

.pick-arrow {
    position: absolute;
	width: 0;
}

.color-picker-backdrop {
    position: fixed;
    z-index: 910;
    top: 0;
    left: 0;
}

.color-picker {
    position: absolute;
    display: inline-block;
    border: 1px solid black;
    overflow: hidden;
    background-color: #fff;
    display: block;
    z-index: 910;
}

.color-table {
    overflow: hidden;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
}

.pick-row {
    height: 20px;
    margin-bottom: 5px;
    overflow: hidden;
}

.pick-row:last-child {
    margin-bottom: 0px;
}

.color-container {
    float: left;
    width: 20px;
    margin-right: 5px;
    height: 100%;
}

.color-container:hover {
    border: 2px solid black;
    cursor: crosshair;
}

.color-container:last-child {
    margin-right: 0px;
}

/*===================================================================*/
/*                                                                   */
/*                            Tutorial                               */
/*                                                                   */
/*===================================================================*/

#tutorial {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3500;
    width: 100%;
    height: 100%;
    background: rgba(0,78,130,1);
    background: -moz-linear-gradient(top, rgba(0,78,130,1) 0%, rgba(0,78,130,1) 12%, rgba(0,78,130,0.48) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,78,130,1)), color-stop(12%, rgba(0,78,130,1)), color-stop(100%, rgba(0,78,130,0.48)));
    background: -webkit-linear-gradient(top, rgba(0,78,130,1) 0%, rgba(0,78,130,1) 12%, rgba(0,78,130,0.48) 100%);
    background: -o-linear-gradient(top, rgba(0,78,130,1) 0%, rgba(0,78,130,1) 12%, rgba(0,78,130,0.48) 100%);
    background: -ms-linear-gradient(top, rgba(0,78,130,1) 0%, rgba(0,78,130,1) 12%, rgba(0,78,130,0.48) 100%);
    background: linear-gradient(to bottom, rgba(0,78,130,1) 0%, rgba(0,78,130,1) 12%, rgba(0,78,130,0.48) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004e82', endColorstr='#004e82', GradientType=0 );
}

.tutorial-container {
    max-width: 70%;
    width: 70%;
    margin: auto;
    height: 100%;
}

.tutorial-title, .tutorial-footer {
    height: 15%;
    text-align: center;
    display: table;
    width: 100%;
}

.tutorial-title > div {
    font-family: 'Orbitron', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    color: white;
    display: table-cell;
    vertical-align: middle;
}

.tutorial-close { 
    float: right;
    cursor: pointer;
}

.tutorial-close:hover {
    color: black;
}

.tutorial-content {
    height: 70%;
    overflow: hidden;
}

.tutorial-screen {
    display: none;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 50% 50%;
}

.tutorial-footer > div {
    display: table-cell;
    vertical-align: middle;
}

.tutorial-indicators {
    margin: auto;
    color: white;
}

.tutorial-indicators i {
    margin-right: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.tutorial-indicators i:last-child {
    margin-right: 0px;
}

.tutorial-button {
    width: 150px;
    font-weight: bold;
}

.tutorial-button.back {
    float: left;
    visibility: hidden;
}

.tutorial-button.forward {
    float: right;
}

.tutorial-button.finish {
    background-color: rgb(19, 164, 245);
    color: white;
    border-color: #0085CF;
}

.tutorial-button.finish:hover {
    background-color: #0085CF;
}

/*===================================================================*/
/*                                                                   */
/*                          Responsive CSS                           */
/*                                                                   */
/*===================================================================*/

@media (min-width: 1151px) and (max-width: 1500px) {
    .sidebar {
        width: 250px;
    }

    .page-view {
        margin-left: 250px;
    }
}

@media (max-width: 1150px) {
    .sidebar {
        width: 161px;
    }

    .page-view {
        margin-left: 161px;
    }
    
    /*#search-all {*/
    /*    display: none;*/
    /*}*/
    
    .sidebar-select {
        text-align: center;
    }
    
    .sidebar-select > span {
        float: none;
        padding: 0px;
    }
    
    .sidebar-select-text {
        display: none;
    }
    
    .fa-sidebar-icon {
        font-size: 4em;
    }
}