.row {
	margin-right: 0px;
	margin-left: 0px;
}

#search-results {
    padding: 10px 20px;
    z-index: 10000;
    background-color: rgba(230, 230, 234, 0.95);
    border-radius: 10px;
    position: absolute;
    border: 1px solid #949494;
    display: none;
}

.result-section {
    margin-bottom: 10px;
}

.result-section-title {
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 5px;
}

.result-section-output {
    padding: 2px 20px;
    background-color: #CDCDCD;
    margin-bottom: 5px;
}

.result-item {
    font-size: 14px;
    font-style: italic;
    padding: 2px 2px 2px 2px;
    cursor: pointer;
    line-height: 19px;
}

.result-item .glyphicon {
    margin-right: 10px;
}

.result-item:hover {
    font-weight: bold;
}

.result-item-empty {
    cursor: default;
}

.result-item-empty:hover {
    font-weight: normal;
}

#filter-main {
    padding-top: 0px;
    margin: 0px 5px;
    padding-bottom: 5px;
}

#filter-content{
    padding: 0px;
}

#filter-content .filter-item:first-child {
    margin-top: 10px;
}

#filter-main .filter-title {
    font-size: 18px;
    margin-top: 5px;
}

div.filter-item {
    border-color: #A7A0C5;
    margin-bottom: 15px;
}

.filter-item .panel-heading {
    padding: 2px 15px;
    color: #fff;
    background-color: #5E60FD;
    border-color: #644AD8;
    font-weight: bold;
    cursor: pointer;
}

.filter-item .panel-body {
    padding: 0px 0px;
    font-size: 12px;
}

.filter-item div.filter-option {
    padding: 2px 20px;
    border-bottom: 1px solid #aaa;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.filter-item div.filter-option:last-child {
    border-bottom: 0px;
}

.filter-item div.filter-option:hover {
    background-color: #EFEFEF;
}

.filter-item div.filter-option-static:hover {
    background-color: #fff;
    cursor: default;
}

.filter-item div.filter-option-multi {
    padding: 2px 20px;
    border-bottom: 1px solid #aaa;
    cursor: pointer;
    font-weight: bold;
}

.filter-item div.filter-option-multi-closed:hover {
    background-color: #EFEFEF;
}

.filter-item div.filter-option-group {
    font-weight: normal;
    display: none;
}

.no-padding {
	padding: 0px;
}

.glyphicon-pad {
    width: 14px;
    height: 14px;
}

.static-heading {
    padding: 10px;
}

.heading-text {
    font-weight: bold;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.heading-text:hover {
    color: #5E60FD;
    cursor: pointer;
}

.results-container {
    box-shadow: 1px 1px 10px 1px #C0C0C0 inset;
    border-radius: 5px;
    padding: 10px 20px;
}

.table-results {
    background-color: #fff;
    margin-bottom: 0px;
}

.parent {
   display:table;
}

.child {
   display:table-cell;
   vertical-align:middle;
}

.required-field {
    color: #FF0000;
}

.modal-body {
    overflow-y: auto;
}

.modal-footer {
    padding: 15px;
    margin: 0px;
}

.view-disc-modal-header {
    padding-bottom: 0px;
}

.modal-title-disc-type {
    color: #ADADAD;
}

.view-disc-label {
    font-weight: bold;
    text-align: right;
}

.create-disc-textarea {
    resize: vertical;
}

.upload-img {
    width: 15em;
    height: 15em;
    display: table;
    border: 1px solid #000;
    padding-top: 2.5em;
    position: relative;
}

.upload-img > div, .upload-img > span {
    display: table-cell;
    text-align: center;
}

.upload-img i {
    font-size: 10em;
}

.upload-img-click {
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 2.5em;
}

.dragging {
    background-color: rgba(44, 38, 30, 0.7);
}

#overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -128px;
}

/*===================================================================*/
/*                                                                   */
/*                      Filtered View                                */
/*                                                                   */
/*===================================================================*/

.disc-inventory-container {
    border: 1px solid black;
}

.disc-inventory-body {
    padding: 10px;
    -webkit-box-shadow: inset 0px 0px 5px 1px rgba(92,92,92,1);
    -moz-box-shadow: inset 0px 0px 5px 1px rgba(92,92,92,1);
    box-shadow: inset 0px 0px 5px 1px rgba(92,92,92,1);
}

.disc-inventory-header {
    background-color: rgb(190, 190, 190);
    margin-bottom: 10px;
    border: 1px solid black;
    position: static;
}

.header-fixed {
    position: fixed !important;
    border-top: none !important;
    -webkit-box-shadow: 0px 1px 10px 1px rgba(92,92,92,0.7);
    -moz-box-shadow: 0px 1px 10px 1px rgba(92,92,92,0.7);
    box-shadow: 0px 1px 10px 1px rgba(92,92,92,0.7);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.header-static {
    line-height: 30px;
    padding: 5px 5px;
}

.header-dynamic {
    border-top: 1px dashed black;
    padding: 5px;
    display: none;
}

.header-row {
    position: relative;
    width: 100%;
}

.header-static > .div-inline {
    max-height: 30px;
    overflow: hidden;
}

.header-text {
     font-size: 12px;
     font-weight: bold;
     padding: 0px;
}

#results-header-sort {
     cursor: pointer;
}

.sort-text {
     padding-left: 1em;
     margin-bottom: 0px;
}

.sort-text li {
     text-transform: capitalize;
     font-size: 10px;
}

#paginate-display-count {
    padding: 0px;
}

#paginate-nav li {
     -moz-user-select: none;
     -khtml-user-select: none;
     -webkit-user-select: none;
     user-select: none;
     cursor: pointer;
     padding: 0px 10px;
}

#paginate-nav li.active {
     font-weight: normal !important;
     cursor: default;
}

select, option {
    text-align: center;
}

.disc-item-container {
    width: 100%;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.disc-item-container:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}

.disc-item-container:first-child {
    padding-top: 0px;
}

.disc-item {
    display: block;
    height: 85px;
    padding: 5px;
    min-width: 450px;
}

.disc-colorize {
    float: left;
    height: 75px;
    background-color: #fff;
    width: 10px;
    margin-right: 10px;
}

.disc-content-image-container {
    float: left;
    display: table;
}

.disc-content-image {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 75px;
    height: 75px;
}

.disc-content-image > img {
    max-height: 75px;
    max-width: 75px;
}

.disc-content-image:hover {
    cursor: pointer;
}

.disc-content-info-container {
    width: auto;
    height: 100%;
    margin-left: 105px;
    margin-right: 30px;
    padding: 0px 10px;
}

.disc-content-action-container {
    width: 30px;
    height: 100%;
    float: right;
    display: table;
}

.disc-content-action-container table {
    height: 100%;
    float: right;
}

.disc-item-actions-top {
    height: 50%;
    vertical-align: top;
}

.disc-item-actions-bottom {
    height: 50%;
    vertical-align: bottom;
}

.fa-dim {
    color: #ccc;
}

.fa-delete-disc-item:hover {
    color: #E85947;
    cursor: pointer;
}

.fa-edit-disc-item:hover {
    color: rgb(255, 190, 73);
    cursor: pointer;
}

.disc-info-name {
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
	text-shadow: 1px 2px 1px rgba(161, 161, 161, 0.81);
    font-size: 1.6em;
    line-height: 1.1em;
	font-variant: small-caps;
	text-overflow: ellipsis;
}

.disc-info-brand {
    font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
	color: #666666;
	font-style: italic;
	font-variant: small-caps;
	text-overflow: ellipsis;
}

.disc-info-numbers {
    font-size: 0.7em;
    color: #666666;
    word-spacing: 0.5em;
	text-overflow: ellipsis;
}

.disc-info-main-pane {
    height: 60px;
}

.disc-info-left-pane {
    width: 33.333%;
    height: 100%;
    display: table;
}

.disc-info-right-pane {
    width: 66.666%;
    height: 100%;
    display: table;
}

.div-split-horiz {
    width: 50%;
}

.disc-info-split-vert { 
    height: 50%;   
    display: table;
}

.disc-info-label {
    text-align: right;
    padding: 3px 10px;
    font-weight: bold;
    font-size: 0.8em;
	text-overflow: ellipsis;
}

.disc-info-value {
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    color: #666666;
	text-overflow: ellipsis;
}

.disc-info-bottom {
    display: table-cell;
    vertical-align: bottom;
    width: 100%;
}

.disc-info-tags {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8em;
}

.disc-info-tags > span {
    padding-right: 5px;
}

.disc-info-tag {
    font-size: 0.8em;
    color: blue;
    cursor: pointer;
	text-overflow: ellipsis;
}

.disc-info-tag:hover {
    text-decoration: underline;
}

.disc-info-tag-label {
    font-weight: bold;
    font-size: 0.8em;
}

.form-control-static {
     display: inline-block;
}

.text-collapse {
    text-overflow: ellipsis;
}

/*===================================================================*/
/*                                                                   */
/*                      Sort Field Area                              */
/*                                                                   */
/*===================================================================*/
.header-sort-container {
    margin-right: auto;
    margin-left: auto;
    border: 1px solid black;
}

.add-sort-container {
    padding: 3px 0px;
    cursor: pointer;
    background: rgba(222,222,222,1);
    border-top: 1px solid rgb(134, 134, 134);
    background: -moz-linear-gradient(top, rgba(222,222,222,1) 0%, rgba(209,209,209,1) 51%, rgba(148,148,148,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(222,222,222,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(100%, rgba(148,148,148,1)));
    background: -webkit-linear-gradient(top, rgba(222,222,222,1) 0%, rgba(209,209,209,1) 51%, rgba(148,148,148,1) 100%);
    background: -o-linear-gradient(top, rgba(222,222,222,1) 0%, rgba(209,209,209,1) 51%, rgba(148,148,148,1) 100%);
    background: -ms-linear-gradient(top, rgba(222,222,222,1) 0%, rgba(209,209,209,1) 51%, rgba(148,148,148,1) 100%);
    background: linear-gradient(to bottom, rgba(222,222,222,1) 0%, rgba(209,209,209,1) 51%, rgba(148,148,148,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#949494', GradientType=0 );
}

.add-sort-container.mdown {
    background: rgba(148,148,148,1);
    background: -moz-linear-gradient(top, rgba(148,148,148,1) 0%, rgba(209,209,209,1) 49%, rgba(222,222,222,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(148,148,148,1)), color-stop(49%, rgba(209,209,209,1)), color-stop(100%, rgba(222,222,222,1)));
    background: -webkit-linear-gradient(top, rgba(148,148,148,1) 0%, rgba(209,209,209,1) 49%, rgba(222,222,222,1) 100%);
    background: -o-linear-gradient(top, rgba(148,148,148,1) 0%, rgba(209,209,209,1) 49%, rgba(222,222,222,1) 100%);
    background: -ms-linear-gradient(top, rgba(148,148,148,1) 0%, rgba(209,209,209,1) 49%, rgba(222,222,222,1) 100%);
    background: linear-gradient(to bottom, rgba(148,148,148,1) 0%, rgba(209,209,209,1) 49%, rgba(222,222,222,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#949494', endColorstr='#dedede', GradientType=0 );
}

.add-sort-container:hover {
    background-color:#F2F2F2;
}

.add-sort-container > div {
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 0.9em;
}

.current-sort-container {
}

.sort-field-container {
    height: 40px;
    background-color: white;
    border-bottom: 1px solid #ccc;
}

.sort-field-placeholder {
    background-color: rgb(192, 214, 255);
    height: 40px;
}

.sort-field-container > div {
    height: 100%;
}

.sort-field-container > .div-inline {
    display: table;
}

.sort-field-container > div > span{
    display: table-cell;
    vertical-align: middle;
}

.sort-field-arrange {
    width: 40px;
    border-right: 1px solid #ccc;
    cursor: move;
    cursor: -webkit-grab;
}

.sort-field-arrange.mdown {
    cursor: move;
    cursor: -webkit-grabbing;
}

.sort-field-arrange:hover {
    background-color:#F2F2F2;
}

.sort-field-remove {
    width: 40px;
    color: red;
    border-left: 1px solid #ccc;
    cursor: pointer;
}

.sort-field-remove:hover {
    background-color: #F2F2F2;
}

.sort-field-form {
    overflow: hidden;
}

.sort-field-form > div {
    display: table;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}

.sort-field-form > div > div {
    display: table-cell;
    vertical-align: middle;
}

.sort-field-form .header-text {
    margin-right: 5px;
}

.sort-field-form .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.sort-field-form .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

/*===================================================================*/
/*                                                                   */
/*                      Image List/Blocks                            */
/*                                                                   */
/*===================================================================*/
.image-block-display {
    padding: 10px;
}

.image-block {
    display: inline-block;
    margin-bottom: 10px;
}

.image-block-frame {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 250px;
    height: 250px;
    border: 2px solid rgb(132, 132, 132);
    padding: 10px;
    -webkit-box-shadow: inset 0px 0px 5px 1px rgba(92,92,92,1);
    -moz-box-shadow: inset 0px 0px 5px 1px rgba(92,92,92,1);
    box-shadow: inset 0px 0px 5px 1px rgba(92,92,92,1);
}

.image-block-frame > img {
    cursor: pointer;
}

.image-list {
    position: relative;
    padding: 0px;
}

.dz-drag-hover {
    background-color: rgba(0, 0, 255, 0.3)
}

.image-list-container {
    overflow: auto;
    border: 1px solid rgb(166, 166, 166);
    padding: 10px;
    width: 100%;
    -webkit-box-shadow: inset 2px 2px 10px 1px rgba(92,92,92,1);
    -moz-box-shadow: inset 2px 2px 10px 1px rgba(92,92,92,1);
    box-shadow: inset 2px 2px 10px 1px rgba(92,92,92,1);
}

.image-list-container-simple {
    border: 0px;
     -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0px;
}

.image-list-container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
 
.image-list-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
.image-list-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.image-list-table {
    display: table;
    table-layout: fixed;
    padding-bottom: 3px;
}

.image-item-container {
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;
    padding-bottom: 5px;
}

.image-item-container.dz-error img {
    content:url("https://placehold.it/250x250");
    max-width: 150px;
    max-height: 150px;
}

.image-item {
    border: 1px solid rgb(166, 166, 166);
    -webkit-box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.67);
    -moz-box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.67);
    box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.67);
    position: relative;
}

.image-entity {
    min-width: 100px;
    min-height: 100px;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.image-preview { 
    display: table-cell;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    cursor: pointer;
    text-align: center;
}

.image-preview.active {
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.image-preview:hover {
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

img.fit-parent {
    max-width: 100%;
    max-height: 100%;
}

.image-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.75);
    display: none;
}

.image-overlay-static {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    color: #fff;
}

.image-progress {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99;
    height: 100%;
    background-color: rgba(150, 51, 0, 0.71);
}

.image-remove {
    position: absolute;
    right: 0px;
    padding-right: 5px;
    padding-top: 2px;
    z-index: 101;
    cursor: pointer;
}

.image-size {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    overflow:hidden;
    text-overflow:ellipsis;
}

.image-title { 
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 100%;
    overflow:hidden;
    text-overflow:ellipsis;
}

.image-add .image-entity {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
}

.add-images-accordion-container {
    margin-top: 10px;
}

.image-accordian-area label:hover {
    cursor: pointer;
    text-decoration: underline;
}

.image-make-primary {
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    padding: 2px 5px;
}

.primary-image-banner-static {
    position: absolute;
    overflow: hidden;
    padding: 2px 5px;
    background-color: rgba(0, 0, 0, 0.72);
    color: rgb(255, 232, 0) !important;
    cursor: default;
    -webkit-box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 2px;
}

/*===================================================================*/
/*                                                                   */
/*                            Tag List                               */
/*                                                                   */
/*===================================================================*/

.tag-list-container {
    border: 1px solid #ccc;
    height: 57px;
    border-width: thin;
    border-radius: 4px;
    margin-top: 5px;
    overflow: auto;
    max-height: 70px;
}

.tag-item {
    margin: 3px;
    border: 1px dashed #266264;
    border-radius: 2px;
    border-width: thin;
    display: inline-block;
    background-color: #ccc;
    padding-left: 5px;
    padding-right: 5px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.tag-item-text {
    margin: 2px;
    cursor: default;
    font-size: .8em;
    font-weight: bold;
    letter-spacing: .1em;
    font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
}

.tag-item-text i {
    cursor: pointer;
}

.tag-list-display {
    max-height: 100px;
    z-index: 1000;
    background-color: #ffffff;
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    border: 1px solid #949494;
    -webkit-box-shadow: 4px 3px 5px 0px rgba(31, 31, 31, 0.29);
    -moz-box-shadow: 4px 3px 5px 0px rgba(31, 31, 31, 0.29);
    box-shadow: 4px 3px 5px 0px rgba(31, 31, 31, 0.29);
    overflow: auto;
    display: none;
}

.tag-search-list {
    margin-bottom: 0px;
}

.tag-list-item {
    padding: 3px 5px;
    cursor: pointer;
    font-size: .8em;
}

.tag-list-item span {
    margin-right: 5px;
}

.tag-list-item:hover {
    background-color: #ccc;
}

.tag-list-item:focus {
    background-color: #ccc;
}

/*===================================================================*/
/*                                                                   */
/*                   Autocomplete List                               */
/*                                                                   */
/*===================================================================*/

*:focus {
    outline: none;
}

.dropdown-list-display {
    max-height: 100px;
    z-index: 1000;
    background-color: #ffffff;
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    border: 1px solid #949494;
    -webkit-box-shadow: 4px 3px 5px 0px rgba(31, 31, 31, 0.29);
    -moz-box-shadow: 4px 3px 5px 0px rgba(31, 31, 31, 0.29);
    box-shadow: 4px 3px 5px 0px rgba(31, 31, 31, 0.29);
    overflow: auto;
    display: none;
}

.dropdown-search-list {
    margin-bottom: 0px;
}

.dropdown-list-item {
    padding: 3px 5px;
    cursor: pointer;
    font-size: .8em;
}

.dropdown-list-item span {
    margin-right: 5px;
}

.dropdown-list-item:hover {
    background-color: #ccc;
}

.dropdown-list-item.active {
    background-color: #ccc;
}