.page-container {
    max-width: 700px;
}

.toc-container {
    list-style: none;
    background-color: #eee;
    padding: 10px 20px;
    margin: 20px 0px;
}


.faq-container {
    margin-bottom: 30px;
}

.faq-title {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.faq-title > span {
    margin-right: 10px;
}

.faq-body div {
    margin-left: 20px;
    margin: 5px 0px 5px 20px;
}

.faq-body span {
    margin-right: 5px;
}