.no-select {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.no-scroll {
	overflow: hidden;
}

.btn:focus {
	outline: none !important;
}

/*Overrides Bootstrap tooltip max-width*/
.tooltip-inner {
	max-width: 300px;
}

/*Overrides Bootstrap tooltip z-index*/
.tooltip {
	z-index: 800;
}

.fa-tools {
    padding-right: 10px;
}

.full-height {
	height: 100%;
}

.zump-navbar {
	z-index: 2000;
	height: 50px;
	margin-bottom: 20px;
	background-color: #4A4A4A;
}

.zump-navbar-fixed-top {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.zump-navbar-header {
	margin: 0px;
}

.zump-nav {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.zump-nav > li {
	float: right;
	position: relative;
	display: block;
}


.zump-nav > li > a {
	position: relative;
	display: block;
	color: #999;
	text-decoration: none;
}

.zump-navbar-dropdown > .dropdown-toggle:hover {
	color: #FFF;
}

.zump-navbar-dropdown > .dropdown-toggle i {
	padding-left: 5px;
}

.zump-navbar-dropdown-menu {
	margin-top: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	left: auto;
	right: 0;
}

.navbar-btn-container {
	display: table;
}

.navbar-btn-list {
	display: table-cell;
	vertical-align: middle;
}

.navbar-btn-list > a, .navbar-btn-list > span {
	color: #828282 !important;
	font-weight: normal !important;
	text-shadow: none !important;
}

.navbar-btn-list > a:hover {
	text-decoration: none;
	color: rgb(0, 142, 221);
}

.mobile-btn.active {
    color: #FFF !important;
}

.nav-btn {
	border: 1px solid rgb(134, 134, 134);
	border-radius: 5px;
	padding: 8px 10px;
	margin: 0px 5px;
    display: inline-block;
}

.nav-btn-small {
	padding: 5px 5px;
}

.navbar-btn-list .mobile-btn {
	width: 30px;
	height: 30px;
	display: table;
	color: rgb(134, 134, 134);
	font-weight: normal;
	text-shadow: none;
	text-align: center;
}

.mobile-btn > div {
	display: table-cell;
	vertical-align: middle;
}

.navbar-btn-list a:hover .nav-btn {
	cursor: pointer;
	border: 2px solid rgb(0, 142, 221);
	margin: 0px 4px;
}

.nav-btn:hover {
	cursor: pointer;
	border: 2px solid rgb(0, 142, 221);
	margin: 0px 4px;
}

.div-inline {
    display: inline-block !important;
}

.float-left {
    float: left;
}

.float-right{
    float: right;
}


.navbar-logo {
	font-size: 1.4em;
	color: rgb(134, 134, 134);
}

.image-link {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.image-link > img {
	width: 40px;
	max-width: 40px !important;
	max-height: 40px;
	margin-right: 5px;
}

.image-link > .user-icon-default {
	text-align: center;
}

.image-link > .user-icon-default > i {
	width: 40px;
	height: 40px;
	font-size: 30px;
	padding-top: 5px;
	padding-left: 0px;
	margin-right: 5px;
	background-color: #fff;
	color: #999;
}

.image-link > .user-icon-default > i:hover {
	color: #999;
}

.nav-logo {
    height: 30px;
    margin-top: 10px;
}

.nav-logo.small {
	margin-top: 0px;
}

.main-logo {
	width: 200px;
	margin-bottom: 40px;
}

.navbar-left, .navbar-right {
	width: 25%;
}

.navbar-center {
	width: 50%;
	text-align: center;
}

.btn-inverse {
	position: relative;
	padding: 9px 10px;
	background-color: transparent;
	border: none;
	color: #999;
	cursor: pointer;
	z-index: 1000;
}

.btn-inverse:hover {
	color: #999;
}

#nav-filter.active {
    color: #fff;
}

.navbar-toggle:hover {
    background-color: transparent !important;
    background-image: none !important;
}

.navbar-toggle {
	color: #999;
	z-index: 1000;
	margin-top: 4px !important;
	margin-bottom: 0px !important;
}

.page-title {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.8em;
    font-weight: bold;
}

.page-title + hr {
    margin-top: 5px;
    margin-bottom: 0;
    border-top: 1px solid #D2D2D2;
}

.page-btn-container {
    float: right;
    cursor: default;
}

.page-btn-container i:hover {
	cursor: pointer;
}

.page-title-tri-btn {
	font-size: 2em;
    cursor: pointer;
    padding: 0px 10px;
    border-radius: 5px;
}

.page-title-tri-btn.active {
	color: white;
	background-color: rgb(0, 142, 221);
}

.page-title-btn {
    font-size: 2em;
    cursor: pointer;
    padding-right: 10px;
}

.page-title-btn:last-of-type {
    padding-right: 0px;
}

.row-label {
    font-weight: bold;
    padding: 2px 10px;
    background-color: rgb(238, 238, 238);
    color: #000;
    margin-bottom: 20px;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 3px;
}

.row-text {
    max-width: 90%;
    margin: 0px auto 20px auto;
}

.row-label > span {
	float: right;
	cursor: pointer;
}

.alert-body {
	margin-right: 20px;
}

.page-alert {
	position: fixed;
	z-index: 3400;
	top: 50px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 40%;
	max-width: 600px;
	padding: 5px 20px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	display: none;
}

.page-alert > .alert-body > strong {
	padding-right: 10px;
}

.alert-danger {
	box-shadow: 2px 2px 10px 0px rgb(132, 102, 102);
	border: 1px solid #A57676;
	-webkit-box-shadow: 2px 2px 10px 0px rgba(132,102,102,1);
	-moz-box-shadow: 2px 2px 10px 0px rgba(132,102,102,1);
}

.alert-success {
	box-shadow: 2px 2px 10px 0px rgb(107, 132, 102);
	border: 1px solid #76A577;
	-webkit-box-shadow: 2px 2px 10px 0px rgb(107, 132, 102);
	-moz-box-shadow: 2px 2px 10px 0px rgb(107, 132, 102);
}

.alert-info {
	box-shadow: 2px 2px 10px 0px rgb(102, 115, 132);
	border: 1px solid #768FA5;
	-webkit-box-shadow: 2px 2px 10px 0px rgb(102, 115, 132);
	-moz-box-shadow: 2px 2px 10px 0px rgb(102, 115, 132);
}

.page-container {
	padding-top: 20px;
	max-width: 600px;
}

.page-body {
	padding-bottom: 30px;
}

#user-input-form {
	margin: 20px auto;
	max-width: 400px;
}

#user-input-form > .input-group {
	margin: 5px 0px;
}

#user-input-form > button {
	margin-top: 10px;
}

.btn-wide {
	width: 150px;
}

.btn-wide > i {
	font-size: 20px;
}

.fb-color {
	color: #3b5999;
}

.btn-facebook {
	background-color: #3b5999;
	color: #fff;
}

a.btn-facebook:hover {
	background-color: #2E467B;
	color: #fff;
}

@media (min-width: 767px) {
	.page-header > h1{
		line-height: 50px;
		margin-left: 70px;
	}
}

@media (max-width: 767px) {
	.page-container {
		max-width: 500px !important;
	}
	
	.page-container .btn {
  		margin-bottom: 10px;
	}
	
	.page-header {
		margin: 0px;
	}
	
	.page-header > h1{
		margin-left: 70px;
		font-size: 2em;
	}
	
	.btn-inverse {
		border: 1px solid transparent !important;
		border-radius: 4px !important;
		border-color: #333 !important;
		margin-left: 15px !important;
	}

	
	#nav-filter.active {
		border-color: #fff !important;
    }
}

.page-header > img {
	float: left;
}

.page-header > i {
	float: left;
	font-size: 50px;
}

/* Moble */
#side-panel {
    background-color: #ccc;
}

.options-menu {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.options-menu li {
    font-size: 1em;
    line-height: 1.3em;
    background-color: rgb(249, 249, 249);
    border-bottom: 1px solid rgb(165, 165, 165);
}

.options-menu li.active {
    background-color: rgb(0, 142, 221);
}

.options-menu li span {
    float: right;
    font-size: 1.3em;
}

.options-menu a {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}

.options-menu li.active a {
    color: white;
    font-weight: bold;
}

.panel {
    margin: 0px;
    background-color: transparent;
}

.dz-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.dz-color {
    color: #008EDD;
}