.signup-form-container {
     height: 100%;
     width: 100%;
     display: table;
     table-layout: fixed;
}

.signup-title {
     padding-bottom: 20px;
}

.signup-form-cell {
     width: 100%;
     padding-top: 100px;
     display: table-cell;
     text-align: center;
     vertical-align: middle;
}

.signup-form-center {
     display: inline-block;
     text-align: center;
     width: 300px;
}

.input-group {
     padding-bottom: 10px;
}

.input {
     width: 100%;
     height: 32px;
     padding-left: 10px;
     border-style: solid;
     border-width: 1px;
     border-radius: 3px;
     border-color: #BBB;
}

.alert {
     padding: 10px;
}

@media screen and (max-height: 700px) {
     .signup-form-cell {
          padding-top: 100px !important;
     }
}