html, body {
    margin: 0;
    padding: 0 !important;
    height: 100%;
    width: 100%;
    position: relative;
}

.dz-nav {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 2000;
    padding-left: 15px;
    padding-right: 15px;
}

.dz-nav-inner {
    padding: 6px;
    display: inline-block;
    float: right;
}

#dz-nav-logo {
    opacity: 0;
}

.dz-nav-inner .nav-btn {
    float: left;
    cursor: pointer;
}

.dz-nav-inner .nav-btn:hover {
	cursor: pointer;
	border: 2px solid rgb(0, 142, 221);
	margin: 0px 4px;
}

.dashboard-view {
    display: none;
}

/*
* Tri State
*/
.dz-tri-switch {
    border: 1px solid #808080;
    height: 25px;
    display: table;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.dz-switch-opt {
    border-right: 1px solid #6F6F6F;
    position: relative;
    overflow: hidden;
    width: 40px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background: #a2a2a2; /* Old browsers */
    background: -moz-linear-gradient(top,  #a2a2a2 0%, #d2d2d2 75%, #d2d2d2 100%, #cacaca 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a2a2a2), color-stop(75%,#d2d2d2), color-stop(100%,#d2d2d2), color-stop(100%,#cacaca)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a2a2a2 0%,#d2d2d2 75%,#d2d2d2 100%,#cacaca 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a2a2a2 0%,#d2d2d2 75%,#d2d2d2 100%,#cacaca 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a2a2a2 0%,#d2d2d2 75%,#d2d2d2 100%,#cacaca 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #a2a2a2 0%,#d2d2d2 75%,#d2d2d2 100%,#cacaca 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2a2a2', endColorstr='#cacaca',GradientType=0 ); /* IE6-9 */
    cursor: pointer;
}

.dz-switch-opt:last-child {
    border-right: 0px;
}

.dz-switch-opt.active {
    color: #fff;
    cursor: default;
}

.dz-switch-selector {
    position: absolute;
    border: 1px solid #0078BB;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #3dbaff; /* Old browsers */
    background: -moz-linear-gradient(top,  #3dbaff 0%, #008edd 75%, #0093e4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3dbaff), color-stop(75%,#008edd), color-stop(100%,#0093e4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #3dbaff 0%,#008edd 75%,#0093e4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #3dbaff 0%,#008edd 75%,#0093e4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #3dbaff 0%,#008edd 75%,#0093e4 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #3dbaff 0%,#008edd 75%,#0093e4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3dbaff', endColorstr='#0093e4',GradientType=0 ); /* IE6-9 */
}

.center {
    width: 100%;
    height: 200px;
    text-align: center;
    position: relative;
    margin-left: 100px;
}

#test-frame {
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    z-index: 500;
    background-color: white;
}

/* Circle Action Area */
.action-circle {
    border-radius: 50%;
    background-color: blue;
    width: 0px;
    height: 0px;
    position: absolute;
    z-index: 2000;
}

.action-circle > .action-fill {
    position: absolute;
    background-color: white;
    width: 40%;
    height: 40%;
    left: 30%;
    top: 30%;
    border-radius: 50%;
}

.action-circle > .action-top {
    position: absolute;
    width: 30%;
    height: 30%;
    left: 35%;
    top: 15%;
    text-align: center;
    color: white;
}

/*
* Link Container
*/
.link-container {
    position: absolute;
    width: 200px;
    background-color: rgb(190, 190, 190);
    border: 1px solid rgb(142, 141, 141);
    padding: 5px;
    -webkit-box-shadow: 2px 2px 8px 0px rgba(156,156,156,0.75);
    -moz-box-shadow: 2px 2px 8px 0px rgba(156,156,156,0.75);
    box-shadow: 2px 2px 8px 0px rgba(156,156,156,0.75);
}

.link-btn {
    float: right;
    width: 30px;
    height: 20px;
    text-align: center;
}

.link-btn span {
    font-size: 12px;
    display: block;
}

.link-input {
    width: 150px;
    height: 20px;
    display: block;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border-radius: 4px;
    padding: 6px 5px 5px 5px;
    font-size: 10px;
}