{{#section 'head'}}
<head>
    <title>disc|zump - Admin</title>
</head>
{{/section}}
<div class="sidebar">
    <ul class="nav-sidebar no-select" id="sidebar-home">
        <h5 class="sidebar-section-header"><span>Actions</span><hr /><div class="clearfix"></div></h5>
        <li class="sidebar-select nav active" href="/admin"><span class="float-left fa-tools"><i class="fa fa-users fa-sidebar-icon"></i></span><span class="sidebar-select-text">Admin Home</span></li>
        <li class="sidebar-select nav" href="/admin/reply"><span class="float-left fa-tools"><i class="fa fa-users fa-sidebar-icon"></i></span><span class="sidebar-select-text">Reply to Feedback</span></li>
        <h5 class="sidebar-section-header"><span>Models</span><hr /><div class="clearfix"></div></h5>
        <li class="sidebar-select nav" href="/admin/users"><span class="float-left fa-tools"><i class="fa fa-users fa-sidebar-icon"></i></span><span class="sidebar-select-text">Users</span></li>
        <li class="sidebar-select nav" href="/admin/discs"><span class="float-left fa-tools"><i class="fa fa-circle-o fa-sidebar-icon"></i></span><span class="sidebar-select-text">Discs</span></li>
        <li class="sidebar-select nav" href="/admin/events"><span class="float-left fa-tools"><i class="fa fa-file-zip-o fa-sidebar-icon"></i></span><span class="sidebar-select-text">Events</span></li>
        <li class="sidebar-select nav" href="/admin/feedback"><span class="float-left fa-tools"><i class="fa fa-comment fa-sidebar-icon"></i></span><span class="sidebar-select-text">Feedback</span></li>
    </ul>
</div>
<div class="page-view">
    <div class="page-title">Statistics</div>
     <table id="stat-table">
        <tr>
            <td class="stat-label">
                Total Users:
            </td>
            <td class="stat-value" id="count-total-users">
                {{stats.user.total}}
            </td>
        </tr>
        <tr>
            <td class="stat-label">
                Confirmed Users:
            </td>
            <td class="stat-value" id="count-confirmed-users">
                {{stats.user.confirmed}}
            </td>
        </tr>
        <tr>
            <td class="stat-label">
                Users Active Now:
            </td>
            <td class="stat-value" id="count-active-users">
                {{stats.user.active}}
            </td>
        </tr>
        <tr>
            <td class="stat-label">
                Total Discs:
            </td>
            <td class="stat-value" id="count-total-discs">
                {{stats.disc.total}}
            </td>
        </tr>
    </table>
    <h3>Active Users:</h3>
    <table id="object-table">
        <thead>
            <tr>
                <th name="_id">ID</th>
                <th name="local.username">Username</th>
                <th name="local.firstName">First Name</th>
                <th name="local.lastName">Last Name</th>
                <th name="local.email">Email</th>
                <th name="local.dateJoined">Date Joined</th>
                <th name="local.lastAccess">Last Access</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
    <br />
    <input type="text" id="testVal" />
    <input type="text" id="testVal2" />
    <button type="button" id="test">Click Me!</button>
    <ul id="result">
        
    </ul>
    <script src="/static/js/internal/admin.js"></script>
</div>