<!doctype html>
<html>
{{#section 'head'}}
<head>
    <title>disc|zump - Admin</title>
    <link rel="stylesheet" href="/static/css/internal/admin.css">
</head>
{{/section}}
<body>
    <div class="page">
        <div class="page-title">Admin Console</div>
        <table id="stat-table">
            <tr>
                <td class="stat-label">
                    Total Users:
                </td>
                <td class="stat-value" id="count-total-users">
                    
                </td>
            </tr>
            <tr>
                <td class="stat-label">
                    Active Users:
                </td>
                <td class="stat-value" id="count-active-users">
                    
                </td>
            </tr>
            <tr>
                <td class="stat-label">
                    Total Discs:
                </td>
                <td class="stat-value" id="count-total-discs">
                    
                </td>
            </tr>
        </table>
    </div>
    <script src="/static/js/internal/admin.js"></script>
</body>
</html>
