<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
<div dz-wrapper>
    <dz-header></dz-header>
    <div class="scrollable main-body">
        <div class="portal-title cont-sm" style="margin: 20px auto">
            <img src="/static/logo/logo_portal.png" />
            <div class="about-brief">
                disc|zump is an online <b>community</b> and <b>marketplace</b> for disc golfers interested in keeping a digital inventory of their collection as well as buying, selling and trading with others, both locally and globally.
            </div>
        </div>
        <div class="info-tile-container cont-section">
            <div class="info-tile">
                <div class="info-tile-area" ng-mouseenter="orgShow = true;" ng-mouseleave="orgShow = false;">
                    <div class="info-tile-cover" ng-show="!orgShow">
                        <div>
                            <div>
                                <div class="info-tile-img">
                                    <img src="/static/icon/organized_icon.png" />
                                </div>
                                <div class="info-tile-title">
                                    Organized
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-tile-img">
                        <img src="/static/icon/organized_icon.png" />
                    </div>
                    <div class="info-tile-title">
                        Organized
                    </div>
                    <div class="info-tile-text">
                        Everyone hates losing discs. Keep your trunk structured and organized so you’ll never lose track of what you own, even if you just lost one in the local pond.
                    </div>
                </div>
            </div>
            <div class="info-tile">
                <div class="info-tile-area" ng-mouseenter="socShow = true;" ng-mouseleave="socShow = false;">
                    <div class="info-tile-cover" ng-show="!socShow">
                        <div>
                            <div>
                                <div class="info-tile-img">
                                    <img src="/static/icon/social_icon.png" />
                                </div>
                                <div class="info-tile-title">
                                    Social
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-tile-img">
                        <img src="/static/icon/social_icon.png" />
                    </div>
                    <div class="info-tile-title">
                        Social
                    </div>
                    <div class="info-tile-text">
                        Seeing is believing, even when it comes to your collection. Connect with other disc golfers to prove that your collection is as good as it sounds.
                    </div>
                </div>
            </div>
            <div class="info-tile">
                <div class="info-tile-area" ng-mouseenter="acShow = true;" ng-mouseleave="acShow = false;">
                    <div class="info-tile-cover" ng-show="!acShow">
                        <div>
                            <div>
                                <div class="info-tile-img">
                                    <img src="/static/icon/access_icon.png" />
                                </div>
                                <div class="info-tile-title">
                                    Accessible
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-tile-img">
                        <img src="/static/icon/access_icon.png" />
                    </div>
                    <div class="info-tile-title">
                        Accessible
                    </div>
                    <div class="info-tile-text">
                        It's the 21st century and time for you to get your inventory out of your car trunk and into your disc|zump trunk. Build an inventory in the cloud that can be accessed at home and on the course.
                    </div>
                </div>
            </div>
            <div class="info-tile">
                <div class="info-tile-area" ng-mouseenter="locShow = true;" ng-mouseleave="locShow = false;">
                    <div class="info-tile-cover" ng-show="!locShow">
                        <div>
                            <div>
                                <div class="info-tile-img">
                                    <img src="/static/icon/local_icon.png" />
                                </div>
                                <div class="info-tile-title">
                                    Local Presence
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-tile-img">
                        <img src="/static/icon/local_icon.png" />
                    </div>
                    <div class="info-tile-title">
                        Local Presence
                    </div>
                    <div class="info-tile-text">
                        "Pop your trunk" and show off your collection by sharing your personal disc|zump URL or locate and explore other trunks in your area.
                    </div>
                </div>
            </div>
            <div class="info-tile">
                <div class="info-tile-area" ng-mouseenter="gShow = true;" ng-mouseleave="gShow = false;">
                    <div class="info-tile-cover" ng-show="!gShow">
                        <div>
                            <div>
                                <div class="info-tile-img">
                                    <img src="/static/icon/global_icon.png" />
                                </div>
                                <div class="info-tile-title">
                                    Global Presence
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-tile-img">
                        <img src="/static/icon/global_icon.png" />
                    </div>
                    <div class="info-tile-title">
                        Global Presence
                    </div>
                    <div class="info-tile-text">
                        Designate each disc as public or private and watch as your discs gain global attention. Take it a step further and mark 
                        your discs for sale or for trade to jump start a transaction.
                    </div>
                </div>
            </div>
            <div class="info-tile">
                <div class="info-tile-area" ng-mouseenter="secShow = true;" ng-mouseleave="secShow = false;">
                    <div class="info-tile-cover" ng-show="!secShow">
                        <div>
                            <div>
                                <div class="info-tile-img">
                                    <img src="/static/icon/secure_icon.png" />
                                </div>
                                <div class="info-tile-title">
                                    Secure
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-tile-img">
                        <img src="/static/icon/secure_icon.png" />
                    </div>
                    <div class="info-tile-title">
                        Secure
                    </div>
                    <div class="info-tile-text">
                        Use our verification system to stand out over other users and indicate that you are a member they can trust. Currently supporting Facebook and PDGA verifications.
                    </div>
                </div>
            </div>
            <div class="clearfix">

            </div>
        </div>
        <div class="about-section">
            <div class="course-img" parallax parallax-ratio="0.5" parallax-vertical-offset="200"></div>
            <div class="section-overlay">
                <div class="attention-container">
                    <div class="text-attention">
                        Join the dis<span class="dz-blue">c|z</span>ump community today!
                    </div>
                </div>
            </div>
        </div>
        <div class="split-section">
            <div class="hiw-preview">
                <div class="hiw-preview-img">
                    <div> <video autoplay src="{{hiwImage}}" loop></video></div>
                </div>
            </div>
            <div class="hiw-container">
                <div class="hiw-title">
                    How It Works
                </div>
                <div class="hiw-item" ng-click="hiwImage = '/static/img/anim/upload.mp4'" ng-class="{'active':hiwImage == '/static/img/anim/upload.mp4'}">
                    <div class="numeric-item"><span>1</span></div>
                    <div class="hiw-step">
                        Create your inventory by uploading your collection to your disc|zump trunk.
                    </div>
                </div>
                <div class="hiw-item" ng-click="hiwImage = '/static/img/anim/tag.mp4'" ng-class="{'active':hiwImage == '/static/img/anim/tag.mp4'}">
                    <div class="numeric-item"><span>2</span></div>
                    <div class="hiw-step">
                        Customize your inventory by tagging discs to provide organizable filters.
                    </div>
                </div>
                <div class="hiw-item" ng-click="hiwImage = '/static/img/anim/url.mp4'" ng-class="{'active':hiwImage == '/static/img/anim/url.mp4'}">
                    <div class="numeric-item"><span>3</span></div>
                    <div class="hiw-step">
                        Share your trunk with the world via social media, email, websites, etc.
                    </div>
                </div>
                <div class="hiw-item" ng-click="hiwImage = '/static/img/anim/market.mp4'" ng-class="{'active':hiwImage == '/static/img/anim/market.mp4'}">
                    <div class="numeric-item"><span>4</span></div>
                    <div class="hiw-step">
                        Mark discs to be available in the global disc|zump marketplace at your own convenience.
                    </div>
                </div>
                <div class="hiw-item">
                    <div class="numeric-item"><span>5</span></div>
                    <div class="hiw-step">
                        Communicate with other members via the disc|zump messenger to complete a sale or trade.
                    </div>
                </div>
            </div>
        </div>
        <div class="about-section" style="background-color: #eee; padding: 20px 0px;">
            <div class="membership-container">
                <div class="membership-tile">
                    <div class="membership-tile-area">
                        <div class="membership-tile-title">
                            The<br /><span class="dz-blue">{{getAccountType('basic')}}</span>
                        </div>
                        <div class="membership-tile-amt">
                            <div class="price">
                                ${{getAccountCost('basic')}}
                            </div>
                            <div class="unit">
                                /month
                            </div>
                        </div>
                        <div class="membership-tile-features">
                            <div class="membership-tile-fitem">
                                <span class="dz-blue"><i class="fa fa-star"></i></span>
                                <div>
                                    Create your own personal trunk
                                </div>
                            </div>
                            <div class="membership-tile-fitem">
                                <span class="dz-blue"><i class="fa fa-star"></i></span>
                                <div>
                                    Send and receive messages with other users
                                </div>
                            </div>
                            <div class="membership-tile-fitem">
                                <span class="dz-blue"><i class="fa fa-star"></i></span>
                                <div>
                                    Add up to <span class="dz-blue" style="font-weight: bold">2</span> discs to the global marketplace simultaneously
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="membership-tile">
                    <div class="membership-tile-area">
                        <div class="membership-tile-title">
                            The<br /><span class="dz-blue">{{getAccountType('entry')}}</span>
                        </div>
                        <div class="membership-tile-amt">
                            <div class="price">
                                ${{getAccountCost('entry')}}
                            </div>
                            <div class="unit">
                                /month
                            </div>
                        </div>
                        <div class="membership-tile-features">
                            <div class="membership-tile-fitem">
                                <span class="dz-blue"><i class="fa fa-star"></i></span>
                                <div>
                                    Create your own personal trunk
                                </div>
                            </div>
                            <div class="membership-tile-fitem">
                                <span class="dz-blue"><i class="fa fa-star"></i></span>
                                <div>
                                    Send and receive messages with other users
                                </div>
                            </div>
                            <div class="membership-tile-fitem">
                                <span class="dz-blue"><i class="fa fa-star"></i></span>
                                <div>
                                    Add up to <span class="dz-blue" style="font-weight: bold">6</span> discs to the global marketplace simultaneously
                                </div>
                            </div>
                            <div class="membership-tile-fitem">
                                <span class="dz-blue"><i class="fa fa-star"></i></span>
                                <div>
                                    Access to marketplace tools
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="membership-tile">
                    <div class="membership-tile-area">
                        <div class="membership-tile-title">
                            The<br /><span class="dz-blue">{{getAccountType('pro')}}</span>
                        </div>
                        <div class="membership-tile-amt">
                            <div class="price">
                                ${{getAccountCost('pro')}}
                            </div>
                            <div class="unit">
                                /month
                            </div>
                        </div>
                        <div class="membership-tile-features">
                            <div class="membership-tile-fitem">
                                <span class="dz-blue"><i class="fa fa-star"></i></span>
                                <div>
                                    Create your own personal trunk
                                </div>
                            </div>
                            <div class="membership-tile-fitem">
                                <span class="dz-blue"><i class="fa fa-star"></i></span>
                                <div>
                                    Send and receive messages with other users
                                </div>
                            </div>
                            <div class="membership-tile-fitem">
                                <span class="dz-blue"><i class="fa fa-star"></i></span>
                                <div>
                                    Add <span class="dz-blue" style="font-weight: bold">unlimited</span> discs to the global marketplace simultaneously
                                </div>
                            </div>
                            <div class="membership-tile-fitem">
                                <span class="dz-blue"><i class="fa fa-star"></i></span>
                                <div>
                                    Access to marketplace tools
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix">

                </div>
            </div>
            <div class="notify-button" style="text-align: center; margin: 20px 0px"><a class="btn btn-default" href="/signup" style="font-size: 1.5em; background-color: #ffba00;">Get Started</a></div>
        </div>
    </div>
    <dz-footer></dz-footer>
</div>