<div dz-wrapper>
    <dz-header></dz-header>
    <dz-status-bar class="header-color-1" breadcrumbs="breadcrumbs"></dz-status-bar>
    <div class="private-warning dz-blue-background" ng-show="!loading && !disc.visible">
        <span><i class="fa fa-eye-slash fa-lg"></i>This disc is private!<i class="fa fa-eye-slash fa-lg"></i></span>
    </div>
    <div class="scrollable main-body">
        <div class="page-content full-width">
            <dz-alert alert-data="discAlert"></dz-alert>
            <div class="title-row">
                <span class="title-btn float-right" ng-show="!discInit"><i class="fa fa-spin fa-spinner"></i></span>
                <div class="title-btn-container float-right" ng-show="discInit">
                    <span class="title-btn"><i class="fa fa-facebook-square hover-fb-color hover-pointer" title="Share Disc"></i></span>
                    <span class="title-btn"><i class="fa fa-link hover-link-color hover-pointer" title="Copy Link"></i></span>
                    <span class="title-btn" directive-on="discInit" directive-set="{'ng-if':'givePermission()'}"><a ng-href="/portal/d/{{disc._id}}/edit"><i class="fa fa-pencil hover-edit-color hover-pointer" title="Edit Disc"></i></a></span>
                    <span class="title-btn" directive-on="discInit" directive-set="{'ng-if':'givePermission()'}" ng-click="modalFns.createDeleteModal(disc)"><i class="fa fa-trash hover-delete-color hover-pointer" title="Delete Disc"></i></a></span>
                    <div class="clearfix"></div>
                </div>
                <div class="page-title handle-overflow" ng-show="!disc">Loading...</div>
                <div class="page-title handle-overflow" ng-show="disc">{{disc.brand}} | <span class="dz-blue">{{disc.name}}</span></div>
                <hr>
            </div>
            <div id="dv-content">
                <div class="dv-container dv-image-container">
                    <div match-width class="dv-image-block" style="font-size: 4em;" ng-show="loading">
                        <div class="table-cell">
                            <i class="fa fa-spinner fa-spin fa-lg"></i>
                        </div>
                    </div>
                    <div match-width class="dv-image-block dv-image-border" ng-show="!loading">
                        <div class="table-cell">
                            <img directive-on="discInit" directive-set="{'img-src':'/files/{{imageBlock.fileId}\}'}" ng-show="imageBlock" class="fit-parent hover-pointer" ng-click="showLightbox = true;" img-load>
                            <img img-src="/static/logo/logo_small_faded.svg" ng-show="!imageBlock" class="fit-parent" img-load>
                            <div class="dv-zoom hover-pointer" ng-show="imageBlock" ng-click="showLightbox = true;">
                                <i class="fa fa-search-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="image-list" ng-show="!loading">
                        <div class="image-list-container simple">
                            <div class="image-list-table">
                                <div class="image-item-container" ng-repeat="img in disc.imageList">
                                    <div class="image-item">
                                        <div class="image-preview" ng-class="{active: img._id == imageBlock._id}" ng-click="setImage(img)">
                                            <img img-src="/files/{{img.thumbnailId}}" class="fit-parent" img-load>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dv-container float-right">
                    <div class="dv-marketplace-container" remove-if="publicMode" ng-show="userInit">
                        <div class="dv-marketplace-count" title="{{tempMarketplace.counts.marketCap == -1 && 'Unlimited Marketplace Discs' || tempMarketplace.counts.marketAvailable + 'Marketplace Discs Remaining'}}">
                            <span ng-bind="tempMarketplace.counts.marketAvailable" ng-show="tempMarketplace.counts.marketCap >= 0"></span>
                            <span ng-show="tempMarketplace.counts.marketCap == -1" style="font-size:28px;">&#8734;</span>
                        </div>
                        <div class="dv-marketplace-row dv-marketplace-title">Marketplace Options</div>
                        <form name="marketplaceForm" class="dv-marketplace-row" style="height:40px;">
                            <div class="width-33 float-left">
                                <div class="dv-marketplace-section-wrapper input-row">
                                    <span>Price:</span>
                                    <input type="text" name="price" class="form-control validation dv-marketplace-price" ng-model="tempMarketplace.value" placeholder="0.00" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/">
                                </div>
                            </div>
                            <div class="width-33 float-left">
                                <div class="dv-marketplace-section-wrapper input-row">For Sale: <switch class="dv-marketplace-switch sale-switch" type="checkbox" ng-model="tempMarketplace.forSale"></switch></div>
                            </div>
                            <div class="width-33 float-left">
                                <div class="dv-marketplace-section-wrapper input-row">For Trade: <switch class="dv-marketplace-switch trade-switch" type="checkbox" ng-model="tempMarketplace.forTrade"></switch></div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                        <div class="dv-marketplace-row" style="height:30px;">
                            <div class="dv-marketplace-section-wrapper btn-row">
                                <div class="dv-marketplace-btn" directive-on="discInit" directive-set="{'ng-class':'{disabled: !isDirty() || marketplaceForm.price.$invalid}'}" ng-click="(isDirty() && marketplaceForm.price.$valid && !isSaving) && saveDisc()">
                                    <span ng-show="!isSaving">Apply</span>
                                    <span ng-show="isSaving"><i class="fa fa-spinner fa-spin fa-lg"></i></span>
                                </div>
                                <div class="dv-marketplace-btn" ng-click="bumpDisc()" ng-show="bumpReady">Bump</div>
                                <div class="dv-marketplace-btn disabled" ng-show="!bumpReady" directive-on="userInit && !publicMode" directive-set="{'countdown':''}" sec-left="disc.marketplace.bumpRemaining" counts="tempMarketplace.bump" done="bumpReady" show="showCountdown">
                                    <span ng-show="showCountdown"><span ng-bind="tempMarketplace.bump.hours"></span> : <span ng-bind="tempMarketplace.bump.minutes"></span> : <span ng-bind="tempMarketplace.bump.seconds"></span></span>
                                    <span ng-show="!showCountdown"><i class="fa fa-spinner fa-spin fa-lg"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="dv-marketplace-row" style="font-style:italic;color:#BEBEBE;" ng-show="disc.marketplace.postedDate">
                            Posted: {{disc.marketplace.postedDate | date : 'medium'}}
                        </div>
                    </div>
                    <table class="info-table">
                        <tr class="dv-profile-tr">
                            <td colspan="5" class="dv-profile-td">
                                <div class="dv-profile-preview">
                                    <div class="dv-profile-preview-image float-left">
                                        <img directive-on="userInit" directive-set="{'img-src':'{{getUserImage(user)}\}'}" class="fit-parent" img-load>
                                    </div>
                                    <div class="dv-profile-preview-btn-container float-right">
                                        <a class="dv-profile-preview-btn" ng-href="/portal/t/{{user.username}}">
                                            <i class="fa fa-reply"></i> Trunk
                                        </a>
                                        <a class="dv-profile-preview-btn" ng-if="disc && !givePermission()" ng-click="initMessage()">
                                            <i class="fa fa-envelope"></i> Message
                                        </a>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="dv-profile-preview-info">
                                        <overflow-wrapper>
                                            <div class="dv-profile-preview-text-lg handle-overflow">
                                                <a ng-href="/portal/t/{{user.username}}" class="hover-underline">{{user.username}}</a>
                                            </div>
                                        </overflow-wrapper>
                                        <overflow-wrapper ng-if="user.shortLocation">
                                            <div class="dv-profile-preview-text-sm handle-overflow">{{user.shortLocation}}</div>
                                        </overflow-wrapper>
                                        <overflow-wrapper ng-if="user.pdgaNumber">
                                            <div class="dv-profile-preview-text-sm handle-overflow">
                                                <a class="hover-underline" target="_blank" ng-href="http://www.pdga.com/player/{{user.pdgaNumber}}">PDGA #{{user.pdgaNumber}}</a>
                                            </div>
                                        </overflow-wrapper>
                                        <overflow-wrapper ng-if="user.discCount">
                                            <div class="dv-profile-preview-text-sm handle-overflow">{{user.discCount}} Public Discs</div>
                                        </overflow-wrapper>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="width-33">Marketplace</td>
                            <td colspan="2" class="dv-table-cell width-33">
                                <p class="dv-table-cell-title">Price</p>
                                <overflow-wrapper ng-if="disc.marketplace.value">
                                    <div class="dv-table-cell-value handle-overflow">
                                        {{disc.marketplace.value | currency:"$":2}}
                                    </div>
                                </overflow-wrapper>
                                <p class="dv-table-cell-value" ng-if="!disc.marketplace.value">-</p>
                            </td>
                            <td colspan="1" class="dv-table-cell width-16">
                                <p class="dv-table-cell-title" ng-class="{inactive:!disc.marketplace.forSale}">For Sale</p>
                                <p class="dv-table-cell-value for-sale" ng-if="disc.marketplace.forSale">
                                    <i class="fa fa-usd"></i>
                                </p>
                                <p class="dv-table-cell-value inactive" ng-if="!disc.marketplace.forSale">
                                    <i class="fa fa-ban"></i>
                                </p>
                            </td>
                            <td colspan="1" class="dv-table-cell width-16">
                                <p class="dv-table-cell-title" ng-class="{inactive:!disc.marketplace.forTrade}">For Trade</p>
                                <p class="dv-table-cell-value for-trade" ng-if="disc.marketplace.forTrade">
                                    <i class="fa fa-refresh"></i>
                                </p>
                                <p class="dv-table-cell-value inactive" ng-if="!disc.marketplace.forTrade">
                                    <i class="fa fa-ban"></i>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="width-33">Type</td>
                            <td colspan="4">
                                <div ng-if="!disc.type">-</div>
                                <overflow-wrapper ng-if="disc.type">
                                    <div class="handle-overflow">
                                        <a filter-dropdown="{prop:'type',val:'{{disc.type}}',text:'Type'}" class="hover-underline">{{disc.type}}</a>
                                    </div>
                                </overflow-wrapper>
                            </td>
                        </tr>
                        <tr>
                            <td class="width-33">Material</td>
                            <td colspan="4">
                                <div ng-if="!disc.material">-</div>
                                <overflow-wrapper ng-if="disc.material">
                                    <div class="handle-overflow">
                                        <a filter-dropdown="{prop:'material',val:'{{disc.material}}',text:'Material'}" class="hover-underline">{{disc.material}}</a>
                                    </div>
                                </overflow-wrapper>
                            </td>
                        </tr>
                        <tr>
                            <td class="width-33">Color</td>
                            <td colspan="4">
                                <div ng-if="!disc.color">-</div>
                                <overflow-wrapper ng-if="disc.color">
                                    <div class="handle-overflow">
                                        <a filter-dropdown="{prop:'color',val:'{{disc.color}}',text:'Color'}" class="hover-underline">{{disc.color}}</a>
                                    </div>
                                </overflow-wrapper>
                            </td>
                        </tr>
                        <tr>
                            <td class="width-33">Weight</td>
                            <td colspan="4">
                                <div ng-if="!disc.weight">-</div>
                                <overflow-wrapper ng-if="disc.weight">
                                    <div class="handle-overflow">
                                        <a filter-dropdown="{prop:'weight',val:'{{disc.weight}}',text:'Weight', suffix: 'g'}" class="hover-underline">{{disc.weight}}g</a>
                                    </div>
                                </overflow-wrapper>
                            </td>
                        </tr>
                        <tr>
                            <td class="width-33">Condition</td>
                            <td colspan="4">
                                <div ng-if="!disc.condition">-</div>
                                <overflow-wrapper ng-if="disc.condition">
                                    <div class="handle-overflow">
                                        <a filter-dropdown="{prop:'condition',val:'{{disc.condition}}',text:'Condition'}" class="hover-underline">{{disc.condition}}/10</a></div>
                                    </div>
                                </overflow-wrapper>
                            </td>
                        </tr>
                        <tr>
                            <td class="width-33">Flight Numbers</td>
                            <td class="dv-table-cell width-16">
                                <p class="dv-table-cell-title">Speed</p>
                                <div class="dv-table-cell-value" ng-if="!disc.speed">-</div>
                                <overflow-wrapper ng-if="disc.speed">
                                    <div class="dv-table-cell-value handle-overflow">
                                        <a filter-dropdown="{prop:'speed',val:'{{disc.speed}}',text:'Speed'}" class="hover-underline">{{disc.speed}}</a>
                                    </div>
                                </overflow-wrapper>
                            </td>
                            <td class="dv-table-cell width-16">
                                <p class="dv-table-cell-title">Glide</p>
                                <div class="dv-table-cell-value" ng-if="!disc.glide">-</div>
                                <overflow-wrapper ng-if="disc.glide">
                                    <div class="dv-table-cell-value handle-overflow">
                                        <a filter-dropdown="{prop:'glide',val:'{{disc.glide}}',text:'Glide'}" class="hover-underline">{{disc.glide}}</a>
                                    </div>
                                </overflow-wrapper>
                            </td>
                            <td class="dv-table-cell width-16">
                                <p class="dv-table-cell-title">Turn</p>
                                <div class="dv-table-cell-value" ng-if="!disc.turn">-</div>
                                <overflow-wrapper ng-if="disc.turn">
                                    <div class="dv-table-cell-value handle-overflow">
                                        <a filter-dropdown="{prop:'turn',val:'{{disc.turn}}',text:'Turn'}" class="hover-underline">{{disc.turn}}</a>
                                    </div>
                                </overflow-wrapper>
                            </td>
                            <td class="dv-table-cell width-16">
                                <p class="dv-table-cell-title handle-overflow">Fade</p>
                                <div class="dv-table-cell-value" ng-if="!disc.fade">-</div>
                                <overflow-wrapper ng-if="disc.fade">
                                    <div class="dv-table-cell-value">
                                        <a filter-dropdown="{prop:'fade',val:'{{disc.fade}}',text:'Fade'}" class="hover-underline">{{disc.fade}}</a>
                                    </div>
                                </overflow-wrapper>
                            </td>
                        </tr>
                        <tr>
                            <td class="width-33">Tags</td>
                            <td colspan="4">
                                <div ng-if="disc.tagList.length">
                                    <div class="tag-item hover-underline no-select" ng-repeat="tag in disc.tagList">
                                        <span class="tag-item-text">
                                            <a filter-dropdown="{prop:'tag',val:'{{tag}}',text:'Tag'}" class="hover-underline">{{tag}}</a>
                                        </span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="width-33">Notes</td>
                            <td colspan="4">
                                <div ng-if="disc.notes">{{disc.notes}}</div>
                            </td>
                        </tr>
                    </table>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <dz-footer></dz-footer>
</div>
<lightbox image-block-id="imageBlock._id" image-list="disc.imageList" trigger="showLightbox" scroll-lock="pgSettings.scrollLock"></lightbox>
<dz-modal modal-opts="modalOpts" scroll-lock="pgSettings.scrollLock"></dz-modal>