<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
<div dz-wrapper>
    <dz-header></dz-header>
    <div class="scrollable main-body">
        <div class="portal-title cont-sm" style="margin: 20px auto">
            <img src="/static/logo/logo_portal.png" />
        </div>
        <div class="faq-container cont-section">
            <div class="title">
                Frequently Asked Questions
            </div>
            <div class="faq-toc">
                <div class="faq-toc-item"><a class="dz-blue hover-underline" href="#faq-about">What is disc|zump?</a></div>
                <div class="faq-toc-item"><a class="dz-blue hover-underline" href="#">Is it free to sign up?</a></div>
                <div class="faq-toc-item"><a class="dz-blue hover-underline" href="#">What browsers are currently supported by disc|zump?</a></div>
                <div class="faq-toc-item"><a class="dz-blue hover-underline" href="#">What are your Terms and Conditions?</a></div>
                <div class="faq-toc-item"><a class="dz-blue hover-underline" href="#">Will there be a mobile-friendly platform?</a></div>
                <div class="faq-toc-item"><a class="dz-blue hover-underline" href="#">Can I expect more features in the future?</a></div>
                <div class="faq-toc-item"><a class="dz-blue hover-underline" href="#">How do I link my account to Facebook?</a></div>
                <div class="faq-toc-item"><a class="dz-blue hover-underline" href="#">How do I add a disc to my inventory?</a></div>
                <div class="faq-toc-item"><a class="dz-blue hover-underline" href="#">What is the difference between a public and private disc?</a></div>
                <div class="faq-toc-item"><a class="dz-blue hover-underline" href="#">How do I share a disc?</a></div>
                <div class="faq-toc-item"><a class="dz-blue hover-underline" href="#">Why should I add tags to my disc collection?</a></div>
                <div class="faq-toc-item"><a class="dz-blue hover-underline" href="#">I can't log in, what should I do?</a></div>
                <div class="faq-toc-item"><a class="dz-blue hover-underline" href="#">I've found an issue with the site, what should I do?</a></div>
                <div class="faq-toc-item"><a class="dz-blue hover-underline" href="#">How can we submit feedback about the site?</a></div>
                <div class="faq-toc-item"><a class="dz-blue hover-underline" href="#">Help! I can't access my account!</a></div>
            </div>
            <div class="faq-item" id="faq-about">
                <div class="faq-item-title">
                    <span><i class="fa fa-question-circle"></i></span>What is disc|zump?
                </div>
                <div class="faq-item-body">
                    disc|zump is a social disc golf inventory network enabling users to organize, 
                    maintain and share collections across any internet-enabled device. Disc golfers 
                    can use our site to build and store their collections online for seamless sharing 
                    with others, whether it be to show off a recently obtained disc or to provide more 
                    detail for a potential trade/sale. Outside of sharing, take advantage of viewing 
                    other user's public inventories and don't be scared to shoot them a message when 
                    you want to connect.
                </div>
            </div>
        </div>
    </div>
    <dz-footer></dz-footer>
</div>