<div dz-wrapper>
    <dz-header user="account.user"></dz-header>
    <div class="scrollable main-body" id="disc-templates">
        <div fit-page center-align offset="-110">
            <div class="redirect-container">
                <div class="redirect-loader"><span><i class="fa fa-spinner fa-spin"></i></span></div>
                <div class="redirect-text">Redirecting...</div>
            </div>
            <div class="page-info small">
                <div class="page-info-title">Why?</div>
                You have encountered a Uniform Resource Identifier (URL) that either does not
                exist or has been moved to a different part of the site. Be patient while you are
                directed to the correct page.
            </div>
        </div>
    </div>
    <dz-footer></dz-footer>
</div>