<div class="profile-container header-color">
    <div class="profile-inner">
        <div class="profile-image float-left">
            <img src="/static/logo/logo_small_faded.svg">
        </div>
        <div class="profile-info-left float-left">
            <div class="profile-text-lg handle-overflow" ng-show="trunk.user.username">
                {{trunk.user.username}}
            </div>
            <div class="profile-text-sm handle-overflow" ng-show="trunk.user.firstName && trunk.user.lastName">
                {{trunk.user.firstName}} {{trunk.user.lastName}}
            </div>
            <div class="profile-text-sm handle-overflow" ng-show="trunk.user.shortLocation">
                {{trunk.user.shortLocation}}
            </div>
        </div>
        <div class="profile-info-center float-left">
            <div class="slogan-container">
                <div class="slogan-text handle-overflow">
                    Don't make me pop the trunk!
                </div>
            </div>
            <div class="btn-container">
                <div class="profile-btn" title="Add Disc">
                    <i class="fa fa-lg fa-plus-circle"></i>
                </div>
                <div class="profile-btn" title="Follow User">
                    <i class="fa fa-user-plus"></i>
                </div>
                <div class="profile-btn" title="Send Message">
                    <i class="fa fa-envelope"></i>
                </div>
            </div>
        </div>
        <div class="profile-info-right float-left">
            <div class="profile-text-sm handle-overflow" ng-show="trunk.user.dateJoined">
                Member since {{trunk.user.dateJoined | date:'MM/dd/yyyy'}}
            </div>
            <div class="profile-text-sm handle-overflow" ng-show="trunk.user.discCount">
                {{trunk.user.discCount}} Public Discs
            </div>
            <div class="profile-text-sm handle-overflow" ng-show="trunk.user.pdgaNumber">
                PDGA #{{trunk.user.pdgaNumber}}
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="breadcrumb-container header-color">
    <div class="pagination-container" title="Showing {{resultList.length}} of {{pagination.total}} results">
        {{resultList.length}} | <span class="dz-blue">{{pagination.total}}</span>
    </div>
    <div ng-show="!loading">
        <span class="hover-underline" title="Explore Home" ng-click="navFilter()"><i class="fa fa-home" style="font-size: 1.1em; color: #008edd"></i></span>
        <span ng-show="trunk.user.username"><i class="fa fa-chevron-right"></i></span>
        <span class="hover-underline" ng-show="trunk.user.username" ng-click="nav('trunk/' + trunk.user._id)">{{trunk.user.username}}'s Trunk</span>
        <span class="breadcrumb-item-container" ng-repeat="filter in activeFilters">
            <span><i class="fa fa-chevron-right" style="margin-right: 5px"></i>{{filter.text}}:</span>
            <span class="breadcrumb-item" ng-repeat="field in filter.fields">
                <span ng-if="$index > 0">|</span>
                <span class="dz-blue hover-underline" ng-click="navFilter(filter, field)">{{field}}</span>
            </span>
        </span>
    </div>
    <div class="clearfix"></div>
</div>
<div class="scrollable main-body has-profile" id="trunk">
    <div class="page-content">
        <div class="loader" ng-show="loading">
            <div>
                <img src="/static/logo/logo_small_loading_dark.svg">
            </div>
        </div>
        <div class="left-container">
            <div class="filter-container">
                <div class="sidebar-section">
                    <div class="sidebar-title-container no-select" ng-click="mFacet.open = !mFacet.open" ng-init="mFacet.open = true">
                        <div class="sidebar-title-icon" style="color: #000"><i class="fa fa-plus-square" ng-show="!mFacet.open"></i></div>
                        <div class="sidebar-title-icon"><i class="fa fa-minus-square" ng-show="mFacet.open"></i></div>
                        <div class="sidebar-title">Marketplace <span class="filter-clear hover-underline" ng-show="">[Clear]</span></div>
                    </div>
                    <div class="sidebar-item-container" ng-show="mFacet.open">
                        <div class="sidebar-item hover-underline no-select" ng-click="">
                            <span class="sidebar-item-icon">
                                <i class="fa fa-square-o" ng-show="true"></i>
                                <i class="fa fa-check-square-o" ng-show="false"></i>
                            </span>
                            <div class="filter-item-val handle-overflow">For Sale</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="sidebar-item hover-underline no-select" ng-click="">
                            <span class="sidebar-item-icon">
                                <i class="fa fa-square-o" ng-show="true"></i>
                                <i class="fa fa-check-square-o" ng-show="false"></i>
                            </span>
                            <div class="filter-item-val handle-overflow">For Trade</div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="sidebar-section" ng-repeat="facet in resultFilters" ng-show="facet.filters.length">
                    <div class="sidebar-title-container no-select" ng-click="facet.open = !facet.open">
                        <div class="sidebar-title-icon" style="color: #000"><i class="fa fa-plus-square" ng-show="!facet.open"></i></div>
                        <div class="sidebar-title-icon"><i class="fa fa-minus-square" ng-show="facet.open"></i></div>
                        <div class="sidebar-title">{{facet.text}} <span class="filter-clear hover-underline" ng-show="hasActiveFilters(facet)" ng-click="clearActiveFilters(facet); $event.stopPropagation();">[Clear]</span></div>
                    </div>
                    <div class="sidebar-item-container" ng-show="facet.open">
                        <div class="sidebar-item hover-underline no-select" ng-repeat="filter in facet.filters | limitTo: facet.limit" ng-click="toggleFilter(facet, filter);">
                            <span class="sidebar-item-icon">
                                <i class="fa fa-square-o" ng-show="!isFilterActive(facet, filter)"></i>
                                <i class="fa fa-check-square-o" ng-show="isFilterActive(facet, filter)"></i>
                            </span>
                            <div class="filter-item-val handle-overflow">{{filter.val}}</div>
                            <div class="filter-item-count handle-overflow">({{filter.count}})</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="filter-show-more hover-underline" ng-if="facet.filters.length > facet.limit" ng-click="facet.limit = facet.filters.length">Show More...</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-container" id="results-container">
            <div class="result-header">
                <div class="ms-btn">
                    <span><i class="fa fa-check-square" ng-click="toggleMS()" ng-class="{'active': ms.mode}"></i></span>
                </div>
                <div id="result-sort">
                    <select class="form-control" ng-model="sortParam" ng-change="updateSort()" ng-init="sortParam = sortParam || 'rel'">
                      <option value="rel">Sort by Relevance</option>
                      <option value="dAsc">Sort by Date Ascending</option>
                      <option value="dDesc">Sort by Date Descending</option>
                    </select>
                </div>
                <div class="search-container pad">
                    <div class="search-btn round-left no-right float-left active">
                        <i class="fa fa-database"></i>
                    </div>
                    <div class="search-btn round-right no-left float-right" ng-click="updateUrl()">
                        <i class="fa fa-search"></i>
                    </div>
                    <div class="search-bar-wrapper">
                        <input id="search-explore" ng-enter="updateUrl()" ng-model="searchParam" class="search-bar" type="text" placeholder="Search discs...">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            
            <div class="explore-container" id="results-list" infinite-scroll="loadMore()">
                <div class="grid-item" ng-repeat="disc in resultList" ng-repeat-finish="resizeRes()" ng-click="nav('d/' + disc._id)">
                    <div class="grid-item-icon top-left" ng-show="disc.marketplace.forSale || disc.marketplace.forTrade">
                        <i class="fa fa-usd sale-icon" ng-show="disc.marketplace.forSale && !disc.marketplace.forTrade"></i>
                        <i class="fa fa-refresh trade-icon" ng-show="!disc.marketplace.forSale && disc.marketplace.forTrade"></i>
                    </div>
                    <div class="grid-img-container">
                        <img ng-src="{{getSolrPrimaryImage(disc)}}" img-load>
                    </div>
                    <div class="grid-item-info">
                        <div class="grid-item-label handle-overflow">
                            {{disc.brand}} | <span class="dz-blue">{{disc.name}}</span>
                        </div>
                        <div class="grid-item-text float-left hover-underline" ng-show="!disc.user">
                            {{disc.userId}}
                        </div>
                        <div class="grid-item-text float-left hover-underline" ng-show="disc.user">
                            <a ng-href="/portal/trunk/{{disc.user._id}}">{{disc.user.username}}</a>
                        </div>
                        <div class="grid-item-text float-right" ng-if="disc.weight">
                            {{disc.weight}}g
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="overlay-container" ng-show="ms.mode">
                        <div class="overlay" ng-class="{'selected': disc.selected}" ng-click="toggleSelected(disc)" ng-init="disc.selected = false">
                            <i class="fa fa-check-circle-o no-animate" ng-show="!disc.selected"></i>
                            <i class="fa fa-check-circle no-animate selected" ng-show="disc.selected"></i>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="ms-toolbox" ng-show="ms.mode">
        <div class="ms-tb-title">Multi-select Toolbox</div>
        <div class="ms-count dz-blue">{{ms.count}}</div>
        <div class="ms-btn-container">
            <div class="ms-tb-btn share"><i class="fa fa-lg fa-external-link"></i></div>
            <div class="ms-tb-btn edit"><i class="fa fa-lg fa-pencil"></i></div>
            <div class="ms-tb-btn delete"><i class="fa fa-lg fa-trash"></i></div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>