<div dz-wrapper>
    <dz-header></dz-header>
    <div class="scrollable main-body">
        <div fit-page center-align offset="-110">
            <dz-alert class="small" alert-data="subscribeAlert"></dz-alert>
            <div class="portal-title cont-sm">
                <img src="/static/logo/logo_portal.png">
            </div>
            <div class="notify-container">
                <div class="notify-loader" ng-show="loading"><span><i class="fa fa-spinner fa-spin"></i></span></div>
                <div class="notify-text">{{!loading ? (success ? 'Unsubscribed!' : 'Unable to Unsubsribe!') : 'Unsubscribing...'}}</div>
                <div class="notify-button" style="margin-top: 20px;" ng-show="!loading"><a class="btn btn-default" href="/portal/">Return Home</a></div>
            </div>
            <div class="page-info small" ng-show="loading">
                <div class="page-info-title">Patience is a virtue!</div>
                We are attempting to unsubscribe you from notifications. We will have you on your way shortly.
            </div>
        </div>
    </div>
    <dz-footer></dz-footer>
</div>