<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
<div dz-wrapper>
    <dz-header></dz-header>
    <dz-status-bar class="header-color-2" breadcrumbs="breadcrumbs"></dz-status-bar>
    <div class="scrollable main-body">
        <div class="portal-title cont-sm" style="margin: 20px auto">
            <img src="/static/logo/logo_portal.png" />
        </div>
        <div class="page-info med attention">
            <div class="page-info-title">
                Why should I upgrade?
            </div>
            <div class="page-info-body">
                The most significant reason to upgrade your account is to increase the number of discs that you can place on the marketplace simultaneously. Discs that are marked for the marketplace (For Sale / For Trade) will 
                receive the most visibility on disc|zump, making it easier for your discs to be found. By upgrading your account, you will be able to increase your market cap and bring more publicity to your marketable discs.
            </div>
            <div class="page-info-sep"></div>
            <div class="page-info-title">
                What if I change my paid membership?
            </div>
            <div class="page-info-body">
                You can change your account type at any time. If you are upgrading, additional charges will be prorated and your account change will take effect immediately. If you are downgrading, your account change will take place at the end of your current billing cycle.
            </div>
        </div>
        <div class="about-section" style="padding: 20px 0px;">
            <div class="page-info small error" ng-if="account.profile && account.accountType !== account.profile.type">
                <div class="page-info-title">
                    <span><i class="fa fa-exclamation-triangle"></i></span>Account Change Pending
                </div>
                <div class="page-info-body">
                    We see that you have made a change to your membership during this billing period. The following options will reflect your pending membership level which will begin at the end of your current billing cycle.
                </div>
            </div>
            <div class="membership-container">
                <div class="membership-tile" ng-class="{'disabled':account.profile.type == 'Basic'}">
                    <div class="membership-tile-area">
                        <div class="membership-tile-title">
                            The<br /><span class="dz-blue">{{'basic' | memType}}</span>
                        </div>
                        <div class="membership-tile-amt">
                            <div class="price">
                                ${{'basic' | memCost}}
                            </div>
                            <div class="unit">
                                /month
                            </div>
                        </div>
                        <div class="membership-tile-features">
                            <div class="membership-tile-fitem">
                                <span class="dz-blue"><i class="fa fa-star"></i></span>
                                <div>
                                    Create your own personal trunk
                                </div>
                            </div>
                            <div class="membership-tile-fitem">
                                <span class="dz-blue"><i class="fa fa-star"></i></span>
                                <div>
                                    Send and receive messages with other users
                                </div>
                            </div>
                            <div class="membership-tile-fitem">
                                <span class="dz-blue"><i class="fa fa-star"></i></span>
                                <div>
                                    Add up to <span class="dz-blue" style="font-weight: bold">2</span> discs to the global marketplace simultaneously
                                </div>
                            </div>
                        </div>
                        <div class="notify-button membership-tile-btn"><a class="btn" ng-disabled="account.profile.type == 'Basic'" ng-click="selUpgrade('basic')">Become a {{'basic' | memType}}</a></div>
                    </div>
                </div>
                <div class="membership-tile" ng-class="{'disabled':account.profile.type == 'Entry'}">
                    <div class="membership-tile-area">
                        <div class="membership-tile-title">
                            The<br /><span class="dz-blue">{{'entry' | memType}}</span>
                        </div>
                        <div class="membership-tile-amt">
                            <div class="price">
                                ${{'entry' | memCost}}
                            </div>
                            <div class="unit">
                                /month
                            </div>
                        </div>
                        <div class="membership-tile-features">
                            <div class="membership-tile-fitem">
                                <span class="dz-blue"><i class="fa fa-star"></i></span>
                                <div>
                                    Create your own personal trunk
                                </div>
                            </div>
                            <div class="membership-tile-fitem">
                                <span class="dz-blue"><i class="fa fa-star"></i></span>
                                <div>
                                    Send and receive messages with other users
                                </div>
                            </div>
                            <div class="membership-tile-fitem">
                                <span class="dz-blue"><i class="fa fa-star"></i></span>
                                <div>
                                    Add up to <span class="dz-blue" style="font-weight: bold">6</span> discs to the global marketplace simultaneously
                                </div>
                            </div>
                            <div class="membership-tile-fitem">
                                <span class="dz-blue"><i class="fa fa-star"></i></span>
                                <div>
                                    Access to marketplace tools
                                </div>
                            </div>
                        </div>
                        <div class="notify-button membership-tile-btn"><a class="btn" ng-disabled="account.profile.type == 'Entry'" ng-click="selUpgrade('entry')">Become a {{'entry' | memType}}</a></div>
                    </div>
                </div>
                <div class="membership-tile" ng-class="{'disabled':account.profile.type == 'Pro'}">
                    <div class="membership-tile-area">
                        <div class="membership-tile-title">
                            The<br /><span class="dz-blue">{{'pro' | memType}}</span>
                        </div>
                        <div class="membership-tile-amt">
                            <div class="price">
                                ${{'pro' | memCost}}
                            </div>
                            <div class="unit">
                                /month
                            </div>
                        </div>
                        <div class="membership-tile-features">
                            <div class="membership-tile-fitem">
                                <span class="dz-blue"><i class="fa fa-star"></i></span>
                                <div>
                                    Create your own personal trunk
                                </div>
                            </div>
                            <div class="membership-tile-fitem">
                                <span class="dz-blue"><i class="fa fa-star"></i></span>
                                <div>
                                    Send and receive messages with other users
                                </div>
                            </div>
                            <div class="membership-tile-fitem">
                                <span class="dz-blue"><i class="fa fa-star"></i></span>
                                <div>
                                    Add <span class="dz-blue" style="font-weight: bold">unlimited</span> discs to the global marketplace simultaneously
                                </div>
                            </div>
                            <div class="membership-tile-fitem">
                                <span class="dz-blue"><i class="fa fa-star"></i></span>
                                <div>
                                    Access to marketplace tools
                                </div>
                            </div>
                        </div>
                        <div class="notify-button membership-tile-btn"><a class="btn" ng-disabled="account.profile.type == 'Pro'" ng-click="selUpgrade('pro')">Become a {{'pro' | memType}}</a></div>
                    </div>
                </div>
                <div class="clearfix">

                </div>
            </div>
        </div>
    </div>
    <dz-footer></dz-footer>
</div>