<div dz-wrapper>
    <dz-header></dz-header>
    <div class="scrollable main-body">
        <div class="page-content" fit-page center-align offset="-110">
            <div center-align style="height: 100%">
                 <dz-alert alert-data="confirmAlert" class="form-small"></dz-alert>
                <div class="portal-title no-pad cont-sm">
                    <img src="/static/logo/logo_portal.png">
                </div>
                <div class="page-info small"><div class="page-info-title">Confirm Account</div><div class="page-info-body">Enter the email address associated with your account below. You will receive an email containing a link to activate your account.</div></div>
                <div class="login-form-stacked form-xsmall" ng-form name="confirmForm" ng-enter="confirmForm.$valid && doConfirmInit()">
                     <div class="input-group" ng-class="{'has-error': !confirmForm.username.$pristine && confirmForm.username.$invalid, 'has-success': !confirmForm.username.$pristine && confirmForm.username.$valid}">
                        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                        <input class="form-control" type="email" placeholder="Email" ng-model="cred.username" name="username" required>
                    </div>
                    <button class="btn btn-submit btn-block" ng-click="confirmForm.$valid && doConfirmInit()" ng-disabled="confirmForm.$invalid">{{loading ? 'Processing...' : 'Confirm Account'}}</button>
                </div>
            </div>
        </div>
    </div>
    <dz-footer></dz-footer>
</div>