<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
<div dz-wrapper>
    <dz-header></dz-header>
    <dz-status-bar class="header-color-2" breadcrumbs="breadcrumbs"></dz-status-bar>
    <div class="scrollable main-body">
        <div class="portal-title cont-sm" style="margin: 20px auto">
            <img src="/static/logo/logo_portal.png" />
        </div>
        <dz-alert class="small" alertData="upgradeAlert"></dz-alert>
        <div ng-show="form.showConfirm">
            <div class="upgrade-container">
                <div class="upgrade-container-title">
                    Summary of Changes
                </div>
                <div class="page-info small error" ng-if="account.accountType !== account.profile.type">
                    <div class="page-info-title">
                        <span><i class="fa fa-exclamation-triangle"></i></span>Account Change Pending
                    </div>
                    <div class="page-info-body">
                        We see that you have made a change to your membership during this billing period. The following information will reflect your pending membership level which will begin at the end of your current billing cycle.
                    </div>
                </div>
                <div class="split-container upgrade-preview">
                    <div style="border-right: 2px dashed #bebebe">
                        <div class="membership-tile-simple">
                            <div class="membership-tile-area">
                                <div class="membership-tile-title">
                                    The<br /><span class="dz-blue">{{account.profile.type | memType}}</span>
                                </div>
                                <div class="membership-tile-amt" style="margin: 20px 0px 10px 0px;">
                                    <div class="price">
                                        ${{account.profile.type | memCost}}
                                    </div>
                                    <div class="unit">
                                        /month
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="upgrade-preview-title">Current</div>
                    </div>
                    <div>
                        <div class="membership-tile-simple">
                            <div class="membership-tile-area">
                                <div class="membership-tile-title">
                                    The<br /><span class="dz-blue">{{type | memType}}</span>
                                </div>
                                <div class="membership-tile-amt" style="margin: 20px 0px 10px 0px;">
                                    <div class="price">
                                        ${{type | memCost}}
                                    </div>
                                    <div class="unit">
                                        /month
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="upgrade-preview-title">Promoted To</div>
                    </div>
                </div>
                <div class="page-info attention light" ng-if="accountMethod == 'no-profile'">
                    <div class="page-info-title">
                        Upgrading a membership?
                    </div>
                    <div class="page-info-body">
                        We see that you are attempting to upgrade your disc|zump membership. After you complete the payment form, your account change will automatically take effect and you will be 
                        able to enjoy all your new features. 
                    </div>
                </div>
                <div class="page-info attention light" ng-if="accountMethod == 'clear-profile'">
                    <div class="page-info-title">
                        Cancelling a paid membership?
                    </div>
                    <div class="page-info-body">
                        We see that you are attempting to cancel a paid membership and return to a free account. Clicking confirm will automatically cancel your billing profile and your account change will 
                        take effect at the end of your current billing cycle.
                    </div>
                </div>
                <div class="page-info attention light" ng-if="accountMethod == 'upgrade-profile'">
                    <div class="page-info-title">
                        Upgrading a paid membership?
                    </div>
                    <div class="page-info-body">
                        We see that you are attempting to upgrade your paid membership. You don't have to worry about the payment details, we will go ahead and update your billing profile 
                        to account for the new membership recurring charge.
                        <br/>
                        <div class="legal-statement legal-container">
                            By clicking confirm, you agree to allow disc|zump to charge your account the amount required to upgrade to the selected membership (${{type | memCost}}). This amount will be prorated if you are in the 
                            middle of your billing cycle. In this case, you will only be charged the amount you have yet to pay to reach the required monthly membership fee for this billing cycle. Your account changes 
                            will take place immediately.
                            <br /><br />
                            <span class="red">
                                You hereby authorize disc|zump to charge you automatically every month until you cancel your subscription. For information, check out our <a class="dz-blue hover-underline" href="/terms">Terms and Conditions.</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="page-info attention light" ng-if="accountMethod == 'downgrade-profile'">
                    <div class="page-info-title">
                        Downgrading a paid membership?
                    </div>
                    <div class="page-info-body">
                        We see that you are attempting to downgrade your paid membership. You don't have to worry about the payment details, we will go ahead and update your billing profile 
                        to account for the new membership recurring charge. Your account change will take effect at the end of your current billing cycle.
                    </div>
                </div>
                <div class="page-info attention light" ng-if="accountMethod == 'no-profile' && account.profile.exists">
                    <div class="page-info-title">
                        Previous profile found
                    </div>
                    <div class="page-info-body">
                        A previous payment method has been found for your account.
                        <div class="page-info-dl">
                            <dl class="dl-horizontal">
                              <dt>Account:</dt>
                              <dd ng-if="account.profile.tender == 'C'">{{account.profile.acct | cc}}</dd>
                              <dd ng-if="account.profile.tender == 'P'">PayPal Account</dd>
                            </dl>
                            <dl class="dl-horizontal" ng-if="account.profile.tender == 'C'">
                              <dt>Expiration:</dt>
                              <dd>{{account.profile.expDate | exp}}</dd>
                            </dl>
                        </div>
                        Please make a selection to continue:
                        <div class="confirm-action radio">
                            <label style="font-weight: normal;"><input type="radio" ng-model="confirm.paymentMethod" value="useExisting"/> Use existing payment method above</label>
                            <label style="font-weight: normal;"><input type="radio" ng-model="confirm.paymentMethod" value="createNew"/> Enter new payment method</label>
                        </div>
                        <div ng-show="confirm.paymentMethod == 'useExisting'" class="legal-statement legal-container">
                            By clicking confirm, you agree to allow disc|zump to charge the above payment method the amount required to upgrade to the selected membership (${{type | memCost}}). This amount will be prorated if you are in the 
                            middle of your billing cycle. In this case, you will only be charged the amount you have yet to pay to reach the required monthly membership fee for this billing cycle. Your account changes will take 
                            place immediately.
                            <br /><br />
                            <span class="red">
                                You hereby authorize disc|zump to charge you automatically every month until you cancel your subscription. For information, check out our <a class="dz-blue hover-underline" href="/terms" target="_blank">Terms and Conditions.</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="confirm-action" ng-show="accountMethod != 'no-profile' || confirm.paymentMethod == 'useExisting'" style="text-align: right;">
                    <label style="font-weight: normal;"><input type="checkbox" ng-model="confirm.opAct"/> I have read and accept the above information</label>
                </div>
            </div>
            <div class="upgrade-btn-container">
                <div class="notify-button pull-right" ng-if="accountMethod != 'no-profile'"><a class="btn btn-default" style="background-color: #ffba00;" ng-class="{'disabled':!confirm.opAct}" ng-click="confirm.opAct && confirmChange()">Confirm Change <span ng-show="confirmLoading"><i class="fa fa-spin fa-spinner"></i></span></a></div>
                <div class="notify-button pull-right" ng-if="accountMethod == 'no-profile'" ng-show="confirm.paymentMethod == 'useExisting'"><a class="btn btn-default" style="background-color: #ffba00;" ng-class="{'disabled':!confirm.opAct}" ng-click="confirm.opAct && confirm.paymentMethod == 'useExisting' && confirmChange()">Confirm Upgrade <span ng-show="confirmLoading"><i class="fa fa-spin fa-spinner"></i></span></a></div>
                <div class="notify-button pull-right" ng-if="accountMethod == 'no-profile'" ng-show="confirm.paymentMethod == 'createNew'"><a class="btn btn-default" style="background-color: #ffba00;" ng-click="confirm.paymentMethod == 'createNew' && showBilling()">Continue to Billing</a></div>
                <div class="notify-button pull-left"><a class="btn btn-default" href="/account/membership">Cancel</a></div>
                <div class="clearfix">

                </div>
            </div>
        </div>
        <div ng-show="form.showBilling" ng-if="accountMethod == 'no-profile'" id="billing-container">
            <div class="upgrade-container">
                <div class="upgrade-container-title">
                    Billing Information
                </div>
                <div class="billing-form form-horizontal " ng-form name="billingForm">
                    <div class="form-group">
                        <label for="billing-first-name" class="col-sm-4 control-label">
                            First Name
                        </label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control validation" id="billing-first-name" name="firstName" placeholder="First name" ng-model="billing.firstName" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="billing-last-name" class="col-sm-4 control-label">
                            Last Name
                        </label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control validation" id="billing-last-name" name="lastName" placeholder="Last name" ng-model="billing.lastName" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="billing-street" class="col-sm-4 control-label">
                            Address 1
                        </label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control validation" id="billing-street" name="street" placeholder="Address 1" ng-model="billing.street" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="billing-street2" class="col-sm-4 control-label">
                            Address 2
                        </label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control validation" id="billing-street2" name="street2" placeholder="Address 2" ng-model="billing.street2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="billing-city" class="col-sm-4 control-label">
                            City
                        </label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control validation" id="billing-city" name="city" placeholder="City" ng-model="billing.city" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="billing-state" class="col-sm-4 control-label">
                            State
                        </label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control validation" id="billing-state" name="state" placeholder="State" ng-model="billing.state" required ng-maxlength="2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="billing-postal" class="col-sm-4 control-label">
                            Postal Code
                        </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control validation" id="billing-postal" name="postalCode" placeholder="Postal Code" ng-model="billing.postalCode" required ng-minlength="5" ng-maxlength="9" pattern="\d+">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="billing-country" class="col-sm-4 control-label">
                            Country
                        </label>
                        <div class="col-sm-4">
                            <select ng-model="billing.country" placeholder="Country" name="country" required ng-init="billing.country='US'">
                                <option value="AF">Afghanistan</option>
                                <option value="AX">Aland Islands</option>
                                <option value="AL">Albania</option>
                                <option value="DZ">Algeria</option>
                                <option value="AS">American Samoa</option>
                                <option value="AD">Andorra</option>
                                <option value="AO">Angola</option>
                                <option value="AI">Anguilla</option>
                                <option value="AQ">Antarctica</option>
                                <option value="AG">Antigua and Barbuda</option>
                                <option value="AR">Argentina</option>
                                <option value="AM">Armenia</option>
                                <option value="AW">Aruba</option>
                                <option value="AU">Australia</option>
                                <option value="AT">Austria</option>
                                <option value="AZ">Azerbaijan</option>
                                <option value="BS">Bahamas</option>
                                <option value="BH">Bahrain</option>
                                <option value="BD">Bangladesh</option>
                                <option value="BB">Barbados</option>
                                <option value="BY">Belarus</option>
                                <option value="BE">Belgium</option>
                                <option value="BZ">Belize</option>
                                <option value="BJ">Benin</option>
                                <option value="BM">Bermuda</option>
                                <option value="BT">Bhutan</option>
                                <option value="BO">Bolivia</option>
                                <option value="BA">Bosnia and Herzegovina</option>
                                <option value="BW">Botswana</option>
                                <option value="BV">Bouvet Island</option>
                                <option value="BR">Brazil</option>
                                <option value="IO">British Indian Ocean Territory</option>
                                <option value="BN">Brunei Darussalam</option>
                                <option value="BG">Bulgaria</option>
                                <option value="BF">Burkina Faso</option>
                                <option value="BI">Burundi</option>
                                <option value="KH">Cambodia</option>
                                <option value="CM">Cameroon</option>
                                <option value="CA">Canada</option>
                                <option value="CV">Cape Verde</option>
                                <option value="KY">Cayman Islands</option>
                                <option value="CF">Central African Republic</option>
                                <option value="TD">Chad</option>
                                <option value="CL">Chile</option>
                                <option value="CN">China</option>
                                <option value="CX">Christmas Island</option>
                                <option value="CC">Cocos (Keeling) Islands</option>
                                <option value="CO">Colombia</option>
                                <option value="KM">Comoros</option>
                                <option value="CG">Congo</option>
                                <option value="CD">Congo, The Democratic Republic of The</option>
                                <option value="CK">Cook Islands</option>
                                <option value="CR">Costa Rica</option>
                                <option value="CI">Cote D'ivoire</option>
                                <option value="HR">Croatia</option>
                                <option value="CU">Cuba</option>
                                <option value="CY">Cyprus</option>
                                <option value="CZ">Czech Republic</option>
                                <option value="DK">Denmark</option>
                                <option value="DJ">Djibouti</option>
                                <option value="DM">Dominica</option>
                                <option value="DO">Dominican Republic</option>
                                <option value="EC">Ecuador</option>
                                <option value="EG">Egypt</option>
                                <option value="SV">El Salvador</option>
                                <option value="GQ">Equatorial Guinea</option>
                                <option value="ER">Eritrea</option>
                                <option value="EE">Estonia</option>
                                <option value="ET">Ethiopia</option>
                                <option value="FK">Falkland Islands (Malvinas)</option>
                                <option value="FO">Faroe Islands</option>
                                <option value="FJ">Fiji</option>
                                <option value="FI">Finland</option>
                                <option value="FR">France</option>
                                <option value="GF">French Guiana</option>
                                <option value="PF">French Polynesia</option>
                                <option value="TF">French Southern Territories</option>
                                <option value="GA">Gabon</option>
                                <option value="GM">Gambia</option>
                                <option value="GE">Georgia</option>
                                <option value="DE">Germany</option>
                                <option value="GH">Ghana</option>
                                <option value="GI">Gibraltar</option>
                                <option value="GR">Greece</option>
                                <option value="GL">Greenland</option>
                                <option value="GD">Grenada</option>
                                <option value="GP">Guadeloupe</option>
                                <option value="GU">Guam</option>
                                <option value="GT">Guatemala</option>
                                <option value="GG">Guernsey</option>
                                <option value="GN">Guinea</option>
                                <option value="GW">Guinea-bissau</option>
                                <option value="GY">Guyana</option>
                                <option value="HT">Haiti</option>
                                <option value="HM">Heard Island and Mcdonald Islands</option>
                                <option value="VA">Holy See (Vatican City State)</option>
                                <option value="HN">Honduras</option>
                                <option value="HK">Hong Kong</option>
                                <option value="HU">Hungary</option>
                                <option value="IS">Iceland</option>
                                <option value="IN">India</option>
                                <option value="ID">Indonesia</option>
                                <option value="IR">Iran, Islamic Republic of</option>
                                <option value="IQ">Iraq</option>
                                <option value="IE">Ireland</option>
                                <option value="IM">Isle of Man</option>
                                <option value="IL">Israel</option>
                                <option value="IT">Italy</option>
                                <option value="JM">Jamaica</option>
                                <option value="JP">Japan</option>
                                <option value="JE">Jersey</option>
                                <option value="JO">Jordan</option>
                                <option value="KZ">Kazakhstan</option>
                                <option value="KE">Kenya</option>
                                <option value="KI">Kiribati</option>
                                <option value="KP">Korea, Democratic People's Republic of</option>
                                <option value="KR">Korea, Republic of</option>
                                <option value="KW">Kuwait</option>
                                <option value="KG">Kyrgyzstan</option>
                                <option value="LA">Lao People's Democratic Republic</option>
                                <option value="LV">Latvia</option>
                                <option value="LB">Lebanon</option>
                                <option value="LS">Lesotho</option>
                                <option value="LR">Liberia</option>
                                <option value="LY">Libyan Arab Jamahiriya</option>
                                <option value="LI">Liechtenstein</option>
                                <option value="LT">Lithuania</option>
                                <option value="LU">Luxembourg</option>
                                <option value="MO">Macao</option>
                                <option value="MK">Macedonia, The Former Yugoslav Republic of</option>
                                <option value="MG">Madagascar</option>
                                <option value="MW">Malawi</option>
                                <option value="MY">Malaysia</option>
                                <option value="MV">Maldives</option>
                                <option value="ML">Mali</option>
                                <option value="MT">Malta</option>
                                <option value="MH">Marshall Islands</option>
                                <option value="MQ">Martinique</option>
                                <option value="MR">Mauritania</option>
                                <option value="MU">Mauritius</option>
                                <option value="YT">Mayotte</option>
                                <option value="MX">Mexico</option>
                                <option value="FM">Micronesia, Federated States of</option>
                                <option value="MD">Moldova, Republic of</option>
                                <option value="MC">Monaco</option>
                                <option value="MN">Mongolia</option>
                                <option value="ME">Montenegro</option>
                                <option value="MS">Montserrat</option>
                                <option value="MA">Morocco</option>
                                <option value="MZ">Mozambique</option>
                                <option value="MM">Myanmar</option>
                                <option value="NA">Namibia</option>
                                <option value="NR">Nauru</option>
                                <option value="NP">Nepal</option>
                                <option value="NL">Netherlands</option>
                                <option value="AN">Netherlands Antilles</option>
                                <option value="NC">New Caledonia</option>
                                <option value="NZ">New Zealand</option>
                                <option value="NI">Nicaragua</option>
                                <option value="NE">Niger</option>
                                <option value="NG">Nigeria</option>
                                <option value="NU">Niue</option>
                                <option value="NF">Norfolk Island</option>
                                <option value="MP">Northern Mariana Islands</option>
                                <option value="NO">Norway</option>
                                <option value="OM">Oman</option>
                                <option value="PK">Pakistan</option>
                                <option value="PW">Palau</option>
                                <option value="PS">Palestinian Territory, Occupied</option>
                                <option value="PA">Panama</option>
                                <option value="PG">Papua New Guinea</option>
                                <option value="PY">Paraguay</option>
                                <option value="PE">Peru</option>
                                <option value="PH">Philippines</option>
                                <option value="PN">Pitcairn</option>
                                <option value="PL">Poland</option>
                                <option value="PT">Portugal</option>
                                <option value="PR">Puerto Rico</option>
                                <option value="QA">Qatar</option>
                                <option value="RE">Reunion</option>
                                <option value="RO">Romania</option>
                                <option value="RU">Russian Federation</option>
                                <option value="RW">Rwanda</option>
                                <option value="SH">Saint Helena</option>
                                <option value="KN">Saint Kitts and Nevis</option>
                                <option value="LC">Saint Lucia</option>
                                <option value="PM">Saint Pierre and Miquelon</option>
                                <option value="VC">Saint Vincent and The Grenadines</option>
                                <option value="WS">Samoa</option>
                                <option value="SM">San Marino</option>
                                <option value="ST">Sao Tome and Principe</option>
                                <option value="SA">Saudi Arabia</option>
                                <option value="SN">Senegal</option>
                                <option value="RS">Serbia</option>
                                <option value="SC">Seychelles</option>
                                <option value="SL">Sierra Leone</option>
                                <option value="SG">Singapore</option>
                                <option value="SK">Slovakia</option>
                                <option value="SI">Slovenia</option>
                                <option value="SB">Solomon Islands</option>
                                <option value="SO">Somalia</option>
                                <option value="ZA">South Africa</option>
                                <option value="GS">South Georgia and The South Sandwich Islands</option>
                                <option value="ES">Spain</option>
                                <option value="LK">Sri Lanka</option>
                                <option value="SD">Sudan</option>
                                <option value="SR">Suriname</option>
                                <option value="SJ">Svalbard and Jan Mayen</option>
                                <option value="SZ">Swaziland</option>
                                <option value="SE">Sweden</option>
                                <option value="CH">Switzerland</option>
                                <option value="SY">Syrian Arab Republic</option>
                                <option value="TW">Taiwan, Province of China</option>
                                <option value="TJ">Tajikistan</option>
                                <option value="TZ">Tanzania, United Republic of</option>
                                <option value="TH">Thailand</option>
                                <option value="TL">Timor-leste</option>
                                <option value="TG">Togo</option>
                                <option value="TK">Tokelau</option>
                                <option value="TO">Tonga</option>
                                <option value="TT">Trinidad and Tobago</option>
                                <option value="TN">Tunisia</option>
                                <option value="TR">Turkey</option>
                                <option value="TM">Turkmenistan</option>
                                <option value="TC">Turks and Caicos Islands</option>
                                <option value="TV">Tuvalu</option>
                                <option value="UG">Uganda</option>
                                <option value="UA">Ukraine</option>
                                <option value="AE">United Arab Emirates</option>
                                <option value="GB">United Kingdom</option>
                                <option value="US" selected>United States</option>
                                <option value="UM">United States Minor Outlying Islands</option>
                                <option value="UY">Uruguay</option>
                                <option value="UZ">Uzbekistan</option>
                                <option value="VU">Vanuatu</option>
                                <option value="VE">Venezuela</option>
                                <option value="VN">Viet Nam</option>
                                <option value="VG">Virgin Islands, British</option>
                                <option value="VI">Virgin Islands, U.S.</option>
                                <option value="WF">Wallis and Futuna</option>
                                <option value="EH">Western Sahara</option>
                                <option value="YE">Yemen</option>
                                <option value="ZM">Zambia</option>
                                <option value="ZW">Zimbabwe</option>
                            </select>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="page-info attention light" ng-if="accountMethod == 'no-profile'">
                    <div class="page-info-body legal-statement">
                        disc|zump will charge your card for the immediate amount of ${{type | memCost}}. Thereafter, your account will be charged the same amount on a monthly basis.
                        <br /><br />
                        By clicking confirm, you agree to allow disc|zump to charge your account the amount required to upgrade to the selected membership (${{type | memCost}}). This amount will be prorated if you are in the 
                        middle of your billing cycle. In this case, you will only be charged the amount you have yet to pay to reach the required monthly membership fee for this billing cycle. Your account changes 
                        will take place immediately.
                        <br /><br />
                        <span class="red">
                            You hereby authorize disc|zump to charge you automatically every month until you cancel your subscription. For information, check out our <a class="dz-blue hover-underline" href="/terms" target="_blank">Terms and Conditions.</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="upgrade-btn-container">
                <div class="notify-button pull-right" ng-if="accountMethod == 'no-profile'"><a class="btn btn-default" style="background-color: #ffba00;" ng-disabled="billingForm.$invalid" ng-click="!billingForm.$invalid && showPayment()">Continue to Payment</a></div>
                <div class="notify-button pull-left"><a class="btn btn-default" href="/account/membership">Cancel</a></div>
                <div class="clearfix">
                </div>
            </div>
        </div>
        <div ng-show="form.showPayment" ng-if="accountMethod == 'no-profile'" id="payment-container">
            <div class="upgrade-container">
                <div class="upgrade-container-title">
                    Payment Information
                </div>
                <div class="page-info attention light" ng-if="accountMethod == 'no-profile'">
                    <div class="page-info-title">
                        Confirmation of Changes
                    </div>
                    <div class="page-info-body">
                       <div ng-show="!request" style="text-align: center;">
                           <span><i class="fa fa-spin fa-spinner"></i></span>
                        </div>
                       <div class="page-info-dl" ng-show="request">
                            <dl class="dl-horizontal">
                              <dt>Active Membership:</dt>
                              <dd>{{request.fromAccount.type | memType}}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                              <dt>New Membership:</dt>
                              <dd>{{request.toAccount.type | memType}}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                              <dt>Cost Today:</dt>
                              <dd>${{request.immediateCharge | number: 2}}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                              <dt>Recurring Charge:</dt>
                              <dd>${{request.toAccount.amount | number: 2}} /month</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="page-info-sep">
                    </div>
                    <div class="page-info-title">
                        Patience is a virtue!
                    </div>
                    <div class="page-info-body">
                        Please be patient after your submit your information. Do NOT refresh or leave this page - you will be automatically redirected once the payment has been processed.
                    </div>
                </div>
                <div class="paypal-container">
                    <div class="paypal-loader" ng-show="paypalLoading">
                        <i class="fa fa-spin fa-spinner"></i>
                    </div>
                    <dyn-iframe config="paypalConfig"></dyn-iframe>
                </div>
            </div>
        </div>
    </div>
    <dz-footer></dz-footer>
</div>