<!doctype html>
<html>
<head>
    <title>DiscZump - Dashboard</title>
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="/static/css/mobile/dashboard.css">
    <link rel="stylesheet" href="/static/css/dropzone.css">
    <script src="https://cdn.rawgit.com/exif-js/exif-js/master/exif.js"></script>
    <script src="/static/js/dropzone.js"></script>
    <script src="/static/js/validation.js"></script>
    <script src="/static/js/mobile/dashboard.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
    <div data-role="panel" id="side-panel" data-position="left" data-display="reveal" data-position-fixed="true" >
        <div class="ui-panel-inner">
            <div class="panel panel-main settings-panel" id="settings-container">
                <div class="custom-panel panel-dark">
                    <div class="panel-heading">Settings</div>
                    <ul class="list-group">
                        <a class="list-group-item panel-link-item clickable" id="settings-filter" panel-href="#filter-container">Filter <i class="fa fa-filter fa-fw pull-right"></i></a>
                        <a class="list-group-item panel-link-item clickable" id="settings-colorize" panel-href="#colorize-container">Colorize <i class="fa fa-adjust fa-fw pull-right"></i></a>
                    </ul>
                </div>
                <span class="panel-btn" id="add-disc-btn" data-role="button" data-inline="true" data-transition="fade">Add Disc</span>
            </div>
            <div class="panel settings-panel panel-dark" id="filter-container">
                <div class="panel-heading"><i class="btn-back fa fa-arrow-left fa-fw pull-left" panel-href="#settings-container"></i>Filter</div>
                <ul class="list-group" id="filter-list">
                </ul>
            </div>
            <div class="panel settings-panel panel-dark" id="colorize-container">
                <div class="panel-heading"><i class="btn-back fa fa-arrow-left fa-fw pull-left" panel-href="#settings-container"></i>Colorize</div>
                <ul class="list-group" id="colorize-list">
                </ul>
            </div>
        </div>
    </div>
    <div data-role="page" id="disc-inventory">
        <div data-role="content">
            <div class="dz-page disc-inventory-list" id="disc-inventory-container">
            </div>
            <div class="dz-page" id="add-disc">
                <div data-role="header">
                    <div class="dz-header"><span class="header-left"><i class="fa fa-close dz-page-back"></i></span><div class="header-title"></div></div>
                </div>
                <div data-role="content">
                    <div class="mobile-add-disc-container">
                        <div class="mobile-form-horizontal">
                            <label for="brand" class="ui-hidden-accessible">Brand</label>
                            <input id="add-disc-brand" type="text" data-clear-btn="true" name="brand" param="brand" value="" placeholder="Brand">
                            <label for="name" class="ui-hidden-accessible">Name</label>
                            <input id="add-disc-name" type="text" data-clear-btn="true" name="name" param="name" value="" placeholder="Name">
                            <span class="ui-btn ui-shadow" id="add-disc-images"><span><i class="fa fa-plus-circle fa-2x"></i></span><br>Pictures (<span id="file-count">0</span>)</span>
                            <div class="total-upload-progress"></div>
                        </div>
                    </div>
                    <div class="btn-bottom">
                        <span id="add-disc-submit" class="ui-btn ui-shadow">Save</span>
                    </div>
                </div>
            </div>
            <div class="dz-page" id="add-disc-image">
                <div data-role="header">
                    <div class="dz-header"><span class="header-left"><i class="fa fa-arrow-left dz-page-back"></i></span>Add Pictures<span class="header-right"><i id="add-disc-image-edit" class="fa fa-pencil"></i></span></div>
                </div>  
                <div data-role="content">
                    <div class="image-list dropzone-area" id="dropzone-container">
                        <div class="image-list-container" id="dropzone-previews">
                            <div class="image-item-container image-add float-left" id="dropzone-trigger">
                                <div class="image-item image-default">
                                    <div class="image-entity">
                                        <span><i class="fa fa-camera-retro fa-4x"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dim-overlay">
        <div class="loading-container">
            <div><i class="fa fa-spinner fa-pulse fa-3x"></i></div>
            <div class="loading-info">Loading...</div>
        </div>
    </div>
</body>
</html>