<div class="scrollable" id="disc">
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="navbar-brand navbar-brand-center" ui-yield-to="title">
            {{title}}
        </div>
        <div class="btn-group pull-left">
            <div ng-click="nav('/#')" class="btn">
                <i class="fa fa-home fa-lg"></i>
            </div>
        </div>
        <div class="btn-group pull-right" ui-yield-to="navbarAction">
            <div class="btn" ng-click="dropdown = !dropdown">
                <i class="fa fa-share-alt fa-lg"></i>
            </div>
        </div>
    </div>
    <div class="app-body" ng-class="{loading: loading}">
        <div ng-show="loading" class="app-content-loading">
            <i class="fa fa-spinner fa-spin loading-spinner"></i>
        </div>
        <div class="app-content">
            <div class="scrollable-content" id="view-disc" ng-class="{'has-footer': footer}">
                <div class="page-info" ng-show="!disc.visible">
                    <span><i class="fa fa-eye-slash"></i></span> This disc can only be viewed by you.
                </div>
                <div class="disc-image" ng-show="$def(disc)">
                    <div ng-click="showImageList()">
                        <span class="disc-icon" ng-show="disc.imageList.length"><i class="fa fa-photo"></i></span>
                        <img ng-src="{{getPrimaryImage()}}">
                    </div>
                </div>
                <table class="disc-info-table" ng-show="$def(disc)">
                    <tr>
                        <td>Brand:</td>
                        <td>{{disc.brand}}</td>
                    </tr>
                    <tr>
                        <td>Name:</td>
                        <td>{{disc.name}}</td>
                    </tr>
                    <tr ng-show="$def(user)">
                        <td>Owner:</td>
                        <td>{{user.username}}</td>
                    </tr>
                    <tr ng-show="disc.type">
                        <td>Type:</td>
                        <td>{{disc.type}}</td>
                    </tr>
                    <tr ng-show="disc.material">
                        <td>Material:</td>
                        <td>{{disc.material}}</td>
                    </tr>
                    <tr ng-show="disc.color">
                        <td>Color:</td>
                        <td>{{disc.color}}</td>
                    </tr>
                    <tr ng-show="disc.weight">
                        <td>Weight:</td>
                        <td>{{disc.weight}}g</td>
                    </tr>
                    <tr ng-show="disc.condition">
                        <td>Condition:</td>
                        <td>{{disc.condition}}/10</td>
                    </tr>
                </table>
                <table class="disc-stats" ng-show="$def(disc)">
                    <tr>
                        <td class="disc-flight-number">
                            <p class="fn-title">Speed</p>
                            <p class="fn-value" ng-show="disc.speed">{{disc.speed}}</p>
                            <p class="fn-value" ng-show="!disc.speed">--</p>
                        </td>
                        <td class="disc-flight-number">
                            <p class="fn-title">Glide</p>
                            <p class="fn-value" ng-show="disc.glide">{{disc.glide}}</p>
                            <p class="fn-value" ng-show="!disc.glide">--</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="disc-flight-number">
                            <p class="fn-title">Turn</p>
                            <p class="fn-value" ng-show="disc.turn">{{disc.turn}}</p>
                            <p class="fn-value" ng-show="!disc.turn">--</p>
                        </td>
                        <td class="disc-flight-number">
                            <p class="fn-title">Fade</p>
                            <p class="fn-value" ng-show="disc.fade">{{disc.fade}}</p>
                            <p class="fn-value" ng-show="!disc.fade">--</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="options-container" ng-show="dropdown" class="fade">
    <a class="option-item" ng-href="#/disc/{{disc._id}}/edit">
        <span><i class="fa fa-pencil fa-lg"></i>Edit Disc</span>
    </a>
    <a class="option-item" ng-href="">
        <span><i class="fa fa-link fa-lg"></i>Share Public Link</span>
    </a>
    <a class="option-item facebook" ng-href="{{shareLink()}}">
        <span><i class="fa fa-facebook-square fa-lg"></i>Share to Facebook</span>
    </a>
</div>