<div class="scrollable" id="modify-disc-pg">
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="navbar-brand navbar-brand-center" ui-yield-to="title">
            <span ng-if="!settings.editMode">Create Disc</span>
            <span ng-if="settings.editMode">Edit Disc</span>
        </div>
        <div class="btn-group pull-left" ng-if="settings.editMode">
            <div ng-click="goBack()" class="btn">
                <i class="fa fa-ban fa-lg"></i>
            </div>
        </div>
        <div class="btn-group pull-left" ng-if="!settings.editMode">
            <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle">
                <i class="fa fa-bars fa-lg"></i>
            </div>
        </div>
        <div class="btn-group pull-right" ui-yield-to="navbarAction" ng-if="!settings.editMode">
            <div class="btn" ng-click="temp.resetDisc = true">
                <i class="fa fa-eraser fa-lg"></i>
            </div>
        </div>
    </div>
    <div class="app-body" ng-class="{loading: 'settings.loading || (!settings.modulesLoaded && settings.page == 2)'}">
        <div ng-show="settings.loading || (!settings.modulesLoaded && settings.page == 2)" class="app-content-loading">
            <i class="fa fa-spinner fa-spin loading-spinner"></i>
        </div>
        <div class="app-content">
            <div class="scrollable-content" id="modify-disc-pg0" ng-show="settings.page==0">
                <ng-form name="forms.discData" novalidate >
                    <div class="header-row">General</div>
                    <div class="item-row">
                        <input dz-fill="brand" ng-model="disc.brand" ng-required="true" type="text" class="form-control" placeholder="Brand (ex. Innova)"/>
                    </div>
                    <div class="item-row">
                        <input dz-fill="name" ng-model="disc.name" ng-required="true" type="text" class="form-control" placeholder="Name (ex. Destroyer)"/>
                    </div>
                    <div class="item-row">
                        <select ng-model="disc.type" class="form-control" placeholder="Select Type">
                            <option value="" disabled selected hidden>Select Type...</option>
                            <option value="Distance Driver">Distance Driver</option>
                            <option value="Fairway Driver">Fairway Driver</option>
                            <option value="Mid-range">Mid-range</option>
                            <option value="Putt/Approach">Putt/Approach</option>
                            <option value="Mini">Mini</option>
                        </select>
                    </div>
                    <div class="item-row">
                        <input dz-fill="material" ng-model="disc.material" type="text" class="form-control" placeholder="Material (ex. Champion)"/>
                    </div>
                    <div class="item-row">
                        <input ng-model="disc.weight" type="text" ng-pattern="/^[0-9]{1,3}$/" class="form-control" placeholder="Weight (ex. 172)"/>
                    </div>
                    <div class="item-row">
                        <input dz-fill="color" ng-model="disc.color" type="text" class="form-control" placeholder="Color (ex. Orange)"/>
                    </div>
                    <div style="height: 10px"></div>
                    <div class="header-row">Advanced</div>
                    <div class="dual-item-row">
                        <input ng-model="disc.speed" type="text" ng-pattern="/^[0-9]{1,2}$/" class="dual-item form-control" placeholder="Speed (ex. 12)"/>
                        <input ng-model="disc.glide" type="text" ng-pattern="/^[0-9]{1,2}$/" class="dual-item form-control" placeholder="Glide (ex. 5)"/>
                        <div class="clearfix"></div>
                    </div>
                    <div class="dual-item-row">
                        <input ng-model="disc.turn" type="text" ng-pattern="/^-?[0-9]$/" class="dual-item form-control" placeholder="Turn (ex. -1)"/>
                        <input ng-model="disc.fade" type="text" ng-pattern="/^-?[0-9]$/" class="dual-item form-control" placeholder="Fade (ex. 3)"/>
                        <div class="clearfix"></div>
                    </div>
                    <div class="item-row">
                        <textarea ng-model="disc.notes" class="form-control" rows="3" placeholder="ex. Found on hole 7 at..." style="resize:none;"></textarea>
                    </div>
                    <div class="item-row">
                        <input ng-model="disc.condition" type="text" ng-min="1" ng-max="10" ng-pattern="/^[0-9]{1,2}$/" class="form-control" placeholder="Condition [1 - 10]"/>
                    </div>
                    <div class="item-row">
                        <div class="dz-switch">
                            Visible
                            <ui-switch ng-model="disc.visible"></ui-switch>
                        </div>
                    </div>
                    <div style="height: 70px"></div>
                </ng-form>
            </div>
            <div class="scrollable-content" id="modify-disc-pg1" ng-show="settings.page==1">
                <div style="height: 20px"></div>
                <div class="item-row">
                    <div class="input-group">
                        <input focus-on="temp.focus" ng-enter="appendTag(temp.tag, true)" ng-model="temp.tag" type="text" class="form-control" placeholder="Add Tag (ex. Destroyer Collection)"/>
                        <div class="input-group-addon"><span ng-click="appendTag(temp.tag, true)"><i class="fa fa-lg fa-angle-double-down"></i></span></div>
                    </div>
                </div>
                <div class="item-row" ng-show="temp.tagOptions.length">
                    <div id="tag-option-list">
                        <div class="tag-option" ng-repeat="tag in temp.tagOptions" ng-click="appendTag(tag)">{{tag}}</div>
                    </div>
                </div>
                <div class="item-row">
                    <div id="tag-list">
                        <div ng-repeat="tag in disc.tagList" class="tag-item" ng-click="temp.activeTag = tag" ng-class="{active: 'temp.activeTag == tag'}">{{tag}}</div>
                    </div>
                </div>
                <div style="height: 70px"></div>
                <div class="backdrop" ng-show="temp.activeTag">
                    <div class="dz-modal">
                        <div class="dz-modal-title modal-row">{{temp.activeTag}}</div>
                        <div class="dz-modal-btn" ng-click="removeTag()">Remove Tag</div>
                        <div class="dz-modal-btn close-modal" ng-click="temp.activeTag = undefined">Close</div>
                    </div>
                </div>
            </div>
            <div class="scrollable-content" id="modify-disc-pg2" ng-show="settings.page==2">
                <div class="header-row">Current Images</div>
                <div class="item-row">
                    <div class="image-list">
                        <div ng-repeat="image in disc.imageList" class="image-item" style="width:{{imgSize}}px;height:{{imgSize}}px;" ng-click="selectImage(image._id, image.thumbnailId)">
                            <img ng-src="/files/{{image.thumbnailId}}" style="width:{{imgSize}}px;height:{{imgSize}}px;">
                            <div class="primary-image" ng-show="disc.primaryImage == image._id"><span ng-show="disc.primaryImage == image._id"><i class="fa fa-star fa-lg"></i></span></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div style="height: 20px"></div>
                <div class="header-row" ng-show="settings.dropzoneProcessing">Processing...</div>
                <div class="item-row">
                    <div>
                        <div class="image-list" id="dropzone-container" directive-on="settings.modulesLoaded" directive-set="{dropzone: 'dropzoneConfig'}">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div style="height: 70px"></div>
                <div id="add-image-pos">
                    <button type="button" id="add-image" class="btn"><span><i class="fa fa-camera fa-2x"></i></span></button>
                </div>
                <div class="backdrop" ng-show="temp.activeImage">
                    <div class="dz-modal">
                        <img class="modal-row" ng-src="/files/{{temp.activeImageThumbnail}}">
                        <div class="dz-modal-btn" ng-click="makePrimary()">Make Primary</div>
                        <div class="dz-modal-btn" ng-click="removeImage()">Remove Image</div>
                        <div class="dz-modal-btn close-modal" ng-click="temp.activeImage = undefined">Close</div>
                    </div>
                </div>
            </div>
            <div class="backdrop" ng-show="temp.resetDisc">
                <div class="dz-modal">
                    <div class="dz-modal-title modal-row">This will erase all form data, tags, and images. Continue?</div>
                    <div class="dz-modal-btn" ng-click="resetDisc()">Continue</div>
                    <div class="dz-modal-btn close-modal" ng-click="temp.resetDisc = undefined">Close</div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-footer dual-btn" ng-show="settings.page == 0">
        <div class="nav-footer-btn"></div>
        <div class="nav-footer-btn text" ng-show="forms.discData.$invalid">Form Invalid</div>
        <div class="nav-footer-btn" ng-click="settings.page=1" ng-hide="forms.discData.$invalid">
            <span><i class="fa fa-long-arrow-right"></i></span>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="nav-footer dual-btn" ng-show="settings.page == 1">
        <div class="nav-footer-btn" ng-click="settings.page=0">
            <span><i class="fa fa-long-arrow-left"></i></span>
        </div>
        <div class="nav-footer-btn" ng-click="settings.page=2">
            <span><i class="fa fa-long-arrow-right"></i></span>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="nav-footer dual-btn" ng-show="settings.page == 2">
        <div class="nav-footer-btn" ng-click="settings.page=1">
            <span><i class="fa fa-long-arrow-left"></i></span>
        </div>
        <div class="nav-footer-btn text" ng-click="saveDisc()">
            Save
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="loading-container" ng-show="discImageCropper.cropperLoading">
    <i class="fa fa-spinner fa-spin loading-spinner"></i>
</div>
<image-cropper cropper-options="discImageCropper"></image-cropper>
<error-modal error-options="errorOpts"></error-modal>