<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
<div dz-wrapper>
    <dz-header></dz-header>
    <dz-status-bar class="header-color-2" breadcrumbs="breadcrumbs"></dz-status-bar>
    <div class="scrollable main-body">
        <div class="portal-title cont-sm" style="margin: 20px auto">
            <img src="/static/logo/logo_portal.png" />
        </div>
        <div class="page-info med attention error">
            <div class="page-info-title">
              WE HAVE DISABLED TIERED ACCOUNTS
            </div>
            <div class="page-info-body">
              As of February 2018, disc|zump no longer has tiered accounts and, instead, full functionality is available
              to all users for free.
            </div>
            <div class="page-info-sep"></div>
            <div class="page-info-title">
              Why did we do this?
            </div>
            <div class="page-info-body">
              Because, why not? Have fun and enjoy the site.
          </div>
          <div class="page-info-title">
            How does this affect me?
        </div>
        <div class="page-info-body">
            There is no limitation on how many discs can be placed on the marketplace. Simply mark your disc as "For Sale" or
            "For Trade" and it will show up on the explore page for all to see.
            </div>
        </div>
        <div class="about-section" style="padding: 20px 0px;">
            <div class="page-info small error" ng-if="account.profile && account.accountType !== account.profile.type">
                <div class="page-info-title">
                    <span><i class="fa fa-exclamation-triangle"></i></span>Account Change Pending
                </div>
                <div class="page-info-body">
                    We see that you have made a change to your membership during this billing period. The following options will reflect your pending membership level which will begin at the end of your current billing cycle.
                </div>
            </div>
            <div class="membership-container">
                <div class="membership-tile disabled">
                    <div class="membership-tile-area">
                        <div class="membership-tile-title">
                            The<br /><span class="dz-blue">{{'basic' | memType}}</span>
                        </div>
                        <div class="membership-tile-amt">
                            <div class="price">
                                ${{'basic' | memCost}}
                            </div>
                            <div class="unit">
                                /month
                            </div>
                        </div>
                        <div class="membership-tile-features">
                            <div class="membership-tile-fitem">
                                <span class="dz-blue"><i class="fa fa-star"></i></span>
                                <div>
                                    Create your own personal trunk
                                </div>
                            </div>
                            <div class="membership-tile-fitem">
                                <span class="dz-blue"><i class="fa fa-star"></i></span>
                                <div>
                                    Send and receive messages with other users
                                </div>
                            </div>
                            <div class="membership-tile-fitem">
                                <span class="dz-blue"><i class="fa fa-star"></i></span>
                                <div>
                                    Add up to <span class="dz-blue" style="font-weight: bold">2</span> discs to the global marketplace simultaneously
                                </div>
                            </div>
                        </div>
                        <div class="notify-button membership-tile-btn"><a class="btn" ng-disabled="true" ng-click="selUpgrade('basic')">Become a {{'basic' | memType}}</a></div>
                    </div>
                </div>
                <div class="membership-tile disabled">
                    <div class="membership-tile-area">
                        <div class="membership-tile-title">
                            The<br /><span class="dz-blue">{{'entry' | memType}}</span>
                        </div>
                        <div class="membership-tile-amt">
                            <div class="price">
                                ${{'entry' | memCost}}
                            </div>
                            <div class="unit">
                                /month
                            </div>
                        </div>
                        <div class="membership-tile-features">
                            <div class="membership-tile-fitem">
                                <span class="dz-blue"><i class="fa fa-star"></i></span>
                                <div>
                                    Create your own personal trunk
                                </div>
                            </div>
                            <div class="membership-tile-fitem">
                                <span class="dz-blue"><i class="fa fa-star"></i></span>
                                <div>
                                    Send and receive messages with other users
                                </div>
                            </div>
                            <div class="membership-tile-fitem">
                                <span class="dz-blue"><i class="fa fa-star"></i></span>
                                <div>
                                    Add up to <span class="dz-blue" style="font-weight: bold">6</span> discs to the global marketplace simultaneously
                                </div>
                            </div>
                            <div class="membership-tile-fitem">
                                <span class="dz-blue"><i class="fa fa-star"></i></span>
                                <div>
                                    Access to some trunk management tools
                                </div>
                            </div>
                        </div>
                        <div class="notify-button membership-tile-btn"><a class="btn" ng-disabled="true" ng-click="selUpgrade('entry')">Become a {{'entry' | memType}}</a></div>
                    </div>
                </div>
                <div class="membership-tile disabled">
                    <div class="membership-tile-area">
                        <div class="membership-tile-title">
                            The<br /><span class="dz-blue">{{'pro' | memType}}</span>
                        </div>
                        <div class="membership-tile-amt">
                            <div class="price">
                                ${{'pro' | memCost}}
                            </div>
                            <div class="unit">
                                /month
                            </div>
                        </div>
                        <div class="membership-tile-features">
                            <div class="membership-tile-fitem">
                                <span class="dz-blue"><i class="fa fa-star"></i></span>
                                <div>
                                    Create your own personal trunk
                                </div>
                            </div>
                            <div class="membership-tile-fitem">
                                <span class="dz-blue"><i class="fa fa-star"></i></span>
                                <div>
                                    Send and receive messages with other users
                                </div>
                            </div>
                            <div class="membership-tile-fitem">
                                <span class="dz-blue"><i class="fa fa-star"></i></span>
                                <div>
                                    Add <span class="dz-blue" style="font-weight: bold">unlimited</span> discs to the global marketplace simultaneously
                                </div>
                            </div>
                            <div class="membership-tile-fitem">
                                <span class="dz-blue"><i class="fa fa-star"></i></span>
                                <div>
                                    Access to all trunk management tools
                                </div>
                            </div>
                        </div>
                        <div class="notify-button membership-tile-btn"><a class="btn" ng-disabled="true" ng-click="selUpgrade('pro')">Become a {{'pro' | memType}}</a></div>
                    </div>
                </div>
                <div class="clearfix">

                </div>
            </div>
        </div>
    </div>
    <dz-footer></dz-footer>
</div>