<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
<dz-header blend="true" fixed="true"></dz-header>
<div class="scrollable main-body has-profile" id="portal">
    <div class="nav-arrow">
        <i class="fa fa-arrow-circle-down" ng-click="scrollPage()" id="nav-arrow-icon" ng-style="{'transform': transform, '-webkit-transform': transform, '-ms-transform': transform }"></i>
    </div> 
    <div center-align fit-page id="explore-search">
        <div class="portal-title cont-sm">
            <img src="/static/logo/logo_portal.png" />
        </div>
        <div class="portal-intro cont-sm">
            <div class="search-container">
                <div class="search-btn round-left no-right float-left active">
                    <i class="fa fa-database"></i>
                </div>
                <div class="search-btn round-right no-left float-right" ng-click="navExplore(searchParam)">
                    <i class="fa fa-search"></i>
                </div>
                <div class="search-bar-wrapper">
                    <input id="search-explore" ng-model-enter="navExplore(searchParam)" ng-model="searchParam" class="search-bar" type="text" placeholder="Search discs...">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="about-brief" style="margin-top: 30px;">
                disc|zump is an online <b>community</b> and <b>marketplace</b> for disc golfers interested in keeping a digital inventory of their collection as well as buying, selling and trading with others, both locally and globally.
            </div>
        </div>
    </div>
    <div dz-wrapper style="background-color: #fff;">
        <div fit-below-page id="explore-start">
            <explore-category recent="true"></explore-category>
            <div class="portal-section">
                <div class="section-title">Popular Searches</div>
                <div class="section-body" fade-time="100" fade-scroll="true">
                    <tag-list></tag-list>
                </div>
            </div>
            <explore-category field="brand" fvalue="Discraft"></explore-category>
            <explore-category field="brand" fvalue="Axiom"></explore-category>
            <explore-category field="brand" fvalue="Innova"></explore-category>
            <explore-category field="brand" fvalue="Dynamic Discs"></explore-category>
            <explore-category field="type" fvalue="Distance Driver"></explore-category>
            <explore-category field="type" fvalue="Mid-range"></explore-category>
            <explore-category field="type" fvalue="Putt/Approach"></explore-category>
        </div>
        <dz-footer></dz-footer>
    </div>
</div>