<div class="footer-bar" id="footer-bar" ng-show="footerReady">
    <div>
        <span class="footer-copyright">
            <span class="cr-main">Copyright <i class="fa fa-copyright"></i> disc|zump, LLC</span>
            <span class="cr-links">
                <a href="mailto:support@disczump.com">Contact Us</a>
                <a href="/faq">FAQ</a>
                <a href="/privacy">Privacy Policy</a>
                <a href="/terms">Terms and Conditions</a>
            </span>
        </span>
        <span class="footer-links">
          <a href="https://www.facebook.com/disczump/" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="https://twitter.com/disczump" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="https://instagram.com/disczump/" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </span>
        <div class="clearfix"></div>
    </div>
</div>