<div class="dz-info-table">
    <table>
        <tbody>
            <tr class="header-row">
                <th>Field</th>
                <th>Description</th>
                <th>Example</th>
            </tr>
            <tr>
                <td class="help-label">Speed</td>
                <td class="help-text">Enter the speed of the disc. Speed is the first of four flight numbers, and it relates to the speed at which the disc must be thrown to achieve the designed flight path.<br><b>NOTE: </b>This field only accepts positive numbers with up to 2 digits and 1 decimal place. Speed values typically range from 1 to 15.</td>
                <td class="help-ex">12</td>
            </tr>
            <tr>
                <td class="help-label">Glide</td>
                <td class="help-text">Enter the glide of the disc. Glide is the second of four flight numbers, and it relates to the disc\'s ability to stay afloat during it\'s flight.<br><b>NOTE: </b>This field only accepts positive numbers with up to 2 digits and 1 decimal place. Glide values typically range from 1 to 7.</td>
                <td class="help-ex">5</td>
            </tr>
            <tr>
                <td class="help-label">Turn</td>
                <td class="help-text">Enter the turn of the disc. Turn is the third of four flight numbers, and it relates to the disc\'s resistance to turning during the high speed portion of it\'s flight.<br><b>NOTE: </b>This field only accepts positive and negative numbers with up to 2 digits and 1 decimal place. Turn values typically range from -5 to 1.</td>
                <td class="help-ex">-1</td>
            </tr>
            <tr>
                <td class="help-label">Fade</td>
                <td class="help-text">Enter the fade of the disc. Fade is the fourth of four flight numbers, and it relates to the disc\'s resistance to turning during the low speed portion of it\'s flight.<br><b>NOTE: </b>This field only accepts positive and negative numbers with up to 2 digits and 1 decimal place. Fade values typically range from 0 to 6.</td>
                <td class="help-ex">3</td>
            </tr>
            <tr>
                <td class="help-label">Tags</td>
                <td class="help-text">Enter tags that you associate with this disc. Use tags to group discs outside of inherent traits such as brand, material, color, etc. Tags are great ways to associate discs with specific collections, bags, or tournaments. They are completely customizable, and examples include "Thrower", "CFR", "Glow", "xxx Collection", "xxx Bag", etc.<br><b>NOTE: </b>A disc can have multiple tags, and a tag can be associated with multiple discs.</td>
                <td class="help-ex">Thrower<br>Glow Bag<br>Zone Collection</td>
            </tr>
            <tr>
                <td class="help-label">Notes</td>
                <td class="help-text">Use the notes area to store detailed comments related to this disc only. Notes are completely customizable and examples may include "Found on hole 7 at...", "Won at...", "2008 World Championship stamp", "Only 1000 made", "Price includes shipping", etc.</td>
                <td class="help-ex"></td>
            </tr>
            <tr>
                <td class="help-label">Public</td>
                <td class="help-text">Toggle the visibility setting to allow or prevent other users from viewing your disc. If public mode is turned on, then your disc is visible to the public and can be shared via Facebook or public URL. If public mode is turned off, then your disc is only privately viewable by the creator and shareable links will not work.<br><b>NOTE: </b>Visibility is saved for each disc independently and it can be toggled directly from the disc page by clicking on the eyeball icon. Each disc must be marked \'Public\' before adding it to the marketplace.</td>
                <td class="help-ex"></td>
            </tr>
            <tr>
                <td class="help-label">Condition</td>
                <td class="help-text">Enter the condition of the disc based on the sleepy scale.<br><b>NOTE: </b>This field only accepts integers from 0 to 10.</td>
                <td class="help-ex">9</td>
            </tr>
            <tr>
                <td class="help-label">Value</td>
                <td class="help-text">Enter the value of the disc in USD ($).<br><b>NOTE: </b>This field only accepts numbers from 0 to 9,999.99.</td>
                <td class="help-ex">$12.50</td>
            </tr>
        </tbody>
    </table>
</div>