<div class="dz-info-table">
    <table>
        <tbody>
            <tr class="header-row">
                <th>Field</th>
                <th>Description</th>
                <th>Example</th>
            </tr>
            <tr>
                <td class="help-label">Brand</td>
                <td class="help-text">Enter the brand of the disc. (This field is required)</td>
                <td class="help-ex">Innova</td>
            </tr>
            <tr>
                <td class="help-label">Name</td>
                <td class="help-text">Enter the name/mold of the disc. (This field is required)</td>
                <td class="help-ex">Destroyer</td>
            </tr>
            <tr>
                <td class="help-label">Type</td>
                <td class="help-text">Select the type of the disc.</td>
                <td class="help-ex">Distance Driver</td>
            </tr>
            <tr>
                <td class="help-label">Material</td>
                <td class="help-text">Enter the material of the disc. Most brands have at least 3 distinct material types.</td>
                <td class="help-ex">Champion</td>
            </tr>
            <tr>
                <td class="help-label">Weight</td>
                <td class="help-text">Enter the weight of the disc in grams. The weight is frequently printed or written on the underside of the flight plate.<br><b>NOTE: </b>This field only accepts positive integers with up to 3 digits, and weights typically range from 150 to 180.</td>
                <td class="help-ex">172</td>
            </tr>
            <tr>
                <td class="help-label">Color</td>
                <td class="help-text">Enter the color of the disc.</td>
                <td class="help-ex">Orange</td>
            </tr>
        </tbody>
    </table>
</div>