<div class="dz-info-table">
    <table>
        <tbody>
            <tr class="header-row">
                <th>Icon</th>
                <th>Feature</th>
                <th>Description</th>
            </tr>
            <tr>
                <td class="ms-help-icon"><i class="fa fa-lg fa-eye"></i></td>
                <td class="ms-help-label">Visibility</td>
                <td class="ms-help-text">Use the visibility function to simultaneously set the visibility parameter of all selected discs.</td>
            </tr>
            <tr>
                <td class="ms-help-icon"><i class="fa fa-lg fa-trash"></i></td>
                <td class="ms-help-label">Delete</td>
                <td class="ms-help-text">Use the delete function to quickly delete all selected discs.</td>
            </tr>
            <tr>
                <td class="ms-help-icon"><i class="fa fa-lg fa-usd"></i></td>
                <td class="ms-help-label">Marketplace</td>
                <td class="ms-help-text">Use the marketplace function to manage the for sale/trade status of all selected discs.</td>
            </tr>
            <tr>
                <td class="ms-help-icon"><i class="fa fa-lg fa-tags"></i></td>
                <td class="ms-help-label">Tags</td>
                <td class="ms-help-text">Use the tag function to conveniently manage shared tags across all selected discs.</td>
            </tr>
            <tr>
                <td class="ms-help-icon"><i class="fa fa-lg fa-sort-amount-desc fa-flip-vertical"></i></td>
                <td class="ms-help-label">Bump</td>
                <td class="ms-help-text">Use the bump function to quickly bump all available discs within your selection.</td>
            </tr>
            <tr>
                <td class="ms-help-icon"><i class="fa fa-lg fa-object-group"></i></td>
                <td class="ms-help-label">Select All</td>
                <td class="ms-help-text">Use the select all function to load and select all discs within the current filter settings.</td>
            </tr>
            <tr>
                <td class="ms-help-icon"><i class="fa fa-lg fa-object-ungroup"></i></td>
                <td class="ms-help-label">Deselect All</td>
                <td class="ms-help-text">Use the deselect all function clear all selected discs from the multi-select tool.</td>
            </tr>
        </tbody>
    </table>
</div>