<div class="grid-item">
    <div class="grid-img-container">
        <div class="grid-img-inner">
            <div class="grid-img-content">
                <div>
                    <a class="grid-item-nav"></a>
                    <img ng-src="{{getPrimaryImage(disc)}}">
                </div>
            </div>
        </div>
    </div>
    <div class="grid-item-info">
        <div class="grid-item-label handle-overflow">
            <a class="hover-underline" ng-href="/d/{{disc._id}}">{{disc.brand}} | <span class="dz-blue">{{disc.name}}</span></a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>